flows/local/GripperA_locally.json
[{"id":"139b4b5d786846cd","type":"tab","label":"Gripper A (locally)","disabled":false,"info":"","env":[]},{"id":"23d1c0255b7f0fe1","type":"http in","z":"139b4b5d786846cd","name":"","url":"/gripper_A/handling","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["e2fa7b4893e3e71b"]]},{"id":"f4777a062a69787b","type":"comment","z":"139b4b5d786846cd","name":"Simulated Gripper action (just wait some time)","info":"","x":210,"y":60,"wires":[]},{"id":"e2fa7b4893e3e71b","type":"delay","z":"139b4b5d786846cd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":360,"y":140,"wires":[["8550af025e9d8b35"]]},{"id":"1eb4f231de1fadcc","type":"comment","z":"139b4b5d786846cd","name":"Display duration / times","info":"","x":520,"y":60,"wires":[]},{"id":"8550af025e9d8b35","type":"function","z":"139b4b5d786846cd","name":"Set finished","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":140,"wires":[["0753eb786e4b782b"]]},{"id":"0753eb786e4b782b","type":"debug","z":"139b4b5d786846cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Gripper_A finished executing\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]}]