flows/local/GripperB_locally.json
[{"id":"294c50690a572a91","type":"tab","label":"Gripper B (locally)","disabled":false,"info":"","env":[]},{"id":"7e53838e6b014aaf","type":"http in","z":"294c50690a572a91","name":"","url":"/gripper_B/handling","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["2bab312b0c6358e4"]]},{"id":"d493bb5de89950a8","type":"comment","z":"294c50690a572a91","name":"Simulated Gripper action (just wait some time)","info":"","x":210,"y":60,"wires":[]},{"id":"2bab312b0c6358e4","type":"delay","z":"294c50690a572a91","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":360,"y":140,"wires":[["86ce146f36a51c32"]]},{"id":"d9645a1e2947dde1","type":"comment","z":"294c50690a572a91","name":"Display duration / times","info":"","x":520,"y":60,"wires":[]},{"id":"86ce146f36a51c32","type":"function","z":"294c50690a572a91","name":"Set finished","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":140,"wires":[["fcfdce681e9e31ed"]]},{"id":"fcfdce681e9e31ed","type":"debug","z":"294c50690a572a91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Gripper_B finished executing\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]}]