flows/local/SensorB_locally.json
[{"id":"a5181d2a401b570a","type":"tab","label":"Sensor B (locally)","disabled":false,"info":""},{"id":"07a058351c636c47","type":"inject","z":"a5181d2a401b570a","name":"Empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":120,"wires":[["9901db4745dc0f6a"]]},{"id":"76335676ef229d7a","type":"function","z":"a5181d2a401b570a","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":120,"wires":[["b47d3d7547485d6f"]]},{"id":"2418daa2fcdfd9cd","type":"comment","z":"a5181d2a401b570a","name":"Get length from A","info":"","x":580,"y":60,"wires":[]},{"id":"a7e29a03e9a945ec","type":"comment","z":"a5181d2a401b570a","name":"Calculate stop point","info":"","x":890,"y":60,"wires":[]},{"id":"b47d3d7547485d6f","type":"http request","z":"a5181d2a401b570a","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":300,"wires":[["84b3166d620864e4"]]},{"id":"3cbce190ab7b61c0","type":"comment","z":"a5181d2a401b570a","name":"Request stop","info":"","x":250,"y":220,"wires":[]},{"id":"a798c21a76f01e81","type":"http request","z":"a5181d2a401b570a","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":830,"y":300,"wires":[["86092da4bdfc2b01"]]},{"id":"9b302ebf64dd493d","type":"comment","z":"a5181d2a401b570a","name":"Request handling capability","info":"","x":880,"y":240,"wires":[]},{"id":"84b3166d620864e4","type":"function","z":"a5181d2a401b570a","name":"select gripper","func":"const length = msg.payload.wp_length;\nif(length > 0.75){\n    gripper = \"gripper_A/handling\";\n}else{\n    gripper = \"gripper_B/handling\";\n}\n\nmsg.url = \"http://localhost:1880/\" + gripper;\nmsg.payload.gripper = gripper;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["a798c21a76f01e81"]]},{"id":"f25e80dadf23e3fe","type":"comment","z":"a5181d2a401b570a","name":"Simple gripper selection","info":"","x":580,"y":240,"wires":[]},{"id":"059c966fd99a98f5","type":"http request","z":"a5181d2a401b570a","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/sensorA/get-length","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":120,"wires":[["76335676ef229d7a"]]},{"id":"9901db4745dc0f6a","type":"function","z":"a5181d2a401b570a","name":"get Last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["059c966fd99a98f5"]]},{"id":"86092da4bdfc2b01","type":"debug","z":"a5181d2a401b570a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":300,"wires":[]},{"id":"eda7701585eb3613","type":"comment","z":"a5181d2a401b570a","name":"Workpiece arrives at B","info":"","x":140,"y":60,"wires":[]}]