flows/local/SensorA_locally.json
[{"id":"9c1ad35682a592ef","type":"tab","label":"Sensor A (locally)","disabled":false,"info":""},{"id":"e0e6a2588deb2277","type":"inject","z":"9c1ad35682a592ef","name":"Delay + empty payload","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":160,"y":120,"wires":[["6eca250165b20149"]]},{"id":"eb493475f287bda9","type":"comment","z":"9c1ad35682a592ef","name":"Overall start: Workpiece at A","info":"","x":160,"y":60,"wires":[]},{"id":"36a0b5d099f9c2d9","type":"delay","z":"9c1ad35682a592ef","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":840,"y":120,"wires":[["ed0ff41aa3734e26"]]},{"id":"ed0ff41aa3734e26","type":"function","z":"9c1ad35682a592ef","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeStartDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":120,"wires":[["200bcf456f4166c0"]]},{"id":"200bcf456f4166c0","type":"http request","z":"9c1ad35682a592ef","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/conveyor/distance-travelled","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":490,"y":280,"wires":[["c320d875b89358d5"]]},{"id":"0ebd97632a669b5f","type":"comment","z":"9c1ad35682a592ef","name":"Store duration","info":"","x":1130,"y":60,"wires":[]},{"id":"33bfbe866937a6e4","type":"comment","z":"9c1ad35682a592ef","name":"Get length from conveyor","info":"","x":490,"y":220,"wires":[]},{"id":"c320d875b89358d5","type":"function","z":"9c1ad35682a592ef","name":"store wp length locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":280,"wires":[["ec5af9d785b5b123"]]},{"id":"69dcf902c8cb3b83","type":"http in","z":"9c1ad35682a592ef","name":"","url":"/sensorA/get-length","method":"get","upload":false,"swaggerDoc":"","x":150,"y":500,"wires":[["8d192fdde295e13e"]]},{"id":"8d192fdde295e13e","type":"function","z":"9c1ad35682a592ef","name":"return length","func":"// Get WP length by retrieving the entry with the given ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":500,"wires":[["d504436d33ae0911"]]},{"id":"d504436d33ae0911","type":"http response","z":"9c1ad35682a592ef","name":"","statusCode":"","headers":{},"x":670,"y":500,"wires":[]},{"id":"279b0fb032535c2e","type":"comment","z":"9c1ad35682a592ef","name":"delay by simulated duration","info":"","x":850,"y":60,"wires":[]},{"id":"ec5af9d785b5b123","type":"debug","z":"9c1ad35682a592ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":280,"wires":[]},{"id":"3b099b489acf7633","type":"comment","z":"9c1ad35682a592ef","name":"Store workpiece info locally","info":"","x":870,"y":220,"wires":[]},{"id":"6eca250165b20149","type":"function","z":"9c1ad35682a592ef","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\");\n\nif (sensorA_timeStartDetection == undefined) {\n    sensorA_timeStartDetection = 0;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n} else {\n    sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n}\nmsg.payload.sensorA_timeStartDetection = sensorA_timeStartDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["36a0b5d099f9c2d9"]]},{"id":"3142345dfcf4b73d","type":"comment","z":"9c1ad35682a592ef","name":"Offering service to get length from Sensor A","info":"","x":210,"y":440,"wires":[]},{"id":"d2a662f6081e305b","type":"comment","z":"9c1ad35682a592ef","name":"Simulate ID detection and pass-through duration","info":"","x":520,"y":60,"wires":[]},{"id":"2aa3a42800f10caa","type":"comment","z":"9c1ad35682a592ef","name":"Return workpiece length","info":"","x":570,"y":440,"wires":[]}]