flows/allflows.json
[{"id":"4254980c8d85629c","type":"tab","label":"DF_old","disabled":false,"info":"","env":[]},{"id":"5d0689a7a8a5ef5d","type":"tab","label":"DF","disabled":false,"info":""},{"id":"5dc3c4eae51feb05","type":"tab","label":"Sensor A (GraphDB)","disabled":false,"info":""},{"id":"6c22bb87db2637ed","type":"tab","label":"ConveyorAgent","disabled":false,"info":""},{"id":"aa8ef7407d78e508","type":"tab","label":"Sensor B (GraphDB)","disabled":false,"info":""},{"id":"b83ed0147f8db264","type":"tab","label":"GripperA (large)","disabled":false,"info":""},{"id":"cc2a36bfcf451b7e","type":"tab","label":"GripperB (small)","disabled":false,"info":""},{"id":"f893e945ac40ba2d","type":"tab","label":"SensorAgent_A_lokal","disabled":false,"info":""},{"id":"d3521fa4a2d8349d","type":"tab","label":"SensorAgent_B_lokal","disabled":false,"info":""},{"id":"50c25cc5dc9b1666","type":"tab","label":"SensorAgent_A_Vorlage","disabled":false,"info":""},{"id":"7de8c13878e01fcb","type":"tab","label":"SensorAgent_B_Vorlage","disabled":false,"info":""},{"id":"c1176d77c1f8e918","type":"tab","label":"Agent_Transport","disabled":false,"info":""},{"id":"437d1b44.f1211c","type":"mqtt-broker","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49bb3dbb.972124","type":"mqtt-broker","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62227ce6.a892ec","type":"mqtt-broker","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5e860b2a.bec974","type":"mqtt-broker","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bcd4236f3e24ed8b","type":"http in","z":"4254980c8d85629c","name":"","url":"df/register-agent","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["0ce236e11d41bc72"]]},{"id":"d8310e60df3f8533","type":"http request","z":"4254980c8d85629c","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:1880/agent1/mqtt-topic","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":180,"wires":[[]]},{"id":"0ce236e11d41bc72","type":"function","z":"4254980c8d85629c","name":"","func":"msg.payload.topic = msg.payload.capability + \"_topic123\"\nmsg.payload.action = \"subscribe\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["d8310e60df3f8533","0827329d9d04b49a"]]},{"id":"0827329d9d04b49a","type":"http response","z":"4254980c8d85629c","name":"","statusCode":"","headers":{},"x":670,"y":260,"wires":[]},{"id":"df2e012b9cc52ce6","type":"mqtt out","z":"4254980c8d85629c","name":"","topic":"transport_topic123","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":350,"y":620,"wires":[]},{"id":"07cd7b749f6b8753","type":"inject","z":"4254980c8d85629c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":600,"wires":[["df2e012b9cc52ce6"]]},{"id":"cb8bc1c6a603817b","type":"function","z":"4254980c8d85629c","name":"","func":"let timeout = flow.get(\"timeout\");\nnode.warn(\"timeout vor check\")\nnode.warn(timeout)\nif(timeout) {\n    node.warn(\"yeah\")\n    flow.set(\"yeah\", true)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":480,"wires":[["3b2254759f1b74d5"]]},{"id":"e0993f6bc1ba3b67","type":"inject","z":"4254980c8d85629c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"\"asd\"","payload":"","payloadType":"date","x":320,"y":420,"wires":[["c9a0f64439fe9cc4"]]},{"id":"50bde9475b2115bd","type":"delay","z":"4254980c8d85629c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":360,"wires":[["92e2367a51402825"]]},{"id":"92e2367a51402825","type":"function","z":"4254980c8d85629c","name":"","func":"flow.set(\"timeout\", true);\nnode.warn(\"timeout set to true\")\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":360,"wires":[[]]},{"id":"6a566a584f2c8a44","type":"debug","z":"4254980c8d85629c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"yeah\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1220,"y":460,"wires":[]},{"id":"5c43ac9a2d9cc0fe","type":"trigger","z":"4254980c8d85629c","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":700,"y":520,"wires":[["cb8bc1c6a603817b"]]},{"id":"3b2254759f1b74d5","type":"switch","z":"4254980c8d85629c","name":"","property":"timeout","propertyType":"flow","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":480,"wires":[["6a566a584f2c8a44","25effd4fa18f04f7"],["e7f4efe6d9959440"]]},{"id":"e7f4efe6d9959440","type":"debug","z":"4254980c8d85629c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"waiting...\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1220,"y":520,"wires":[]},{"id":"25effd4fa18f04f7","type":"function","z":"4254980c8d85629c","name":"","func":"node.warn(\"setting reset\")\nmsg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":600,"wires":[["5c43ac9a2d9cc0fe"]]},{"id":"c9a0f64439fe9cc4","type":"function","z":"4254980c8d85629c","name":"","func":"flow.set(\"timeout\", false);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["5c43ac9a2d9cc0fe","50bde9475b2115bd"]]},{"id":"ba56d0366f0bbcb7","type":"http in","z":"5d0689a7a8a5ef5d","name":"","url":"df/register-agent","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["c6dd6efd9ab93234"]]},{"id":"ee78904816f4c869","type":"http request","z":"5d0689a7a8a5ef5d","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1190,"y":180,"wires":[["f1118ee4d7bae429","9da13c36d72e937b"]]},{"id":"c6dd6efd9ab93234","type":"function","z":"5d0689a7a8a5ef5d","name":"","func":"//store sender for later\nflow.set(\"sender\", msg.payload.sender);\n// prepare insertQuery\nmsg.payload = msg.payload.insertQuery;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["cff76798137cd8d9"]]},{"id":"f1118ee4d7bae429","type":"http response","z":"5d0689a7a8a5ef5d","name":"","statusCode":"","headers":{},"x":1350,"y":100,"wires":[]},{"id":"814989df60d06031","type":"aedes broker","z":"5d0689a7a8a5ef5d","name":"Aedes","mqtt_port":1883,"mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":90,"y":800,"wires":[[],[]]},{"id":"29769ceab36b64e6","type":"comment","z":"5d0689a7a8a5ef5d","name":"web service used by agents to register","info":"","x":210,"y":100,"wires":[]},{"id":"cff76798137cd8d9","type":"http request","z":"5d0689a7a8a5ef5d","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":510,"y":180,"wires":[["604efa040d550a7c"]]},{"id":"1df87bc525e70f53","type":"http in","z":"5d0689a7a8a5ef5d","name":"","url":"df/delete-agent","method":"post","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["84386757759422e4"]]},{"id":"84386757759422e4","type":"function","z":"5d0689a7a8a5ef5d","name":"","func":"msg.payload = msg.payload.insertQuery;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["f2fbcb6d51e4ad12"]]},{"id":"f2fbcb6d51e4ad12","type":"http request","z":"5d0689a7a8a5ef5d","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":510,"y":300,"wires":[["7a777d2f5eb1f4ea"]]},{"id":"7a777d2f5eb1f4ea","type":"http response","z":"5d0689a7a8a5ef5d","name":"","statusCode":"","headers":{},"x":690,"y":300,"wires":[]},{"id":"7005b17bc555dc32","type":"comment","z":"5d0689a7a8a5ef5d","name":"get topic (capability type) and pass it to agent","info":"","x":650,"y":100,"wires":[]},{"id":"604efa040d550a7c","type":"function","z":"5d0689a7a8a5ef5d","name":"Create query","func":"const sender = flow.get(\"sender\");\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    <${sender}> a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":180,"wires":[["a81aaa49adcf92be"]]},{"id":"a81aaa49adcf92be","type":"http request","z":"5d0689a7a8a5ef5d","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":860,"y":180,"wires":[["ad99282190e27347"]]},{"id":"ad99282190e27347","type":"function","z":"5d0689a7a8a5ef5d","name":"Set topic","func":"msg.payload.topic = msg.payload.results.bindings[0].topic.value;\nmsg.payload.action = \"subscribe\";\n\nconst agentPath = msg.payload.results.bindings[0].url.value;\nagentPath.replace(/\\/$/, \"\");\nmsg.url = `http://localhost:1880${agentPath}/mqtt-topic`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":180,"wires":[["ee78904816f4c869","064100db374bd6fe"]]},{"id":"9da13c36d72e937b","type":"debug","z":"5d0689a7a8a5ef5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":280,"wires":[]},{"id":"064100db374bd6fe","type":"debug","z":"5d0689a7a8a5ef5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":340,"wires":[]},{"id":"7045d1b14b0d232d","type":"http in","z":"5d0689a7a8a5ef5d","name":"","url":"df/get-topics","method":"post","upload":false,"swaggerDoc":"","x":130,"y":420,"wires":[[]]},{"id":"be83df4fb059bd1d","type":"function","z":"5d0689a7a8a5ef5d","name":"","func":"const sender = flow.get(\"sender\");\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    <${sender}> a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":420,"wires":[[]]},{"id":"5fd256884bda5121","type":"inject","z":"5dc3c4eae51feb05","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":120,"wires":[["89927740f97e92d1"]]},{"id":"a2538c6ba0e0a836","type":"comment","z":"5dc3c4eae51feb05","name":"Start: WP arrives at B","info":"","x":140,"y":60,"wires":[]},{"id":"aa49fbd9621ce605","type":"delay","z":"5dc3c4eae51feb05","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":800,"y":120,"wires":[["3df08383b01c8f9b"]]},{"id":"3df08383b01c8f9b","type":"function","z":"5dc3c4eae51feb05","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeStartDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":120,"wires":[["ee08ba099721a7f5"]]},{"id":"9c97438b0a0e307d","type":"comment","z":"5dc3c4eae51feb05","name":"Store travel duration","info":"","x":1090,"y":60,"wires":[]},{"id":"8c9e30187fdc50b5","type":"comment","z":"5dc3c4eae51feb05","name":"simulate WP passing trough sensor","info":"","x":800,"y":60,"wires":[]},{"id":"9b46d2728dcea70f","type":"http request","z":"5dc3c4eae51feb05","name":"Insert Product Into Graph DB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1140,"y":280,"wires":[[]]},{"id":"c6b28acc07817b07","type":"function","z":"5dc3c4eae51feb05","name":"store product in GraphDB","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nINSERT DATA {\n    agents:Product_${msg.payload.barcode} a agents:Product;\n        agents:hasProductId \"${msg.payload.barcode}\";\n        agents:hasLength ${msg.payload.wp_length};\n        agents:timeAdded ${msg.payload.sensorA_timeStartDetection}.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":280,"wires":[["9b46d2728dcea70f"]]},{"id":"89927740f97e92d1","type":"function","z":"5dc3c4eae51feb05","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\");\n\nif (sensorA_timeStartDetection == undefined) {\n    sensorA_timeStartDetection = 0;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n} else {\n    sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n}\nmsg.payload.sensorA_timeStartDetection = sensorA_timeStartDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["aa49fbd9621ce605"]]},{"id":"af5f79200d593cfa","type":"comment","z":"5dc3c4eae51feb05","name":"Store product with length in GraphDB","info":"","x":990,"y":220,"wires":[]},{"id":"887ec83af75d9f20","type":"comment","z":"5dc3c4eae51feb05","name":"Generate ID and length","info":"","x":440,"y":60,"wires":[]},{"id":"3e60d5e9eac9204b","type":"comment","z":"5dc3c4eae51feb05","name":"Request length from conveyor","info":"","x":580,"y":220,"wires":[]},{"id":"ee08ba099721a7f5","type":"http request","z":"5dc3c4eae51feb05","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":280,"wires":[["c6b28acc07817b07"]]},{"id":"df8077701a572358","type":"http response","z":"6c22bb87db2637ed","name":"","statusCode":"","headers":{},"x":810,"y":160,"wires":[]},{"id":"f142f3f54218b79c","type":"http in","z":"6c22bb87db2637ed","name":"","url":"distance_travelled_conveyor","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["22db2a26041cb0b1"]]},{"id":"399f054914430f4a","type":"http in","z":"6c22bb87db2637ed","name":"","url":"Stop","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["80a8d4fb0624e9cd"]]},{"id":"0c133955b110d647","type":"http response","z":"6c22bb87db2637ed","name":"","statusCode":"","headers":{},"x":990,"y":360,"wires":[]},{"id":"7b7303069f655f81","type":"delay","z":"6c22bb87db2637ed","name":"Wait for stop","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":530,"y":360,"wires":[["5dec88ef28745071"]]},{"id":"27c898c06583d253","type":"comment","z":"6c22bb87db2637ed","name":"Stop the conveyor","info":"","x":450,"y":300,"wires":[]},{"id":"ea40412727b94914","type":"comment","z":"6c22bb87db2637ed","name":"Calculate length using timestamps and conveyor speed","info":"","x":540,"y":100,"wires":[]},{"id":"80a8d4fb0624e9cd","type":"function","z":"6c22bb87db2637ed","name":"calculate time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\n\n// Add a delay until stop signal is received\nconst delay = 10;\nconst timeStopReceived = sensorB_timeDetection + delay;\n\nconst conveyorSpeed = flow.get(\"conveyorSpeed\");\n\nconst distanceDuringDelay = (delay / 1000) * conveyorSpeed;\nconst distanceToTravel = parseFloat(msg.payload.distance_to_travel)\n\nconst timeToRun = (distanceToTravel - distanceDuringDelay) / conveyorSpeed;\n\nmsg.delay = timeToRun * 1000;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":360,"wires":[["7b7303069f655f81"]]},{"id":"5dec88ef28745071","type":"function","z":"6c22bb87db2637ed","name":"store \"conveyor stopped\" time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\nmsg.payload.conveyor_stopped = sensorB_timeDetection + msg.delay;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":360,"wires":[["0c133955b110d647","8c06a390568c3c27"]]},{"id":"22db2a26041cb0b1","type":"function","z":"6c22bb87db2637ed","name":"calculate length","func":"const conveyorSpeed = 2; // speed in m/s\nflow.set(\"conveyorSpeed\", conveyorSpeed);\n\nconst sensorA_timeEndDetection = parseInt(msg.payload.sensorA_timeEndDetection);\nconst sensorA_timeStartDetection = parseInt(msg.payload.sensorA_timeStartDetection);\n\nconst timeDiff = (sensorA_timeEndDetection - sensorA_timeStartDetection)  / 1000;\nconst wpLength = conveyorSpeed * timeDiff;\n\nmsg.payload.wp_length = parseFloat(wpLength).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["df8077701a572358"]]},{"id":"69011a302a8cbdc3","type":"mqtt in","z":"6c22bb87db2637ed","name":"","topic":"Request","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","inputs":0,"x":150,"y":440,"wires":[["7ce86f53a1aceb28"]]},{"id":"7ce86f53a1aceb28","type":"function","z":"6c22bb87db2637ed","name":"","func":"//extract message content\n\nconversation_id = msg.payload.conversation_id;\n\n\n//check capability\n\n\n//provide information\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["f20bae9a22977f8e","80a8d4fb0624e9cd"]]},{"id":"f20bae9a22977f8e","type":"mqtt out","z":"6c22bb87db2637ed","name":"","topic":"Agree","qos":"","retain":"","broker":"437d1b44.f1211c","x":570,"y":440,"wires":[]},{"id":"8c06a390568c3c27","type":"mqtt out","z":"6c22bb87db2637ed","name":"","topic":"Inform","qos":"","retain":"","broker":"437d1b44.f1211c","x":1000,"y":440,"wires":[]},{"id":"4be887b620b312f5","type":"inject","z":"aa8ef7407d78e508","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["85859a231fe96b4d"]]},{"id":"7bc249c8cf0b19d5","type":"function","z":"aa8ef7407d78e508","name":"Calculate stop point","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":240,"wires":[["8b304ba491379f41"]]},{"id":"37c7b8e20e2456fc","type":"comment","z":"aa8ef7407d78e508","name":"stop at half the workpiece length","info":"","x":490,"y":200,"wires":[]},{"id":"8b304ba491379f41","type":"http request","z":"aa8ef7407d78e508","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":770,"y":240,"wires":[["68d36c2a45ab81bb","a8f009f1b1031c7d","297cddd42971f81e"]]},{"id":"b9052a63adc4f689","type":"comment","z":"aa8ef7407d78e508","name":"Request stop","info":"","x":770,"y":200,"wires":[]},{"id":"68d36c2a45ab81bb","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"cfcb567d6abc718f","type":"comment","z":"aa8ef7407d78e508","name":"Product is detected","info":"","x":170,"y":40,"wires":[]},{"id":"751e9c657d02a7fe","type":"http request","z":"aa8ef7407d78e508","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/KI_Agenten_node-red","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":100,"wires":[["6d1c03342820cd3a"]]},{"id":"a79018c49e357541","type":"comment","z":"aa8ef7407d78e508","name":"Get length from GraphDB","info":"","x":650,"y":40,"wires":[]},{"id":"dbe95c8a94ba8cfe","type":"function","z":"aa8ef7407d78e508","name":"get product length from GraphDB","func":"msg.sensorB_timeDetection = msg.payload.sensorB_timeDetection;\nmsg.barcode = msg.payload.barcode;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nSELECT ?product ?length WHERE {\n    ?product a KI:Product;\n        KI:hasProductId \"${msg.payload.barcode}\";\n        KI:hasLength ?length.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":100,"wires":[["751e9c657d02a7fe"]]},{"id":"6d1c03342820cd3a","type":"function","z":"aa8ef7407d78e508","name":"","func":"msg.payload.wp_length = msg.payload.results.bindings[0][\"length\"].value;\nmsg.payload.sensorB_timeDetection = msg.sensorB_timeDetection;\nmsg.payload.barcode = msg.barcode;\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":100,"wires":[["7bc249c8cf0b19d5"]]},{"id":"5681056fca4bfe22","type":"http request","z":"aa8ef7407d78e508","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:1880/df/get-topics","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":380,"wires":[["011b750904e5ba08"]]},{"id":"1a63a3b7b9be3789","type":"comment","z":"aa8ef7407d78e508","name":"Request Gripper handling","info":"","x":950,"y":320,"wires":[]},{"id":"a8f009f1b1031c7d","type":"function","z":"aa8ef7407d78e508","name":"gripper select-query","func":"msg.conveyor_stopped = msg.payload.conveyor_stopped;\nmsg.payload.query = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nSELECT ?gripper ?capability ?topic WHERE {\n    ?gripper a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a agents:Handling.\n}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["5681056fca4bfe22"]]},{"id":"b3f5265aded0dab6","type":"comment","z":"aa8ef7407d78e508","name":"Pre-selection: Everything that can do \"Handling\"","info":"","x":340,"y":320,"wires":[]},{"id":"011b750904e5ba08","type":"function","z":"aa8ef7407d78e508","name":"process result and set url","func":"msg.url = msg.payload.results.bindings[0].url.value\nmsg.payload.conveyor_stopped = msg.conveyor_stopped\ndelete msg.conveyor_stopped;\ndelete msg.payload.head\ndelete msg.payload.results\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":380,"wires":[["6f221cd128ec0784","ac90ad55780a2668"]]},{"id":"6f221cd128ec0784","type":"http request","z":"aa8ef7407d78e508","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":380,"wires":[["d2e6ee639dd919b8"]]},{"id":"d2e6ee639dd919b8","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":380,"wires":[]},{"id":"e85cc707b9e5e627","type":"comment","z":"aa8ef7407d78e508","name":"Handle GraphDB request","info":"","x":1150,"y":40,"wires":[]},{"id":"e0271a91bf537236","type":"function","z":"aa8ef7407d78e508","name":"detect ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\n\nnode.warn(lastId)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["dbe95c8a94ba8cfe"]]},{"id":"ac90ad55780a2668","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":420,"wires":[]},{"id":"3ff7c0ee753e8398","type":"mqtt out","z":"aa8ef7407d78e508","name":"send CFP","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":980,"y":740,"wires":[]},{"id":"4b886906391dbcda","type":"inject","z":"aa8ef7407d78e508","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":740,"wires":[["5556ac8ca2dfb9e4"]]},{"id":"d9ce83b88196c906","type":"mqtt in","z":"aa8ef7407d78e508","name":"","topic":"SensorAgent_B","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":980,"wires":[["05a20ae5d1917732"]]},{"id":"453342ef5b0fa359","type":"function","z":"aa8ef7407d78e508","name":"save conv id","func":"agentname = msg.payload;\nmsg.payload = {};\nconversation_id = makeID(6);\nmsg.payload.conversation_id = conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\narray.push(conversation_id);\nflow.set(\"conversation_ids\", array);\nmsg.payload.performative = \"CFP\";\nmsg.payload.sender = \"SensorAgent_B\";\nmsg.topic = agentname;\nconst timeout = false;\nflow.set(\"timeout_check\", timeout);\nreturn msg;\n\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":740,"wires":[["12bcde7212e35b9d","3ff7c0ee753e8398","ebc67613709eff46"]]},{"id":"85488fc1d0746124","type":"function","z":"aa8ef7407d78e508","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n//array.forEach(element => node.warn(element));\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":980,"wires":[["c2779a7d95a1d61b"]]},{"id":"c2779a7d95a1d61b","type":"switch","z":"aa8ef7407d78e508","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":980,"wires":[["b8203280e3692bfa"],["ccc8282a052159f7"]]},{"id":"b8203280e3692bfa","type":"function","z":"aa8ef7407d78e508","name":"store message","func":"var array = flow.get(\"proposals_received\") || [];\narray.push(msg.payload);\nflow.set(\"proposals_received\", array);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":980,"wires":[["e420aa3737c86699"]]},{"id":"ccc8282a052159f7","type":"function","z":"aa8ef7407d78e508","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1060,"wires":[[]]},{"id":"297cddd42971f81e","type":"function","z":"aa8ef7407d78e508","name":"define agents","func":"var array_of_agents = [];\narray_of_agents.push(\"SmallGripper\");\narray_of_agents.push(\"LargeGripper\");\nmsg.payload = array_of_agents;\nvar current_time = Date.now();\nflow.set(\"time\", current_time);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":740,"wires":[["0db1a6738e5b5eb6"]]},{"id":"0db1a6738e5b5eb6","type":"split","z":"aa8ef7407d78e508","name":"separate agents","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":580,"y":740,"wires":[["453342ef5b0fa359"]]},{"id":"05a20ae5d1917732","type":"switch","z":"aa8ef7407d78e508","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":980,"wires":[["85488fc1d0746124"]]},{"id":"12bcde7212e35b9d","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":800,"wires":[]},{"id":"5556ac8ca2dfb9e4","type":"change","z":"aa8ef7407d78e508","name":"","rules":[{"t":"delete","p":"conversation_ids","pt":"flow"},{"t":"delete","p":"proposals_received","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":640,"wires":[["297cddd42971f81e"]]},{"id":"bb253d2ab39b5cc2","type":"function","z":"aa8ef7407d78e508","name":"determine best offer","func":"\nvar array = flow.get(\"proposals_received\");\nvar price = 99999; \nvar best_proposal;\narray.forEach(element => check(price, element));\nmsg.payload = best_proposal;\nmsg.topic = msg.payload.offeringAgent;\nmsg.payload.performative = \"ACCEPT_PROPOSAL\";\n\n\nreturn msg;\n\nfunction check(price_old, proposal){\n    if(proposal.price < price_old){\n        price = proposal.price;\n        best_proposal = proposal;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":740,"wires":[["66b514e473df1369","fde396b63ea10f1c","871f2b54067d1c6d"]]},{"id":"66b514e473df1369","type":"mqtt out","z":"aa8ef7407d78e508","name":"send Accept Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":2080,"y":740,"wires":[]},{"id":"fde396b63ea10f1c","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":700,"wires":[]},{"id":"871f2b54067d1c6d","type":"function","z":"aa8ef7407d78e508","name":"determine offer to reject","func":"var proposals_received = flow.get(\"proposals_received\");\nif(proposals_received.length > 1){\n    var proposal_to_reject;\nproposals_received.forEach(element => check(msg.payload.conversation_id, element));\nmsg.payload = proposal_to_reject;\nmsg.topic = msg.payload.offeringAgent;\nmsg.payload.performative = \"REJECT_PROPOSAL\";\n}\n\n\n\nreturn msg;\n\nfunction check(best_proposal_id, current_proposal){\n    if(current_proposal.conversation_id != best_proposal_id){\n        proposal_to_reject = current_proposal;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":820,"wires":[["58caf6a9ab95a215"]]},{"id":"58caf6a9ab95a215","type":"mqtt out","z":"aa8ef7407d78e508","name":"send Reject Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":2080,"y":820,"wires":[]},{"id":"b0afa2769e0108af","type":"comment","z":"aa8ef7407d78e508","name":"reset flow","info":"","x":180,"y":600,"wires":[]},{"id":"2c7936de6a71fae4","type":"comment","z":"aa8ef7407d78e508","name":"this would come from the query","info":"","x":370,"y":680,"wires":[]},{"id":"e1781d421b0a765f","type":"function","z":"aa8ef7407d78e508","name":"set timeout","func":"const timeout = false;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":620,"wires":[["311ad785f2168c0f","3e305e2547a9d54b"]]},{"id":"0c6f7f499e490a3a","type":"function","z":"aa8ef7407d78e508","name":"check proposals received","func":"var proposals_received = flow.get(\"proposals_received\") || [];\nvar cfps_sent = flow.get(\"conversation_ids\");\nvar timeout = flow.get(\"timeout\");\nnode.warn(\"proposals-received \"+proposals_received.length+\" cfps sent \"+cfps_sent.length+\" timeout \"+timeout);\n//TBD an die richtige Position!\nif(timeout == true || proposals_received.length >= cfps_sent.length){\n        node.warn(\"Continue\");\n        msg.payload.startSelection = true;\n}\n\n \n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":740,"wires":[["3f8f57effc123ee4","1b9c88b72022fe9d"]]},{"id":"ebc67613709eff46","type":"join","z":"aa8ef7407d78e508","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":620,"wires":[["e1781d421b0a765f","014d189038e0bc1a"]]},{"id":"311ad785f2168c0f","type":"delay","z":"aa8ef7407d78e508","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1020,"y":540,"wires":[["a892b2ea76ba2431"]]},{"id":"a892b2ea76ba2431","type":"function","z":"aa8ef7407d78e508","name":"set timeout true","func":"const timeout = true;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":540,"wires":[[]]},{"id":"3e305e2547a9d54b","type":"trigger","z":"aa8ef7407d78e508","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1000,"y":620,"wires":[["41532c8950e254bb"]]},{"id":"41532c8950e254bb","type":"function","z":"aa8ef7407d78e508","name":"check timeout","func":"const timeout = flow.get(\"timeout\");\nmsg.payload.timeout = timeout;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":620,"wires":[["757f9856cf65fdf1"]]},{"id":"757f9856cf65fdf1","type":"switch","z":"aa8ef7407d78e508","name":"","property":"payload.timeout","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":620,"wires":[["e2ccdebe450f7136","87d2ce1f4ffe4352","bb253d2ab39b5cc2"],["450d7b9b94dd7a9a","0c6f7f499e490a3a"]]},{"id":"e2ccdebe450f7136","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":560,"wires":[]},{"id":"450d7b9b94dd7a9a","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":600,"wires":[]},{"id":"87d2ce1f4ffe4352","type":"function","z":"aa8ef7407d78e508","name":"reset trigger","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":680,"wires":[["3e305e2547a9d54b"]]},{"id":"3f8f57effc123ee4","type":"switch","z":"aa8ef7407d78e508","name":"","property":"payload.startSelection","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":740,"wires":[["bb253d2ab39b5cc2","87d2ce1f4ffe4352"]]},{"id":"1b9c88b72022fe9d","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":800,"wires":[]},{"id":"014d189038e0bc1a","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":540,"wires":[]},{"id":"e420aa3737c86699","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":980,"wires":[]},{"id":"8b2e07eeef5269aa","type":"debug","z":"aa8ef7407d78e508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":540,"wires":[]},{"id":"85859a231fe96b4d","type":"change","z":"aa8ef7407d78e508","name":"","rules":[{"t":"delete","p":"conversation_ids","pt":"flow"},{"t":"delete","p":"proposals_received","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":180,"wires":[["e0271a91bf537236"]]},{"id":"1318ee6a8e05d582","type":"http in","z":"b83ed0147f8db264","name":"","url":"LargeGripper","method":"get","upload":true,"swaggerDoc":"","x":130,"y":480,"wires":[["8e288dcc7af7dfc3"]]},{"id":"8e288dcc7af7dfc3","type":"delay","z":"b83ed0147f8db264","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":340,"y":480,"wires":[["dce6af11e74eba65"]]},{"id":"dce6af11e74eba65","type":"function","z":"b83ed0147f8db264","name":"","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":480,"wires":[["a6ceb03af20dfb00"]]},{"id":"a6ceb03af20dfb00","type":"http response","z":"b83ed0147f8db264","name":"","statusCode":"","headers":{},"x":870,"y":480,"wires":[]},{"id":"1093441ba15a8b05","type":"http request","z":"b83ed0147f8db264","name":"Register via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":540,"y":120,"wires":[[]]},{"id":"2740be990ab5ecbc","type":"function","z":"b83ed0147f8db264","name":"Insert-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_A\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nINSERT DATA {\n\tagents:Gripper_A rdf:type agents:GripperAgent ;\n\t\tagents:hasCapability agents:Gripper_A_PickProduct .\n\n\tagents:Gripper_A_PickProduct VDI3682:hasInput agents:Gripper_A_PickProduct_PIn ,\n\t\t\tagents:Gripper_A_PickProduct_POut ;\n\t\tVDI3682:hasOutput agents:Gripper_A_PickProduct_POut .\n\n\tagents:Gripper_A_PickProduct_PIn rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_PickProduct_PIn_Length ,\n            agents:Gripper_A_PickProduct_PIn_PosXMax ,\n            agents:Gripper_A_PickProduct_PIn_PosXMin ,\n            agents:Gripper_A_PickProduct_PIn_PosYMax ,\n            agents:Gripper_A_PickProduct_PIn_PosYMin ,\n            agents:Gripper_A_PickProduct_PIn_PosZMax ,\n            agents:Gripper_A_PickProduct_PIn_PosZMin .\n\n\tagents:Gripper_A_PickProduct_PIn_Length rdf:type DINEN61360:Data_Element,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n\t\tDINEN61360:Value 1 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosXMax rdf:type owl:NamedIndividual ,\n            DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosXMax ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n    agents:Gripper_A_PickProduct_PIn_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosXMin ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 75 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosZMax rdf:type DINEN61360:Data_Element ,\n    \tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosZMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n\n\tagents:Gripper_A_PickProduct_POut rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_PickProduct_POut_Length ,\n        agents:Gripper_A_PickProduct_POut_PosXMax ,\n        agents:Gripper_A_PickProduct_POut_PosXMin ,\n        agents:Gripper_A_PickProduct_POut_PosYMax ,\n        agents:Gripper_A_PickProduct_POut_PosYMin ,\n        agents:Gripper_A_PickProduct_POut_PosZMax ,\n        agents:Gripper_A_PickProduct_POut_PosZMin .\n\n\n\tagents:Gripper_A_PickProduct_POut_Length rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 1 .\n\n\tagents:Gripper_A_PickProduct_POut_PosXMax rdf:type DINEN61360:Data_Element ,\n        \tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosXMax ;\n\t\tDINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n\tagents:Gripper_A_PickProduct_POut_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n            DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosXMin ;\n            DINEN61360:has_Type_Description agents:Position_X ;\n            DINEN61360:Expression_Goal \"Assurance\" ;\n            DINEN61360:Logic_Interpretation \">=\" ;\n            DINEN61360:Value 75 .\n\n\tagents:Gripper_A_PickProduct_POut_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\n\tagents:Gripper_A_PickProduct_POut_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_PickProduct_POut_PosZMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_PickProduct_POut_PosZMin rdf:type DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["1093441ba15a8b05"]]},{"id":"33ae4023521a081c","type":"inject","z":"b83ed0147f8db264","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":120,"wires":[["2740be990ab5ecbc"]]},{"id":"86035f6a1577b015","type":"comment","z":"b83ed0147f8db264","name":"Delete Gripper A","info":"","x":124,"y":230,"wires":[]},{"id":"fd6161ec83cf864a","type":"function","z":"b83ed0147f8db264","name":"Delete-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_A\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nDELETE {\n    ?agent rdf:type agents:GripperAgent;\n\t\tagents:hasCapability ?cap.\n    ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n    ?capInput rdf:type ?inputType.\n    ?capOutput rdf:type ?outputType.\n    ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n    ?inputDataElement a DINEN61360:Data_Element;\n                      DINEN61360:has_Instance_Description ?inputInstanceDesc.\n    ?inputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?inEx;\n                       DINEN61360:Logic_Interpretation ?inLogic;\n                       DINEN61360:Value ?inValue.\n    ?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n     ?outputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?outEx;\n                       DINEN61360:Logic_Interpretation ?outLogic;\n                       DINEN61360:Value ?outValue.\n    ?outputDataElement a DINEN61360:Data_Element.\n} \nWHERE {\n    BIND(agents:Gripper_A AS ?agent)\n    OPTIONAL {\n        ?agent agents:hasCapability ?cap.\n    }\n    OPTIONAL {\n        ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n        ?capInput rdf:type ?inputType.\n    \t?capOutput rdf:type ?outputType.\n    }\n    OPTIONAL {\n         ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n        ?inputDataElement a DINEN61360:Data_Element;\n                          DINEN61360:has_Instance_Description ?inputInstanceDesc.\n        ?inputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?inEx;\n                           DINEN61360:Logic_Interpretation ?inLogic;\n                           DINEN61360:Value ?inValue.\n    }\n    OPTIONAL {\n    \t?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n         ?outputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?outEx;\n                           DINEN61360:Logic_Interpretation ?outLogic;\n                           DINEN61360:Value ?outValue.\n        ?outputDataElement a DINEN61360:Data_Element.\n    }\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["e41c91ef468fcb99"]]},{"id":"1b06cca04fa3db4e","type":"inject","z":"b83ed0147f8db264","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":300,"wires":[["fd6161ec83cf864a"]]},{"id":"b5829e8f9c082628","type":"mqtt in","z":"b83ed0147f8db264","name":"","topic":"LargeGripper","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":740,"wires":[["88fe628bdde948a4"]]},{"id":"1739973b78423a4f","type":"function","z":"b83ed0147f8db264","name":"save conversation id and create proposal","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\narray.push(conversation_id);\nflow.set(\"conversation_ids\", array);\n\n// Query here\n\nmsg.payload.price = 111;\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = msg.topic;\nmsg.topic = msg.payload.sender;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":740,"wires":[["42d8484a7d39c28a","b51d861cbcac6f70"]]},{"id":"73b347ba8b81f209","type":"function","z":"b83ed0147f8db264","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":880,"wires":[["3f10652a14522f8d"]]},{"id":"3f10652a14522f8d","type":"switch","z":"b83ed0147f8db264","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":800,"wires":[["94edb26baf7f7369","dce6af11e74eba65"],["529be041589df882"]]},{"id":"529be041589df882","type":"function","z":"b83ed0147f8db264","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":860,"wires":[[]]},{"id":"88fe628bdde948a4","type":"switch","z":"b83ed0147f8db264","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":740,"wires":[["1739973b78423a4f"],["73b347ba8b81f209"],["6388e0b2b6c8a57b"]]},{"id":"6388e0b2b6c8a57b","type":"function","z":"b83ed0147f8db264","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":940,"wires":[["f03269aa808a63e9"]]},{"id":"f03269aa808a63e9","type":"switch","z":"b83ed0147f8db264","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":940,"wires":[["94edb26baf7f7369"],["529be041589df882"]]},{"id":"94edb26baf7f7369","type":"function","z":"b83ed0147f8db264","name":"delete id","func":"conversation_id = msg.payload.conversation_id;\nnode.warn(\"id \"+conversation_id+\" deleted.\");\nvar array = flow.get(\"conversation_ids\") || [];\nvar array2 = array.filter(e => e != conversation_id); \nflow.set(\"conversation_ids\", array2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":780,"wires":[[]]},{"id":"42d8484a7d39c28a","type":"mqtt out","z":"b83ed0147f8db264","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1180,"y":700,"wires":[]},{"id":"b51d861cbcac6f70","type":"debug","z":"b83ed0147f8db264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":640,"wires":[]},{"id":"7a7faa2bdc479d49","type":"comment","z":"b83ed0147f8db264","name":"Simulated Gripper action (just wait some time)","info":"","x":210,"y":420,"wires":[]},{"id":"bddaa12c5b21cef4","type":"comment","z":"b83ed0147f8db264","name":"Return duration / times","info":"http responses are needed to correctly end requests\n","x":780,"y":420,"wires":[]},{"id":"c09cbf9b5c9968f3","type":"comment","z":"b83ed0147f8db264","name":"Register Gripper A","info":"","x":130,"y":40,"wires":[]},{"id":"0c693f7741aefddd","type":"comment","z":"b83ed0147f8db264","name":"Gripper Message Handling","info":"","x":150,"y":680,"wires":[]},{"id":"e41c91ef468fcb99","type":"http request","z":"b83ed0147f8db264","name":"Delete via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":540,"y":300,"wires":[[]]},{"id":"2454c350e8bbd1d4","type":"http in","z":"b83ed0147f8db264","name":"","url":"/gripperA/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1080,"wires":[["f4cb384ea77f5de0"]]},{"id":"1718034d396e2e6b","type":"mqtt in","z":"b83ed0147f8db264","name":"Listen to topic given by DF","topic":"","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":190,"y":860,"wires":[["88fe628bdde948a4"]]},{"id":"f4cb384ea77f5de0","type":"function","z":"b83ed0147f8db264","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1080,"wires":[["1718034d396e2e6b","2a134f049bb11dd2"]]},{"id":"2a134f049bb11dd2","type":"http response","z":"b83ed0147f8db264","name":"","statusCode":"","headers":{},"x":630,"y":1040,"wires":[]},{"id":"c8e561a2b5687576","type":"http in","z":"cc2a36bfcf451b7e","name":"","url":"SmallGripper","method":"get","upload":true,"swaggerDoc":"","x":150,"y":440,"wires":[["3d55644534a15312"]]},{"id":"3d55644534a15312","type":"delay","z":"cc2a36bfcf451b7e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":480,"y":440,"wires":[["702abd9ad78c1f96"]]},{"id":"702abd9ad78c1f96","type":"function","z":"cc2a36bfcf451b7e","name":"","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nnode.warn(\"WP picked up\");\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":440,"wires":[["42ed6070a17103fb","47003d256072022a"]]},{"id":"afb6c76f4cf68740","type":"comment","z":"cc2a36bfcf451b7e","name":"Register Gripper B","info":"","x":150,"y":40,"wires":[]},{"id":"c57d5ca4189f739d","type":"http request","z":"cc2a36bfcf451b7e","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":100,"wires":[[]]},{"id":"5e7b7aab0f0a207f","type":"function","z":"cc2a36bfcf451b7e","name":"Insert-Query","func":"msg.payload = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nINSERT DATA {\n\tagents:Gripper_A rdf:type agents:GripperAgent ;\n\t\tagents:hasCapability agents:Gripper_A_PickProduct .\n\n\tagents:Gripper_A_PickProduct VDI3682:hasInput agents:Gripper_A_PickProduct_PIn ,\n\t\t\tagents:Gripper_A_PickProduct_POut ;\n\t\tVDI3682:hasOutput agents:Gripper_A_PickProduct_POut .\n\n\tagents:Gripper_A_PickProduct_PIn rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_PickProduct_PIn_Length ,\n            agents:Gripper_A_PickProduct_PIn_PosXMax ,\n            agents:Gripper_A_PickProduct_PIn_PosXMin ,\n            agents:Gripper_A_PickProduct_PIn_PosYMax ,\n            agents:Gripper_A_PickProduct_PIn_PosYMin ,\n            agents:Gripper_A_PickProduct_PIn_PosZMax ,\n            agents:Gripper_A_PickProduct_PIn_PosZMin .\n\n\tagents:Gripper_A_PickProduct_PIn_Length rdf:type DINEN61360:Data_Element,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n\t\tDINEN61360:Value 1 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosXMax rdf:type owl:NamedIndividual ,\n            DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosXMax ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n    agents:Gripper_A_PickProduct_PIn_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosXMin ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 75 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosZMax rdf:type DINEN61360:Data_Element ,\n    \tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_PickProduct_PIn_PosZMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_PIn_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n\n\tagents:Gripper_A_PickProduct_POut rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_PickProduct_POut_Length ,\n        agents:Gripper_A_PickProduct_POut_PosXMax ,\n        agents:Gripper_A_PickProduct_POut_PosXMin ,\n        agents:Gripper_A_PickProduct_POut_PosYMax ,\n        agents:Gripper_A_PickProduct_POut_PosYMin ,\n        agents:Gripper_A_PickProduct_POut_PosZMax ,\n        agents:Gripper_A_PickProduct_POut_PosZMin .\n\n\n\tagents:Gripper_A_PickProduct_POut_Length rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 1 .\n\n\tagents:Gripper_A_PickProduct_POut_PosXMax rdf:type DINEN61360:Data_Element ,\n        \tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosXMax ;\n\t\tDINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n\tagents:Gripper_A_PickProduct_POut_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n            DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosXMin ;\n            DINEN61360:has_Type_Description agents:Position_X ;\n            DINEN61360:Expression_Goal \"Assurance\" ;\n            DINEN61360:Logic_Interpretation \">=\" ;\n            DINEN61360:Value 75 .\n\n\tagents:Gripper_A_PickProduct_POut_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\n\tagents:Gripper_A_PickProduct_POut_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_PickProduct_POut_PosZMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_PickProduct_POut_PosZMin rdf:type DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_PickProduct_POut_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["c57d5ca4189f739d"]]},{"id":"12a924aae10adef5","type":"inject","z":"cc2a36bfcf451b7e","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["5e7b7aab0f0a207f","7daea458b01ea40c"]]},{"id":"da41443654e5cc91","type":"comment","z":"cc2a36bfcf451b7e","name":"Delete GripperB","info":"","x":140,"y":200,"wires":[]},{"id":"916d6b87bf20dea2","type":"http request","z":"cc2a36bfcf451b7e","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":590,"y":260,"wires":[[]]},{"id":"3ac7f512f00987d3","type":"function","z":"cc2a36bfcf451b7e","name":"Delete-Query","func":"msg.payload = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nDELETE {\n    ?agent rdf:type agents:GripperAgent;\n\t\tagents:hasCapability ?cap.\n    ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n    ?capInput rdf:type ?inputType.\n    ?capOutput rdf:type ?outputType.\n    ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n    ?inputDataElement a DINEN61360:Data_Element;\n                      DINEN61360:has_Instance_Description ?inputInstanceDesc.\n    ?inputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?inEx;\n                       DINEN61360:Logic_Interpretation ?inLogic;\n                       DINEN61360:Value ?inValue.\n    ?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n     ?outputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?outEx;\n                       DINEN61360:Logic_Interpretation ?outLogic;\n                       DINEN61360:Value ?outValue.\n    ?outputDataElement a DINEN61360:Data_Element.\n} \nWHERE {\n    BIND(agents:Gripper_A AS ?agent)\n    OPTIONAL {\n        ?agent agents:hasCapability ?cap.\n    }\n    OPTIONAL {\n        ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n        ?capInput rdf:type ?inputType.\n    \t?capOutput rdf:type ?outputType.\n    }\n    OPTIONAL {\n         ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n        ?inputDataElement a DINEN61360:Data_Element;\n                          DINEN61360:has_Instance_Description ?inputInstanceDesc.\n        ?inputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?inEx;\n                           DINEN61360:Logic_Interpretation ?inLogic;\n                           DINEN61360:Value ?inValue.\n    }\n    OPTIONAL {\n    \t?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n         ?outputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?outEx;\n                           DINEN61360:Logic_Interpretation ?outLogic;\n                           DINEN61360:Value ?outValue.\n        ?outputDataElement a DINEN61360:Data_Element.\n    }\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[["916d6b87bf20dea2"]]},{"id":"8598c89d476ac92b","type":"inject","z":"cc2a36bfcf451b7e","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":260,"wires":[["3ac7f512f00987d3"]]},{"id":"d38b667486bfc078","type":"mqtt in","z":"cc2a36bfcf451b7e","name":"","topic":"SmallGripper","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":580,"wires":[["950aa0825a909620"]]},{"id":"1d004c30fc5893d2","type":"function","z":"cc2a36bfcf451b7e","name":"save conversation id and create proposal","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\narray.push(conversation_id);\nflow.set(\"conversation_ids\", array);\n\nmsg.payload.price = 99;\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = msg.topic; //offering agent is the agent himself\nmsg.topic = msg.payload.sender;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["23e81cb1cbe6b944","a40e1799af7bb641"]]},{"id":"7daea458b01ea40c","type":"function","z":"cc2a36bfcf451b7e","name":"","func":"var items_array = []; \nflow.set(\"conversation_ids\" ,items_array); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[[]]},{"id":"9dd08d60f81811ee","type":"function","z":"cc2a36bfcf451b7e","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":660,"wires":[["e8186be0c1ac6450"]]},{"id":"e8186be0c1ac6450","type":"switch","z":"cc2a36bfcf451b7e","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":660,"wires":[["702abd9ad78c1f96","45601c5eac96ca9c"],["1783cb4f582252d1"]]},{"id":"1783cb4f582252d1","type":"function","z":"cc2a36bfcf451b7e","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":780,"wires":[[]]},{"id":"45601c5eac96ca9c","type":"function","z":"cc2a36bfcf451b7e","name":"delete id","func":"conversation_id = msg.payload.conversation_id;\nnode.warn(\"id \"+conversation_id+\" deleted.\");\nvar array = flow.get(\"conversation_ids\") || [];\nvar array2 = array.filter(e => e != conversation_id); \nflow.set(\"conversation_ids\", array2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":680,"wires":[[]]},{"id":"950aa0825a909620","type":"switch","z":"cc2a36bfcf451b7e","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":620,"wires":[["1d004c30fc5893d2"],["9dd08d60f81811ee"],["1161413eefaba8d5"]]},{"id":"23e81cb1cbe6b944","type":"mqtt out","z":"cc2a36bfcf451b7e","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1120,"y":580,"wires":[]},{"id":"a40e1799af7bb641","type":"debug","z":"cc2a36bfcf451b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":520,"wires":[]},{"id":"42ed6070a17103fb","type":"debug","z":"cc2a36bfcf451b7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":380,"wires":[]},{"id":"1161413eefaba8d5","type":"function","z":"cc2a36bfcf451b7e","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":740,"wires":[["907f3df1f8643673"]]},{"id":"907f3df1f8643673","type":"switch","z":"cc2a36bfcf451b7e","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":740,"wires":[["45601c5eac96ca9c"],["1783cb4f582252d1"]]},{"id":"d1f3176927b0eba3","type":"http in","z":"cc2a36bfcf451b7e","name":"","url":"/gripperB/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":150,"y":880,"wires":[["37d8de97c55faccc"]]},{"id":"37d8de97c55faccc","type":"function","z":"cc2a36bfcf451b7e","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":880,"wires":[["be15cf4f813cb613"]]},{"id":"be15cf4f813cb613","type":"mqtt in","z":"cc2a36bfcf451b7e","name":"topic x","topic":"","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":150,"y":660,"wires":[["950aa0825a909620"]]},{"id":"47003d256072022a","type":"http response","z":"cc2a36bfcf451b7e","d":true,"name":"","statusCode":"","headers":{},"x":1130,"y":440,"wires":[]},{"id":"7b4bf8eff3f84379","type":"comment","z":"cc2a36bfcf451b7e","name":"Simulated Gripper action (just wait some time)","info":"","x":230,"y":380,"wires":[]},{"id":"fd3bcc4610d11990","type":"comment","z":"cc2a36bfcf451b7e","name":"Return duration / times","info":"http responses are needed to correctly end requests\n","x":680,"y":380,"wires":[]},{"id":"4e99508d93dd17a4","type":"inject","z":"f893e945ac40ba2d","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":120,"wires":[["8f0127a00cb78a22"]]},{"id":"ab7e84be5c0395f9","type":"comment","z":"f893e945ac40ba2d","name":"Start des Flows: Ankunft eines Teils","info":"","x":160,"y":60,"wires":[]},{"id":"3fff34aff3af045d","type":"delay","z":"f893e945ac40ba2d","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":120,"wires":[["f180b69bdda67f5b"]]},{"id":"f180b69bdda67f5b","type":"function","z":"f893e945ac40ba2d","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":120,"wires":[["4f2e545cb54cafed"]]},{"id":"4f2e545cb54cafed","type":"http request","z":"f893e945ac40ba2d","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":280,"wires":[["ab57288066a251b3"]]},{"id":"5af36b77f42aef0b","type":"comment","z":"f893e945ac40ba2d","name":"Zeitdifferenz speichern","info":"","x":1080,"y":60,"wires":[]},{"id":"eddb836072898749","type":"comment","z":"f893e945ac40ba2d","name":"Lnge von Conveyor anfragen","info":"","x":620,"y":220,"wires":[]},{"id":"ab57288066a251b3","type":"function","z":"f893e945ac40ba2d","name":"store ID locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":280,"wires":[["554fa72d596af703"]]},{"id":"c52c93cf460d89d9","type":"http in","z":"f893e945ac40ba2d","name":"","url":"/sensorA/getLength","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["75073018b170d756"]]},{"id":"75073018b170d756","type":"function","z":"f893e945ac40ba2d","name":"return length","func":"// Get WP length by ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[["0f0110a47cdc22b7"]]},{"id":"0f0110a47cdc22b7","type":"http response","z":"f893e945ac40ba2d","name":"","statusCode":"","headers":{},"x":650,"y":480,"wires":[]},{"id":"cdc43c72e7cd0af8","type":"comment","z":"f893e945ac40ba2d","name":"simulierte Verzgerung","info":"","x":820,"y":60,"wires":[]},{"id":"554fa72d596af703","type":"debug","z":"f893e945ac40ba2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"92afc5e1c4ecd0ba","type":"comment","z":"f893e945ac40ba2d","name":"Lokales Abspeichern des Produktes","info":"","x":1020,"y":220,"wires":[]},{"id":"8f0127a00cb78a22","type":"function","z":"f893e945ac40ba2d","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeDetection = global.get(\"sensorA_timeDetection\");\n\nif (sensorA_timeDetection == undefined) {\n    sensorA_timeDetection = 0;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n} else {\n    sensorA_timeDetection = global.get(\"sensorA_timeDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n}\nmsg.payload.sensorA_timeDetection = sensorA_timeDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["3fff34aff3af045d"]]},{"id":"3049e037e6710719","type":"comment","z":"f893e945ac40ba2d","name":"Zur direkten / lokalen Abfrage der Lnge ohne GraphDB","info":"","x":220,"y":420,"wires":[]},{"id":"556c0db7595804da","type":"comment","z":"f893e945ac40ba2d","name":"simulierte ID-Detektion und Detektions-Dauer ","info":"","x":510,"y":60,"wires":[]},{"id":"facc380af3c761e2","type":"comment","z":"f893e945ac40ba2d","name":"Rckgabe der Werkstck-Lnge","info":"","x":650,"y":420,"wires":[]},{"id":"df21e48d9e706f8b","type":"inject","z":"d3521fa4a2d8349d","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["a5cc935be4f1ced6"]]},{"id":"f579ce4aba2b3c37","type":"function","z":"d3521fa4a2d8349d","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":100,"wires":[["447dbdf0d9ba2a49","9d1d3b23f94194df"]]},{"id":"447dbdf0d9ba2a49","type":"debug","z":"d3521fa4a2d8349d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":100,"wires":[]},{"id":"706fcfe116197b3d","type":"comment","z":"d3521fa4a2d8349d","name":"Lnge direkt von Sensor A anfordern","info":"","x":580,"y":40,"wires":[]},{"id":"7771caa230b0844a","type":"comment","z":"d3521fa4a2d8349d","name":"Haltepunkt berechnen","info":"","x":880,"y":40,"wires":[]},{"id":"9d1d3b23f94194df","type":"http request","z":"d3521fa4a2d8349d","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":260,"wires":[["6e12305fbf48d7b9"]]},{"id":"85a1d4a38ab74b8a","type":"comment","z":"d3521fa4a2d8349d","name":"Stop anfordern","info":"","x":480,"y":200,"wires":[]},{"id":"138caf540338c5a7","type":"http request","z":"d3521fa4a2d8349d","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":260,"wires":[["7f21db16e7293056"]]},{"id":"1430b9274ed88b98","type":"comment","z":"d3521fa4a2d8349d","name":"Abholung anfordern","info":"","x":1030,"y":200,"wires":[]},{"id":"6e12305fbf48d7b9","type":"function","z":"d3521fa4a2d8349d","name":"select gripper","func":"const length = msg.payload.wp_length;\nif(length > 0.75){\n    gripper = \"LargeGripper\";\n}else{\n    gripper = \"SmallGripper\";\n}\n\nmsg.url = \"http://localhost:1880/\"+gripper;\nmsg.payload.gripper = gripper;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["138caf540338c5a7"]]},{"id":"bcd25b501e59aaa4","type":"comment","z":"d3521fa4a2d8349d","name":"Greifer auswhlen ohne GraphDB","info":"","x":760,"y":200,"wires":[]},{"id":"0e19630f120e4c1e","type":"http request","z":"d3521fa4a2d8349d","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/sensorA/getLength","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":100,"wires":[["f579ce4aba2b3c37"]]},{"id":"a5cc935be4f1ced6","type":"function","z":"d3521fa4a2d8349d","name":"get Last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["0e19630f120e4c1e"]]},{"id":"7f21db16e7293056","type":"debug","z":"d3521fa4a2d8349d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":260,"wires":[]},{"id":"b2eebad68e15a734","type":"debug","z":"d3521fa4a2d8349d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":500,"wires":[]},{"id":"a0f34c6c434f0717","type":"comment","z":"d3521fa4a2d8349d","name":"Produkt kommt an und wird detektiert","info":"","x":190,"y":40,"wires":[]},{"id":"37f46fa3f1272b76","type":"function","z":"50c25cc5dc9b1666","name":"time_difference","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":100,"wires":[["5846fcaacd9a6e27"]]},{"id":"5846fcaacd9a6e27","type":"http request","z":"50c25cc5dc9b1666","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":280,"wires":[["3a0b56c512460559"]]},{"id":"bac35af1f4a91ce5","type":"comment","z":"50c25cc5dc9b1666","name":"Zeitdifferenz speichern","info":"","x":1060,"y":40,"wires":[]},{"id":"aa6440b5f2cb7e61","type":"comment","z":"50c25cc5dc9b1666","name":"Lnge von Conveyor anfragen","info":"","x":680,"y":220,"wires":[]},{"id":"3a0b56c512460559","type":"function","z":"50c25cc5dc9b1666","name":"store product locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":280,"wires":[["8813f345f394dcb5"]]},{"id":"9f4e082148b42e6c","type":"comment","z":"50c25cc5dc9b1666","name":"simulierte Verzgerung","info":"","x":800,"y":40,"wires":[]},{"id":"8813f345f394dcb5","type":"debug","z":"50c25cc5dc9b1666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"37532aed0c4f580f","type":"function","z":"50c25cc5dc9b1666","name":"generate random ID and time","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeDetection = global.get(\"sensorA_timeDetection\");\n\nif (sensorA_timeDetection == undefined) {\n    sensorA_timeDetection = 0;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n} else {\n    sensorA_timeDetection = global.get(\"sensorA_timeDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n}\nmsg.payload.sensorA_timeDetection = sensorA_timeDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[[]]},{"id":"e4216b68ba5fbf48","type":"comment","z":"50c25cc5dc9b1666","name":"simulierte ID-Detektion und Detektions-Dauer ","info":"","x":490,"y":40,"wires":[]},{"id":"037e07e464ebcc26","type":"comment","z":"50c25cc5dc9b1666","name":"Start des Flows: Ankunft eines Teils","info":"","x":160,"y":40,"wires":[]},{"id":"9c498c8d887bfb3f","type":"comment","z":"50c25cc5dc9b1666","name":"Lokales Abspeichern des Produkts","info":"","x":980,"y":220,"wires":[]},{"id":"2cea3c9e864bac09","type":"function","z":"50c25cc5dc9b1666","name":"return workpiece length","func":"// Get WP length by ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":480,"wires":[["4a1bc67c9d3212a4"]]},{"id":"4a1bc67c9d3212a4","type":"http response","z":"50c25cc5dc9b1666","name":"","statusCode":"","headers":{},"x":810,"y":480,"wires":[]},{"id":"41a32083f931efa1","type":"comment","z":"50c25cc5dc9b1666","name":"Zur direkten / lokalen Abfrage der Lnge ohne GraphDB","info":"","x":240,"y":420,"wires":[]},{"id":"eef7018b1c5b2c96","type":"comment","z":"50c25cc5dc9b1666","name":"Rckgabe der Werkstck-Lnge","info":"","x":670,"y":420,"wires":[]},{"id":"9eb9e8be7fc6dee8","type":"inject","z":"50c25cc5dc9b1666","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":170,"y":100,"wires":[["37532aed0c4f580f"]]},{"id":"ec754d9a9bc93093","type":"inject","z":"7de8c13878e01fcb","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["ed59602570190e8a"]]},{"id":"1d86760dd275f0cf","type":"http request","z":"7de8c13878e01fcb","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":280,"wires":[["25184f43dc4062c7"]]},{"id":"56ec9dc899d47699","type":"comment","z":"7de8c13878e01fcb","name":"Stop anfordern","info":"","x":700,"y":240,"wires":[]},{"id":"6862b7372a5182ac","type":"http request","z":"7de8c13878e01fcb","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":280,"wires":[[]]},{"id":"d85f5691c2aadfd3","type":"comment","z":"7de8c13878e01fcb","name":"Abholung anfordern","info":"","x":1210,"y":240,"wires":[]},{"id":"b6f0a462c22e7da5","type":"comment","z":"7de8c13878e01fcb","name":"Produkt kommt bei B an und wird detektiert","info":"","x":180,"y":40,"wires":[]},{"id":"25184f43dc4062c7","type":"function","z":"7de8c13878e01fcb","name":"select gripper","func":"//wp_length aus dem payload nutzen","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":280,"wires":[["6862b7372a5182ac"]]},{"id":"cb413921267950b5","type":"comment","z":"7de8c13878e01fcb","name":"Greifer auswhlen","info":"","x":950,"y":240,"wires":[]},{"id":"ed59602570190e8a","type":"function","z":"7de8c13878e01fcb","name":"get last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[[]]},{"id":"ef85c1c4b123e716","type":"comment","z":"7de8c13878e01fcb","name":"Lnge direkt von Sensor A anfordern","info":"","x":600,"y":40,"wires":[]},{"id":"a32e60d35d1805e1","type":"comment","z":"7de8c13878e01fcb","name":"Haltepunkt berechnen","info":"","x":900,"y":40,"wires":[]},{"id":"9280dfa96566c709","type":"function","z":"7de8c13878e01fcb","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":100,"wires":[["1d86760dd275f0cf"]]},{"id":"2206dc48c6f910b3","type":"http request","z":"7de8c13878e01fcb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":100,"wires":[[]]},{"id":"f8ca4ba1b263abad","type":"inject","z":"c1176d77c1f8e918","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"capability\": \"transport\"}","payloadType":"jsonata","x":150,"y":120,"wires":[["b18c756941efdb7e"]]},{"id":"b18c756941efdb7e","type":"http request","z":"c1176d77c1f8e918","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":120,"wires":[["bf460ff8ca578259"]]},{"id":"0d5d8ca1c443503d","type":"http in","z":"c1176d77c1f8e918","name":"","url":"/agent1/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["0b42f16418f95072"]]},{"id":"8fa76d8c4008b7cc","type":"debug","z":"c1176d77c1f8e918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Subscribed to topic: \" & msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"bf460ff8ca578259","type":"debug","z":"c1176d77c1f8e918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"agent registered\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":740,"y":120,"wires":[]},{"id":"0b42f16418f95072","type":"function","z":"c1176d77c1f8e918","name":"","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":360,"wires":[["8fa76d8c4008b7cc","22725708a61c69f5","902321a09fb1fcde"]]},{"id":"22725708a61c69f5","type":"http response","z":"c1176d77c1f8e918","d":true,"name":"","statusCode":"","headers":{},"x":570,"y":480,"wires":[]},{"id":"dd4488f52a5d07e2","type":"comment","z":"c1176d77c1f8e918","name":"Register this agent with its transport capability","info":"","x":290,"y":40,"wires":[]},{"id":"1d6e0ec9d52d26ed","type":"comment","z":"c1176d77c1f8e918","name":"Accept a message from the DF with an MQTT topic to subscribe to","info":"","x":300,"y":220,"wires":[]},{"id":"8ddcfcd1bf05d57e","type":"comment","z":"c1176d77c1f8e918","name":"Extract topic and action","info":"","x":400,"y":300,"wires":[]},{"id":"13768690f4d05c59","type":"comment","z":"c1176d77c1f8e918","name":"Setup MQTT and wait for messages","info":"","x":740,"y":340,"wires":[]},{"id":"902321a09fb1fcde","type":"mqtt in","z":"c1176d77c1f8e918","name":"","topic":"","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":750,"y":480,"wires":[["812c40bb7abb84fc"]]},{"id":"812c40bb7abb84fc","type":"debug","z":"c1176d77c1f8e918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]}]