flows/allflows.json
[{"id":"b00343857663da7b","type":"tab","label":"DF","disabled":false,"info":""},{"id":"9c1ad35682a592ef","type":"tab","label":"Sensor A (locally)","disabled":false,"info":""},{"id":"a5181d2a401b570a","type":"tab","label":"Sensor B (locally)","disabled":false,"info":""},{"id":"7b7701c05794d145","type":"tab","label":"Sensor A (GraphDB)","disabled":false,"info":""},{"id":"cc47f38a995a1772","type":"tab","label":"Sensor B (GraphDB)","disabled":false,"info":""},{"id":"53e0fc02291083bd","type":"tab","label":"Conveyor","disabled":false,"info":""},{"id":"f6807a34b2bccbe8","type":"tab","label":"GripperA (large)","disabled":false,"info":""},{"id":"3c03bc909ee20230","type":"tab","label":"GripperB (small)","disabled":false,"info":""},{"id":"90aca5cbe97c2335","type":"tab","label":"SensorAgent_A_Vorlage","disabled":false,"info":""},{"id":"d8ebc49eb5e781e8","type":"tab","label":"SensorAgent_B_Vorlage","disabled":false,"info":""},{"id":"437d1b44.f1211c","type":"mqtt-broker","name":"Aedes","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"081fe5ee774028e1","type":"http in","z":"b00343857663da7b","name":"","url":"df/register-agent","method":"post","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["ee6401437d31a35c"]]},{"id":"465dea694e6ea041","type":"http request","z":"b00343857663da7b","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1270,"y":140,"wires":[[]]},{"id":"ee6401437d31a35c","type":"function","z":"b00343857663da7b","name":"setup query","func":"//store sender for later\nflow.set(\"sender\", msg.payload.sender);\n// prepare insertQuery\nmsg.payload = msg.payload.query;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["8eca61d2751afb31"]]},{"id":"227e56d5733e514d","type":"http response","z":"b00343857663da7b","name":"","statusCode":"","headers":{},"x":1250,"y":60,"wires":[]},{"id":"2cc4797964f39e9a","type":"aedes broker","z":"b00343857663da7b","name":"Aedes","mqtt_port":1883,"mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":90,"y":860,"wires":[[],[]]},{"id":"0bf23ccd1eb4f7ed","type":"comment","z":"b00343857663da7b","name":"web service used by agents to register","info":"","x":190,"y":60,"wires":[]},{"id":"8eca61d2751afb31","type":"http request","z":"b00343857663da7b","name":"Add agent","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":490,"y":140,"wires":[["d729208ac3c4188b"]]},{"id":"e94d03788b076874","type":"http in","z":"b00343857663da7b","name":"","url":"df/delete-agent","method":"post","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["7ca1ee57fa1ab24a"]]},{"id":"7ca1ee57fa1ab24a","type":"function","z":"b00343857663da7b","name":"setup query","func":"msg.payload = msg.payload.query;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["5b5ffe6e489351b7"]]},{"id":"5b5ffe6e489351b7","type":"http request","z":"b00343857663da7b","name":"run query","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":300,"wires":[["b8156209e9074edb"]]},{"id":"b8156209e9074edb","type":"http response","z":"b00343857663da7b","name":"","statusCode":"","headers":{},"x":630,"y":300,"wires":[]},{"id":"1fb55af0511304d1","type":"comment","z":"b00343857663da7b","name":"get topic (capability type) and pass it to agent","info":"","x":650,"y":60,"wires":[]},{"id":"d729208ac3c4188b","type":"function","z":"b00343857663da7b","name":"query to get topic","func":"const sender = flow.get(\"sender\");\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    <${sender}> a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":140,"wires":[["754f7879af9f9e86"]]},{"id":"754f7879af9f9e86","type":"http request","z":"b00343857663da7b","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":900,"y":140,"wires":[["951fb47b691eb715"]]},{"id":"951fb47b691eb715","type":"function","z":"b00343857663da7b","name":"Set topic","func":"msg.payload.topic = msg.payload.results.bindings[0].topic.value;\nmsg.payload.action = \"subscribe\";\n\nconst agentPath = msg.payload.results.bindings[0].url.value;\nagentPath.replace(/\\/$/, \"\");\nmsg.url = `http://localhost:1880${agentPath}/mqtt-topic`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":140,"wires":[["465dea694e6ea041","227e56d5733e514d"]]},{"id":"af34361db2231e6f","type":"http in","z":"b00343857663da7b","name":"","url":"df/get-topics","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["4e8269d1ae9506cc"]]},{"id":"4e8269d1ae9506cc","type":"function","z":"b00343857663da7b","name":"","func":"const capabilityType = msg.payload.capabilityType;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    BIND(<${capabilityType}> AS ?capabilityType)\n    ?agent a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["9c9ce4019996463b"]]},{"id":"dff2f75553dbe292","type":"function","z":"b00343857663da7b","name":"Return topics","func":"const rawTopics = msg.payload.results.bindings.map(b => b.topic.value);\nmsg.payload.topics = [...new Set(rawTopics)];\nmsg.payload.numberOfAgents = rawTopics.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":440,"wires":[["c6fbfe72c7d31df3"]]},{"id":"9c9ce4019996463b","type":"http request","z":"b00343857663da7b","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":440,"wires":[["dff2f75553dbe292"]]},{"id":"c6fbfe72c7d31df3","type":"http response","z":"b00343857663da7b","name":"","statusCode":"","headers":{},"x":910,"y":440,"wires":[]},{"id":"35a24ad5edb19399","type":"comment","z":"b00343857663da7b","name":"web service used by agents to delete","info":"","x":180,"y":240,"wires":[]},{"id":"0422aa2468a07af0","type":"comment","z":"b00343857663da7b","name":"web service used by agents to get topics for a certain capability","info":"","x":270,"y":380,"wires":[]},{"id":"e0e6a2588deb2277","type":"inject","z":"9c1ad35682a592ef","name":"Delay + empty payload","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":160,"y":120,"wires":[["6eca250165b20149"]]},{"id":"eb493475f287bda9","type":"comment","z":"9c1ad35682a592ef","name":"Overall start: Workpiece at A","info":"","x":160,"y":60,"wires":[]},{"id":"36a0b5d099f9c2d9","type":"delay","z":"9c1ad35682a592ef","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":840,"y":120,"wires":[["ed0ff41aa3734e26"]]},{"id":"ed0ff41aa3734e26","type":"function","z":"9c1ad35682a592ef","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeStartDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":120,"wires":[["200bcf456f4166c0"]]},{"id":"200bcf456f4166c0","type":"http request","z":"9c1ad35682a592ef","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/conveyor/distance-travelled","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":630,"y":280,"wires":[["c320d875b89358d5"]]},{"id":"0ebd97632a669b5f","type":"comment","z":"9c1ad35682a592ef","name":"Store duration","info":"","x":1130,"y":60,"wires":[]},{"id":"33bfbe866937a6e4","type":"comment","z":"9c1ad35682a592ef","name":"Get length from conveyor","info":"","x":630,"y":220,"wires":[]},{"id":"c320d875b89358d5","type":"function","z":"9c1ad35682a592ef","name":"store wp length locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":280,"wires":[["ec5af9d785b5b123"]]},{"id":"69dcf902c8cb3b83","type":"http in","z":"9c1ad35682a592ef","name":"","url":"/sensorA/get-length","method":"get","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["8d192fdde295e13e"]]},{"id":"8d192fdde295e13e","type":"function","z":"9c1ad35682a592ef","name":"return length","func":"// Get WP length by retrieving the entry with the given ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["d504436d33ae0911"]]},{"id":"d504436d33ae0911","type":"http response","z":"9c1ad35682a592ef","name":"","statusCode":"","headers":{},"x":670,"y":480,"wires":[]},{"id":"279b0fb032535c2e","type":"comment","z":"9c1ad35682a592ef","name":"delay by simulated duration","info":"","x":850,"y":60,"wires":[]},{"id":"ec5af9d785b5b123","type":"debug","z":"9c1ad35682a592ef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"3b099b489acf7633","type":"comment","z":"9c1ad35682a592ef","name":"Store workpiece info locally","info":"","x":1010,"y":220,"wires":[]},{"id":"6eca250165b20149","type":"function","z":"9c1ad35682a592ef","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\");\n\nif (sensorA_timeStartDetection == undefined) {\n    sensorA_timeStartDetection = 0;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n} else {\n    sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n}\nmsg.payload.sensorA_timeStartDetection = sensorA_timeStartDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["36a0b5d099f9c2d9"]]},{"id":"3142345dfcf4b73d","type":"comment","z":"9c1ad35682a592ef","name":"Offering service to get length from Sensor A","info":"","x":210,"y":420,"wires":[]},{"id":"d2a662f6081e305b","type":"comment","z":"9c1ad35682a592ef","name":"Simulate ID detection and pass-through duration","info":"","x":520,"y":60,"wires":[]},{"id":"2aa3a42800f10caa","type":"comment","z":"9c1ad35682a592ef","name":"Return workpiece length","info":"","x":570,"y":420,"wires":[]},{"id":"07a058351c636c47","type":"inject","z":"a5181d2a401b570a","name":"Empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":120,"wires":[["9901db4745dc0f6a"]]},{"id":"76335676ef229d7a","type":"function","z":"a5181d2a401b570a","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":120,"wires":[["b47d3d7547485d6f"]]},{"id":"2418daa2fcdfd9cd","type":"comment","z":"a5181d2a401b570a","name":"Get length from A","info":"","x":580,"y":60,"wires":[]},{"id":"a7e29a03e9a945ec","type":"comment","z":"a5181d2a401b570a","name":"Calculate stop point","info":"","x":890,"y":60,"wires":[]},{"id":"b47d3d7547485d6f","type":"http request","z":"a5181d2a401b570a","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":300,"wires":[["84b3166d620864e4"]]},{"id":"3cbce190ab7b61c0","type":"comment","z":"a5181d2a401b570a","name":"Request stop","info":"","x":250,"y":220,"wires":[]},{"id":"a798c21a76f01e81","type":"http request","z":"a5181d2a401b570a","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":830,"y":300,"wires":[["86092da4bdfc2b01"]]},{"id":"9b302ebf64dd493d","type":"comment","z":"a5181d2a401b570a","name":"Request handling capability","info":"","x":880,"y":240,"wires":[]},{"id":"84b3166d620864e4","type":"function","z":"a5181d2a401b570a","name":"select gripper","func":"const length = msg.payload.wp_length;\nif(length > 0.75){\n    gripper = \"gripper_A/handling\";\n}else{\n    gripper = \"gripper_B/handling\";\n}\n\nmsg.url = \"http://localhost:1880/\" + gripper;\nmsg.payload.gripper = gripper;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["a798c21a76f01e81"]]},{"id":"f25e80dadf23e3fe","type":"comment","z":"a5181d2a401b570a","name":"Simple gripper selection","info":"","x":580,"y":240,"wires":[]},{"id":"059c966fd99a98f5","type":"http request","z":"a5181d2a401b570a","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/sensorA/get-length","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":120,"wires":[["76335676ef229d7a"]]},{"id":"9901db4745dc0f6a","type":"function","z":"a5181d2a401b570a","name":"get Last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["059c966fd99a98f5"]]},{"id":"86092da4bdfc2b01","type":"debug","z":"a5181d2a401b570a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":300,"wires":[]},{"id":"eda7701585eb3613","type":"comment","z":"a5181d2a401b570a","name":"Workpiece arrives at B","info":"","x":140,"y":60,"wires":[]},{"id":"8c1eb7b48f60e8d5","type":"inject","z":"7b7701c05794d145","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":120,"wires":[["758b3c046c61609f","dea71018d1bcc03c"]]},{"id":"a63047baf39e2d67","type":"comment","z":"7b7701c05794d145","name":"Start: WP arrives at A","info":"","x":140,"y":60,"wires":[]},{"id":"85c57238b5a5c077","type":"delay","z":"7b7701c05794d145","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":120,"wires":[["05469d0829dbf1ef"]]},{"id":"05469d0829dbf1ef","type":"function","z":"7b7701c05794d145","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeStartDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":120,"wires":[["e2398011f6a1d844"]]},{"id":"d366218d30d0ac09","type":"comment","z":"7b7701c05794d145","name":"Store travel duration","info":"","x":1090,"y":60,"wires":[]},{"id":"6c5a10c1b241318f","type":"comment","z":"7b7701c05794d145","name":"simulate WP passing trough sensor","info":"","x":800,"y":60,"wires":[]},{"id":"a12c22de262c0470","type":"http request","z":"7b7701c05794d145","name":"Insert Product Into Graph DB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1140,"y":280,"wires":[[]]},{"id":"6edb322e56658072","type":"function","z":"7b7701c05794d145","name":"store product in GraphDB","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nINSERT DATA {\n    agents:Product_${msg.payload.barcode} a agents:Product;\n        agents:hasProductId \"${msg.payload.barcode}\";\n        agents:hasLength ${msg.payload.wp_length};\n        agents:timeAdded ${msg.payload.sensorA_timeStartDetection}.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":280,"wires":[["a12c22de262c0470"]]},{"id":"758b3c046c61609f","type":"function","z":"7b7701c05794d145","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\nnode.warn(\"id deteceted: \"+msg.payload.barcode);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\");\n\nif (sensorA_timeStartDetection == undefined) {\n    sensorA_timeStartDetection = 0;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n} else {\n    sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n}\nmsg.payload.sensorA_timeStartDetection = sensorA_timeStartDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["85c57238b5a5c077"]]},{"id":"b61166d69b70c8ec","type":"comment","z":"7b7701c05794d145","name":"Store product with length in GraphDB","info":"","x":990,"y":220,"wires":[]},{"id":"806603570983d4c3","type":"comment","z":"7b7701c05794d145","name":"Generate ID and length","info":"","x":440,"y":60,"wires":[]},{"id":"856bb0c7aa0277c2","type":"comment","z":"7b7701c05794d145","name":"Request length from conveyor","info":"","x":580,"y":220,"wires":[]},{"id":"e2398011f6a1d844","type":"http request","z":"7b7701c05794d145","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/conveyor/distance-travelled","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":280,"wires":[["6edb322e56658072"]]},{"id":"dea71018d1bcc03c","type":"function","z":"7b7701c05794d145","name":"Set some global config data","func":"global.set(\"conveyor.start.x\", 0)\nglobal.set(\"conveyor.start.y\", 20)\nglobal.set(\"conveyor.start.z\", 2)\n\nglobal.set(\"conveyor.end.x\", 90)\nglobal.set(\"conveyor.end.y\", 20)\nglobal.set(\"conveyor.end.z\", 2)\n\nglobal.set(\"target.x\", 100)\nglobal.set(\"target.y\", 20)\nglobal.set(\"target.z\", 6)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":480,"wires":[[]]},{"id":"bb239b4c61a45fd2","type":"inject","z":"cc47f38a995a1772","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["fbf60d6a5334d579"]]},{"id":"f2c2f5fc2f8e8bc6","type":"function","z":"cc47f38a995a1772","name":"Calculate stop point","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":280,"wires":[["75df7f15e78bd6c4"]]},{"id":"963cae6b0b59cbb5","type":"comment","z":"cc47f38a995a1772","name":"stop at half the workpiece length","info":"","x":170,"y":200,"wires":[]},{"id":"75df7f15e78bd6c4","type":"http request","z":"cc47f38a995a1772","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":280,"wires":[["165e8af214991924"]]},{"id":"9fa99db28da4dfd2","type":"comment","z":"cc47f38a995a1772","name":"Request stop","info":"","x":450,"y":240,"wires":[]},{"id":"93615aa5ac718714","type":"comment","z":"cc47f38a995a1772","name":"Product is detected","info":"","x":170,"y":40,"wires":[]},{"id":"2f3ec556bcc52c9f","type":"http request","z":"cc47f38a995a1772","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":930,"y":100,"wires":[["1bedf5d4be3e148c"]]},{"id":"92d70a490658045d","type":"comment","z":"cc47f38a995a1772","name":"Get length from GraphDB","info":"","x":650,"y":40,"wires":[]},{"id":"65fbef69b29592d2","type":"function","z":"cc47f38a995a1772","name":"get product length from GraphDB","func":"msg.sensorB_timeDetection = msg.payload.sensorB_timeDetection;\nmsg.barcode = msg.payload.barcode;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agent-summer-school: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nSELECT ?product ?length WHERE {\n    ?product a agent-summer-school:Product;\n        agent-summer-school:hasProductId \"${msg.barcode}\";\n        agent-summer-school:hasLength ?length.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n\n//PREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["2f3ec556bcc52c9f"]]},{"id":"1bedf5d4be3e148c","type":"function","z":"cc47f38a995a1772","name":"extract content","func":"msg.payload.wp_length = msg.payload.results.bindings[0][\"length\"].value;\nnode.warn(\"wp length from GraphDB = \"+msg.payload.wp_length);\nmsg.payload.sensorB_timeDetection = msg.sensorB_timeDetection;\nmsg.payload.barcode = msg.barcode;\n\n// store wp_length to not lose it when doing HTTP requests\nflow.set(\"wp_length\", msg.payload.wp_length)\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":100,"wires":[["f2c2f5fc2f8e8bc6"]]},{"id":"3a1fa1ba1a014e94","type":"http request","z":"cc47f38a995a1772","name":"get topics from DF","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/df/get-topics","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":910,"y":280,"wires":[["a3f7c180b3681c64"]]},{"id":"165e8af214991924","type":"function","z":"cc47f38a995a1772","name":"gripper select-query","func":"msg.conveyor_stopped = msg.payload.conveyor_stopped;\nmsg.payload.capabilityType = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Handling\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":280,"wires":[["3a1fa1ba1a014e94"]]},{"id":"25638174a300b69b","type":"comment","z":"cc47f38a995a1772","name":"Pre-selection: Get topics for evey agent with capability \"Handling\"","info":"","x":890,"y":240,"wires":[]},{"id":"8dfcb2812fc0c8c4","type":"comment","z":"cc47f38a995a1772","name":"Handle GraphDB request","info":"","x":970,"y":40,"wires":[]},{"id":"fbf60d6a5334d579","type":"function","z":"cc47f38a995a1772","name":"detect ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeStartDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\n\nnode.warn(\"ID \"+lastId+\" detected by Sensor B\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["65fbef69b29592d2"]]},{"id":"c3d7483935170406","type":"mqtt out","z":"cc47f38a995a1772","name":"send CFP","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":500,"y":480,"wires":[]},{"id":"da8cb4e5e5c64427","type":"mqtt in","z":"cc47f38a995a1772","name":"","topic":"SensorAgent_B","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":1080,"wires":[["d45abfda790d8664","46adeceee049616f"]]},{"id":"92258b4bf21e18b5","type":"function","z":"cc47f38a995a1772","name":"save conv id","func":"agentname = msg.payload;\nmsg.payload = {};\nconversation_id = makeID(6);\nmsg.payload.conversation_id = conversation_id;\nvar conversation_ids = [];\nconversation_ids.push(conversation_id);\nflow.set(\"conversation_ids\", conversation_ids);\nmsg.payload.performative = \"CFP\";\nmsg.payload.sender = \"SensorAgent_B\";\nmsg.topic = agentname;\nmsg.payload.wp_length = flow.get(\"wp_length\");\nconst timeout = false;\nflow.set(\"timeout_check\", timeout);\nreturn msg;\n\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":520,"wires":[["c3d7483935170406","c3913619a6a2fb53"]]},{"id":"601ecf38f9d8ee80","type":"function","z":"cc47f38a995a1772","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\nnode.warn(\"conv ids\")\nnode.warn(conversation_ids)\nconst idFound = conversation_ids.some(existingId => conversation_id == existingId);\nmsg.payload.indicator = idFound;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1080,"wires":[["894c2a574bf6409d"]]},{"id":"894c2a574bf6409d","type":"switch","z":"cc47f38a995a1772","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":1080,"wires":[["1c9b6f4905fe242d"],["591a8b04c91e0571"]]},{"id":"1c9b6f4905fe242d","type":"function","z":"cc47f38a995a1772","name":"store message","func":"const proposals_received = [];\nproposals_received.push(msg.payload);\nflow.set(\"proposals_received\", proposals_received);\n\nnode.warn(\"added\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1060,"wires":[[]]},{"id":"591a8b04c91e0571","type":"function","z":"cc47f38a995a1772","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1100,"wires":[[]]},{"id":"a3f7c180b3681c64","type":"function","z":"cc47f38a995a1772","name":"set agents / topics","func":"flow.set(\"numberOfAgents\", msg.payload.numberOfAgents);\nmsg.payload = msg.payload.topics;\nconst current_time = Date.now();\nflow.set(\"time\", current_time);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":280,"wires":[["e637fdcc30f2770d"]]},{"id":"e637fdcc30f2770d","type":"split","z":"cc47f38a995a1772","name":"separate agents","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":140,"y":520,"wires":[["92258b4bf21e18b5"]]},{"id":"d45abfda790d8664","type":"switch","z":"cc47f38a995a1772","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1080,"wires":[["601ecf38f9d8ee80"]]},{"id":"acbe5b7b6191fe1e","type":"function","z":"cc47f38a995a1772","name":"determine best proposal","func":"// Sort proposals received so that cheapest one is at [0]\nconst proposals_received = flow.get(\"proposals_received\");\nconst sortedProposals = proposals_received.sort((a,b) => a.price - b.price);\n\nconst bestProposal = sortedProposals[0];\nmsg.payload = bestProposal;\nmsg.topic = bestProposal.offeringAgent;\nmsg.payload.performative = \"ACCEPT_PROPOSAL\";\n\n// Remove the first (best) proposal - everything else can be rejected\nsortedProposals.shift()\nconst toReject = sortedProposals;\nflow.set(\"proposalsToReject\", toReject)\nnode.warn(\"reject\")\nnode.warn(toReject)\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":700,"wires":[["0ff86698b889ecbe","601a629789a1778d"]]},{"id":"0ff86698b889ecbe","type":"mqtt out","z":"cc47f38a995a1772","name":"send Accept Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1200,"y":660,"wires":[]},{"id":"601a629789a1778d","type":"function","z":"cc47f38a995a1772","name":"determine offers to reject","func":"const toReject = flow.get(\"proposalsToReject\");\nif(toReject.length > 0) {\n    msg.payload = toReject[0];\n    msg.topic = msg.payload.offeringAgent;\n    msg.payload.performative = \"REJECT_PROPOSAL\";\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":760,"wires":[["38171289f3c71bc1"]]},{"id":"38171289f3c71bc1","type":"mqtt out","z":"cc47f38a995a1772","name":"send Reject Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1420,"y":760,"wires":[]},{"id":"ac34e6eeabe783c8","type":"function","z":"cc47f38a995a1772","name":"set timeout","func":"const timeout = false;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":660,"wires":[["b904d3c887aa7908","46775d4d50fd7807"]]},{"id":"5557a21207a97137","type":"function","z":"cc47f38a995a1772","name":"check proposals received","func":"const proposals_received = flow.get(\"proposals_received\") || [];\nconst numberOfAgents = flow.get(\"numberOfAgents\");\nconst timeout = flow.get(\"timeout\");\nnode.warn(\"proposals-received \" + proposals_received.length + \" waiting for agents \"+ numberOfAgents + \" timeout \" + timeout);\n\nif(timeout == true || proposals_received.length >= numberOfAgents){\n        node.warn(\"Continue\");\n        msg.payload.startSelection = true;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":820,"wires":[["bffc829a505de5c0"]]},{"id":"c3913619a6a2fb53","type":"join","z":"cc47f38a995a1772","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":110,"y":660,"wires":[["ac34e6eeabe783c8"]]},{"id":"b904d3c887aa7908","type":"delay","z":"cc47f38a995a1772","name":"Wait 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":620,"wires":[["67b1a2e249f941d1"]]},{"id":"67b1a2e249f941d1","type":"function","z":"cc47f38a995a1772","name":"set timeout true","func":"const timeout = true;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":620,"wires":[[]]},{"id":"46775d4d50fd7807","type":"trigger","z":"cc47f38a995a1772","name":"Check every 1s","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":720,"wires":[["f7958d69edf76988"]]},{"id":"f7958d69edf76988","type":"switch","z":"cc47f38a995a1772","name":"Check timeout","property":"timeout","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":720,"wires":[["18aa6cb1e2e4553a","acbe5b7b6191fe1e"],["5557a21207a97137"]]},{"id":"18aa6cb1e2e4553a","type":"function","z":"cc47f38a995a1772","name":"reset trigger","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":840,"wires":[["46775d4d50fd7807"]]},{"id":"bffc829a505de5c0","type":"switch","z":"cc47f38a995a1772","name":"If enough proposal received","property":"payload.startSelection","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":920,"wires":[["acbe5b7b6191fe1e","18aa6cb1e2e4553a"]]},{"id":"21f882730d151bae","type":"comment","z":"cc47f38a995a1772","name":"Receive and store proposals","info":"","x":160,"y":1000,"wires":[]},{"id":"46adeceee049616f","type":"debug","z":"cc47f38a995a1772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":1140,"wires":[]},{"id":"1c4be82a54a9abc3","type":"comment","z":"cc47f38a995a1772","name":"Wait for proposals","info":"","x":190,"y":720,"wires":[]},{"id":"92f8cdb9b2e6aced","type":"comment","z":"cc47f38a995a1772","name":"Continue if timeout or all agents answered","info":"","x":820,"y":660,"wires":[]},{"id":"41dbf35b52264575","type":"http response","z":"53e0fc02291083bd","name":"","statusCode":"","headers":{},"x":750,"y":140,"wires":[]},{"id":"5d9be5bd4899668b","type":"http in","z":"53e0fc02291083bd","name":"","url":"conveyor/distance-travelled","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["0ad72fe0e3ab5122"]]},{"id":"c406eac5dc766943","type":"http in","z":"53e0fc02291083bd","name":"","url":"Stop","method":"get","upload":false,"swaggerDoc":"","x":80,"y":320,"wires":[["6fe09a7949c2cb41"]]},{"id":"63483911cb5b9e1b","type":"http response","z":"53e0fc02291083bd","name":"","statusCode":"","headers":{},"x":930,"y":320,"wires":[]},{"id":"46dd216575e94134","type":"delay","z":"53e0fc02291083bd","name":"Wait for stop","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":470,"y":320,"wires":[["55dbd0a2c34abbb6"]]},{"id":"69892e82c6cc0455","type":"comment","z":"53e0fc02291083bd","name":"Stop the conveyor","info":"","x":470,"y":260,"wires":[]},{"id":"ce0462f3b315936d","type":"comment","z":"53e0fc02291083bd","name":"Wait for incoming request","info":"","x":130,"y":80,"wires":[]},{"id":"6fe09a7949c2cb41","type":"function","z":"53e0fc02291083bd","name":"calculate time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\n\n// Add a delay until stop signal is received\nconst delay = 10;\nconst timeStopReceived = sensorB_timeDetection + delay;\n\nconst conveyorSpeed = flow.get(\"conveyorSpeed\");\n\nconst distanceDuringDelay = (delay / 1000) * conveyorSpeed;\nconst distanceToTravel = parseFloat(msg.payload.distance_to_travel)\n\nconst timeToRun = (distanceToTravel - distanceDuringDelay) / conveyorSpeed;\n\nmsg.delay = timeToRun * 1000;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":320,"wires":[["46dd216575e94134"]]},{"id":"55dbd0a2c34abbb6","type":"function","z":"53e0fc02291083bd","name":"store \"conveyor stopped\" time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\nmsg.payload.conveyor_stopped = sensorB_timeDetection + msg.delay;\nnode.warn(\"conveyor stopped at \"+msg.payload.conveyor_stopped);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":320,"wires":[["63483911cb5b9e1b"]]},{"id":"0ad72fe0e3ab5122","type":"function","z":"53e0fc02291083bd","name":"calculate length","func":"const conveyorSpeed = 2; // speed in m/s\nflow.set(\"conveyorSpeed\", conveyorSpeed);\n\nconst sensorA_timeEndDetection = parseInt(msg.payload.sensorA_timeEndDetection);\nconst sensorA_timeStartDetection = parseInt(msg.payload.sensorA_timeStartDetection);\n\nconst timeDiff = (sensorA_timeEndDetection - sensorA_timeStartDetection)  / 1000;\nconst wpLength = conveyorSpeed * timeDiff;\n\nmsg.payload.wp_length = parseFloat(wpLength).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["41dbf35b52264575"]]},{"id":"54d9d73c5594b551","type":"comment","z":"53e0fc02291083bd","name":"Calculate length","info":"","x":480,"y":80,"wires":[]},{"id":"2b49ca979b030a7c","type":"comment","z":"53e0fc02291083bd","name":"Return length","info":"","x":730,"y":80,"wires":[]},{"id":"207409dddf7262c4","type":"delay","z":"f6807a34b2bccbe8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1300,"y":860,"wires":[["c2ebb3d9d14b0f01"]]},{"id":"c2ebb3d9d14b0f01","type":"function","z":"f6807a34b2bccbe8","name":"Set finished","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":860,"wires":[["e7a3730770944b64","72f349c7f2955d9c"]]},{"id":"7c5036b98088503b","type":"http request","z":"f6807a34b2bccbe8","name":"Register via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":540,"y":100,"wires":[[]]},{"id":"dad3db829303cf66","type":"function","z":"f6807a34b2bccbe8","name":"Insert-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_A\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nINSERT DATA {\n\tagents:Gripper_A rdf:type agents:GripperAgent ;\n\t\tagents:hasCapability agents:Gripper_A_Handling .\n\n\tagents:Gripper_A_Handling VDI3682:hasInput agents:Gripper_A_Handling_PIn;\n\t\tVDI3682:hasOutput agents:Gripper_A_Handling_POut;\n  \t\trdf:type agents:Handling;\n    agents:hasUrl \"/gripperA\".\n\n\tagents:Gripper_A_Handling_PIn rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_Handling_PIn_Length ,\n            agents:Gripper_A_Handling_PIn_PosXMax ,\n            agents:Gripper_A_Handling_PIn_PosXMin ,\n            agents:Gripper_A_Handling_PIn_PosYMax ,\n            agents:Gripper_A_Handling_PIn_PosYMin ,\n            agents:Gripper_A_Handling_PIn_PosZMax ,\n            agents:Gripper_A_Handling_PIn_PosZMin .\n\n\tagents:Gripper_A_Handling_PIn_Length rdf:type DINEN61360:Data_Element,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n\t\tDINEN61360:Value 1 .\n\n\tagents:Gripper_A_Handling_PIn_PosXMax rdf:type owl:NamedIndividual ,\n            DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosXMax ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n    agents:Gripper_A_Handling_PIn_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosXMin ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 75 .\n\n\tagents:Gripper_A_Handling_PIn_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\tagents:Gripper_A_Handling_PIn_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_Handling_PIn_PosZMax rdf:type DINEN61360:Data_Element ,\n    \tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_Handling_PIn_PosZMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n\n\tagents:Gripper_A_Handling_POut rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_Handling_POut_Length ,\n        agents:Gripper_A_Handling_POut_PosXMax ,\n        agents:Gripper_A_Handling_POut_PosXMin ,\n        agents:Gripper_A_Handling_POut_PosYMax ,\n        agents:Gripper_A_Handling_POut_PosYMin ,\n        agents:Gripper_A_Handling_POut_PosZMax ,\n        agents:Gripper_A_Handling_POut_PosZMin .\n\n\n\tagents:Gripper_A_Handling_POut_Length rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 1 .\n\n\tagents:Gripper_A_Handling_POut_PosXMax rdf:type DINEN61360:Data_Element ,\n        \tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosXMax ;\n\t\tDINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n\tagents:Gripper_A_Handling_POut_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n            DINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosXMin ;\n            DINEN61360:has_Type_Description agents:Position_X ;\n            DINEN61360:Expression_Goal \"Assurance\" ;\n            DINEN61360:Logic_Interpretation \">=\" ;\n            DINEN61360:Value 75 .\n\n\tagents:Gripper_A_Handling_POut_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\n\tagents:Gripper_A_Handling_POut_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_Handling_POut_PosZMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_Handling_POut_PosZMin rdf:type DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["7c5036b98088503b"]]},{"id":"305cf610818d653f","type":"inject","z":"f6807a34b2bccbe8","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["dad3db829303cf66"]]},{"id":"972a670903733040","type":"comment","z":"f6807a34b2bccbe8","name":"Delete Gripper A","info":"","x":120,"y":180,"wires":[]},{"id":"6ce853aa78a7ab23","type":"function","z":"f6807a34b2bccbe8","name":"Delete-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_A\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nDELETE {\n    ?agent rdf:type agents:GripperAgent;\n\t\tagents:hasCapability ?cap.\n    ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n    ?capInput rdf:type ?inputType.\n    ?capOutput rdf:type ?outputType.\n    ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n    ?inputDataElement a DINEN61360:Data_Element;\n                      DINEN61360:has_Instance_Description ?inputInstanceDesc.\n    ?inputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?inEx;\n                       DINEN61360:Logic_Interpretation ?inLogic;\n                       DINEN61360:Value ?inValue.\n    ?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n     ?outputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?outEx;\n                       DINEN61360:Logic_Interpretation ?outLogic;\n                       DINEN61360:Value ?outValue.\n    ?outputDataElement a DINEN61360:Data_Element.\n} \nWHERE {\n    BIND(agents:Gripper_A AS ?agent)\n    OPTIONAL {\n        ?agent agents:hasCapability ?cap.\n    }\n    OPTIONAL {\n        ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n        ?capInput rdf:type ?inputType.\n    \t?capOutput rdf:type ?outputType.\n    }\n    OPTIONAL {\n         ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n        ?inputDataElement a DINEN61360:Data_Element;\n                          DINEN61360:has_Instance_Description ?inputInstanceDesc.\n        ?inputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?inEx;\n                           DINEN61360:Logic_Interpretation ?inLogic;\n                           DINEN61360:Value ?inValue.\n    }\n    OPTIONAL {\n    \t?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n         ?outputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?outEx;\n                           DINEN61360:Logic_Interpretation ?outLogic;\n                           DINEN61360:Value ?outValue.\n        ?outputDataElement a DINEN61360:Data_Element.\n    }\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":326,"y":230,"wires":[["88fc650305dee921"]]},{"id":"ebfbf7c95cdd561f","type":"inject","z":"f6807a34b2bccbe8","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":126,"y":230,"wires":[["6ce853aa78a7ab23"]]},{"id":"cf6a8fb436a57ef4","type":"function","z":"f6807a34b2bccbe8","name":"save id and create proposal","func":"conversation_id = flow.get(\"conversation_id\");\nvar conversation_ids = flow.get(\"conversation_ids\") || [];\nconversation_ids.push(conversation_id);\nflow.set(\"conversation_ids\", conversation_ids);\n\n// Query here\n\nmsg.payload.price = 111;\nmsg.payload.conversation_id = conversation_id\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = \"Gripper_A\";\nmsg.topic = flow.get(\"sender\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":540,"wires":[["c12f5af9df38cce1"]]},{"id":"384e27059a248280","type":"switch","z":"f6807a34b2bccbe8","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":900,"wires":[["6b66931030c7d323"],["11b0402e8dd3c0bb"]]},{"id":"11b0402e8dd3c0bb","type":"function","z":"f6807a34b2bccbe8","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1000,"wires":[[]]},{"id":"cebb4b6b8e608163","type":"switch","z":"f6807a34b2bccbe8","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":740,"wires":[["bc26638d4d891ddf"],["28e1f21052a010c1"],["28e1f21052a010c1"]]},{"id":"6b66931030c7d323","type":"function","z":"f6807a34b2bccbe8","name":"delete id","func":"currentId = msg.payload.conversation_id;\nnode.warn(\"id \" + currentId + \" deleted.\");\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\nconst filteredIds = conversation_ids.filter(id => id != currentId); \nflow.set(\"conversation_ids\", filteredIds);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":880,"wires":[["b55f2503c06ece9a"]]},{"id":"c12f5af9df38cce1","type":"mqtt out","z":"f6807a34b2bccbe8","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1440,"y":540,"wires":[]},{"id":"55b083afe045fc68","type":"comment","z":"f6807a34b2bccbe8","name":"Simulated Gripper action (just wait some time)","info":"","x":1110,"y":820,"wires":[]},{"id":"2e8baf13c645af7e","type":"comment","z":"f6807a34b2bccbe8","name":"Display duration / times","info":"","x":1420,"y":820,"wires":[]},{"id":"6851d631d954f2dd","type":"comment","z":"f6807a34b2bccbe8","name":"Register Gripper A","info":"","x":130,"y":40,"wires":[]},{"id":"c3373646ef156a76","type":"comment","z":"f6807a34b2bccbe8","name":"Gripper Message Handling","info":"","x":170,"y":720,"wires":[]},{"id":"88fc650305dee921","type":"http request","z":"f6807a34b2bccbe8","name":"Delete via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/delete-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":536,"y":230,"wires":[[]]},{"id":"a9ed85f0c468f2dd","type":"http in","z":"f6807a34b2bccbe8","name":"","url":"/gripperA/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["543f74e8a4c1c18a"]]},{"id":"ae6d6ec55fe65c93","type":"mqtt in","z":"f6807a34b2bccbe8","name":"Listen to topic given by DF","topic":"","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":170,"y":640,"wires":[["bcfe03673226cf12"]]},{"id":"543f74e8a4c1c18a","type":"function","z":"f6807a34b2bccbe8","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["ae6d6ec55fe65c93","50e5b263aa84a97a","8d60d6c40015ba22"]]},{"id":"50e5b263aa84a97a","type":"http response","z":"f6807a34b2bccbe8","name":"","statusCode":"","headers":{},"x":570,"y":440,"wires":[]},{"id":"84b5d683ddb72ba9","type":"comment","z":"f6807a34b2bccbe8","name":"End HTTP request","info":"","x":730,"y":440,"wires":[]},{"id":"8fc037fdf12526bf","type":"comment","z":"f6807a34b2bccbe8","name":"Allow setting MQTT topic","info":"","x":130,"y":380,"wires":[]},{"id":"f2d8ea1dcbd5e652","type":"function","z":"f6807a34b2bccbe8","name":"process results","func":"const wp_length = flow.get(\"wp_length\")\nconst inputs = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"conveyor.end.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"conveyor.end.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"conveyor.end.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\nconst outputs = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"target.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"target.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"target.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\n\nconst queryResults = msg.payload.results.bindings;\nmsg.payload.allConstraintsFulfilled = queryResults.every(res => {\n    const expressionGoal = res.expGoal.value;\n    const exp = res.exp.value;\n    const type = res.type.value;\n    let fullExpression = \"true\";\n    if(expressionGoal == \"Requirement\") {\n        fullExpression = exp.replace(\"Requirement\", inputs[type]);\n    }\n    const evalResult = eval(fullExpression);\n    return evalResult;\n})\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":640,"wires":[["dad50952088fab21"]]},{"id":"04ad7d1836a55613","type":"http request","z":"f6807a34b2bccbe8","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":780,"y":640,"wires":[["f2d8ea1dcbd5e652"]]},{"id":"bc26638d4d891ddf","type":"function","z":"f6807a34b2bccbe8","name":"query","func":"// Query to get all inputs\nmsg.payload = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nSELECT ?elem ?type ?expGoal ?exp ?url WHERE {\n    agents:Gripper_A agents:hasCapability ?capability.\n    ?capability VDI3682:hasInput ?elem;\n    \tagents:hasUrl ?url.\n    ?elem DINEN61360:has_Data_Element ?de.\n    ?de DINEN61360:has_Type_Description ?type;\n             DINEN61360:has_Instance_Description ?inst.\n    ?inst DINEN61360:Value ?val;\n                   DINEN61360:Logic_Interpretation ?logInt;\n                   DINEN61360:Expression_Goal ?expGoal.\n    BIND(\n        CONCAT(STR(?expGoal), STR(?logInt), STR(?val)) AS ?exp)\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nnode.warn(\"query set\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":640,"wires":[["04ad7d1836a55613"]]},{"id":"8d60d6c40015ba22","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"'Gripper_A listening to: ' & msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":560,"y":380,"wires":[]},{"id":"dad50952088fab21","type":"switch","z":"f6807a34b2bccbe8","name":"all constraints true?","property":"payload.allConstraintsFulfilled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":560,"wires":[["cf6a8fb436a57ef4"],["a5196d3d274a9bbc"]]},{"id":"a5196d3d274a9bbc","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Not all constraints fulfilled, cannot make a proposal\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1160,"y":580,"wires":[]},{"id":"bcfe03673226cf12","type":"function","z":"f6807a34b2bccbe8","name":"store wp_length","func":"flow.set(\"wp_length\", msg.payload.wp_length)\nflow.set(\"sender\", msg.payload.sender)\nflow.set(\"conversation_id\", msg.payload.conversation_id)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["cebb4b6b8e608163"]]},{"id":"e7a3730770944b64","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1470,"y":920,"wires":[]},{"id":"566d7969efad5a44","type":"mqtt in","z":"f6807a34b2bccbe8","name":"Listen to Gripper_A","topic":"Gripper_A","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":800,"wires":[["cebb4b6b8e608163"]]},{"id":"28e1f21052a010c1","type":"function","z":"f6807a34b2bccbe8","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\n\nconst found = conversation_ids.some(existingId => existingId == conversation_id);\nmsg.payload.indicator = found;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":900,"wires":[["384e27059a248280"]]},{"id":"7cf7b39994c4035f","type":"comment","z":"f6807a34b2bccbe8","name":"CFP","info":"","x":690,"y":580,"wires":[]},{"id":"613073fd08d4787f","type":"comment","z":"f6807a34b2bccbe8","name":"Accept / Reject Proposal","info":"","x":670,"y":840,"wires":[]},{"id":"b55f2503c06ece9a","type":"switch","z":"f6807a34b2bccbe8","name":"accept / reject","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":880,"wires":[["207409dddf7262c4"],[]]},{"id":"72f349c7f2955d9c","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Gripper_A finished executing\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1460,"y":960,"wires":[]},{"id":"025843bb56804f96","type":"http in","z":"f6807a34b2bccbe8","name":"","url":"/gripper_A/handling","method":"get","upload":false,"swaggerDoc":"","x":1090,"y":740,"wires":[["207409dddf7262c4"]]},{"id":"fd00d580957e2823","type":"comment","z":"3c03bc909ee20230","name":"Register Gripper B","info":"","x":130,"y":40,"wires":[]},{"id":"b30b75cb5745dfe5","type":"http request","z":"3c03bc909ee20230","name":"Register via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":100,"wires":[[]]},{"id":"e16af5e063c05eeb","type":"function","z":"3c03bc909ee20230","name":"Insert-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_B\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nINSERT DATA {\n\tagents:Gripper_B rdf:type agents:GripperAgent ;\n\t\tagents:hasCapability agents:Gripper_B_Handling .\n\n\tagents:Gripper_B_Handling VDI3682:hasInput agents:Gripper_B_Handling_PIn;\n\t\tVDI3682:hasOutput agents:Gripper_B_Handling_POut;\n  \t\trdf:type agents:Handling;\n    \tagents:hasUrl \"/gripperB\".\n\n\tagents:Gripper_B_Handling_PIn rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_B_Handling_PIn_Length ,\n            agents:Gripper_B_Handling_PIn_PosXMax ,\n            agents:Gripper_B_Handling_PIn_PosXMin ,\n            agents:Gripper_B_Handling_PIn_PosYMax ,\n            agents:Gripper_B_Handling_PIn_PosYMin ,\n            agents:Gripper_B_Handling_PIn_PosZMax ,\n            agents:Gripper_B_Handling_PIn_PosZMin .\n\n\tagents:Gripper_B_Handling_PIn_Length rdf:type DINEN61360:Data_Element,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n\t\tDINEN61360:Value 0.75 .\n\n\tagents:Gripper_B_Handling_PIn_PosXMax rdf:type owl:NamedIndividual ,\n            DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosXMax ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 110 .\n\n    agents:Gripper_B_Handling_PIn_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosXMin ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 90 .\n\n\tagents:Gripper_B_Handling_PIn_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 20 .\n\n\tagents:Gripper_B_Handling_PIn_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -10 .\n\n\tagents:Gripper_B_Handling_PIn_PosZMax rdf:type DINEN61360:Data_Element ,\n    \tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 6 .\n\n\tagents:Gripper_B_Handling_PIn_PosZMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n\n\tagents:Gripper_B_Handling_POut rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_B_Handling_POut_Length ,\n        agents:Gripper_B_Handling_POut_PosXMax ,\n        agents:Gripper_B_Handling_POut_PosXMin ,\n        agents:Gripper_B_Handling_POut_PosYMax ,\n        agents:Gripper_B_Handling_POut_PosYMin ,\n        agents:Gripper_B_Handling_POut_PosZMax ,\n        agents:Gripper_B_Handling_POut_PosZMin .\n\n\n\tagents:Gripper_B_Handling_POut_Length rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 0.5 .\n\n\tagents:Gripper_B_Handling_POut_PosXMax rdf:type DINEN61360:Data_Element ,\n        \tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosXMax ;\n\t\tDINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 110 .\n\n\tagents:Gripper_B_Handling_POut_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n            DINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosXMin ;\n            DINEN61360:has_Type_Description agents:Position_X ;\n            DINEN61360:Expression_Goal \"Assurance\" ;\n            DINEN61360:Logic_Interpretation \">=\" ;\n            DINEN61360:Value 90 .\n\n\tagents:Gripper_B_Handling_POut_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 20 .\n\n\n\tagents:Gripper_B_Handling_POut_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -10 .\n\n\tagents:Gripper_B_Handling_POut_PosZMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 6 .\n\n\tagents:Gripper_B_Handling_POut_PosZMin rdf:type DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["b30b75cb5745dfe5"]]},{"id":"5db8f806b7834d42","type":"inject","z":"3c03bc909ee20230","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["e16af5e063c05eeb"]]},{"id":"5beeccebe1fe40c6","type":"comment","z":"3c03bc909ee20230","name":"Delete GripperB","info":"","x":120,"y":180,"wires":[]},{"id":"900194d4624cbd6f","type":"function","z":"3c03bc909ee20230","name":"Delete-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_B\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nDELETE {\n    ?agent rdf:type agents:GripperAgent;\n\t\tagents:hasCapability ?cap.\n    ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n    ?capInput rdf:type ?inputType.\n    ?capOutput rdf:type ?outputType.\n    ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n    ?inputDataElement a DINEN61360:Data_Element;\n                      DINEN61360:has_Type_Description ?typeIn;\n                      DINEN61360:has_Instance_Description ?inputInstanceDesc.\n    ?inputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?inEx;\n                       DINEN61360:Logic_Interpretation ?inLogic;\n                       DINEN61360:Value ?inValue.\n    ?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Type_Description ?typeOut;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n     ?outputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?outEx;\n                       DINEN61360:Logic_Interpretation ?outLogic;\n                       DINEN61360:Value ?outValue.\n    ?outputDataElement a DINEN61360:Data_Element.\n} \nWHERE {\n    BIND(agents:Gripper_B AS ?agent)\n    OPTIONAL {\n        ?agent agents:hasCapability ?cap.\n    }\n    OPTIONAL {\n        ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n        ?capInput rdf:type ?inputType.\n    \t?capOutput rdf:type ?outputType.\n    }\n    OPTIONAL {\n         ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n        ?inputDataElement a DINEN61360:Data_Element;\n                          DINEN61360:has_Instance_Description ?inputInstanceDesc.\n        ?inputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?inEx;\n                           DINEN61360:Logic_Interpretation ?inLogic;\n                           DINEN61360:Value ?inValue.\n    }\n    OPTIONAL {\n    \t?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n         ?outputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?outEx;\n                           DINEN61360:Logic_Interpretation ?outLogic;\n                           DINEN61360:Value ?outValue.\n        ?outputDataElement a DINEN61360:Data_Element.\n    }\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["e53a4153bd678177"]]},{"id":"e53a4153bd678177","type":"http request","z":"3c03bc909ee20230","name":"Delete via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/delete-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":240,"wires":[[]]},{"id":"0ba6fca43f836069","type":"inject","z":"3c03bc909ee20230","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":240,"wires":[["900194d4624cbd6f"]]},{"id":"7aa4e1474c7e2007","type":"delay","z":"3c03bc909ee20230","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1320,"y":840,"wires":[["e345f2db62a719d3"]]},{"id":"e345f2db62a719d3","type":"function","z":"3c03bc909ee20230","name":"Set finished","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":840,"wires":[["7bc43850d95b7bf6"]]},{"id":"39fc25e8bdf68241","type":"function","z":"3c03bc909ee20230","name":"save id and create proposal","func":"conversation_id = flow.get(\"conversation_id\");\nvar conversation_ids = flow.get(\"conversation_ids\") || [];\nconversation_ids.push(conversation_id);\nflow.set(\"conversation_ids\", conversation_ids);\n\n// Query here\n\nmsg.payload.price = 99;\nmsg.payload.conversation_id = conversation_id\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = \"Gripper_B\";\nmsg.topic = flow.get(\"sender\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":520,"wires":[["4634e737cd21ec30"]]},{"id":"98073362143a0a85","type":"switch","z":"3c03bc909ee20230","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":880,"wires":[["6de6bb8a3696b22e"],["45ccc64f67b61130"]]},{"id":"45ccc64f67b61130","type":"function","z":"3c03bc909ee20230","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1000,"wires":[[]]},{"id":"18c20243422a50ec","type":"switch","z":"3c03bc909ee20230","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":720,"wires":[["3ee5d287afe6dff3"],["1d862fc0a75fd0aa"],["1d862fc0a75fd0aa"]]},{"id":"6de6bb8a3696b22e","type":"function","z":"3c03bc909ee20230","name":"delete id","func":"currentId = msg.payload.conversation_id;\nnode.warn(\"id \" + currentId + \" deleted.\");\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\nconst filteredIds = conversation_ids.filter(id => id != currentId); \nflow.set(\"conversation_ids\", filteredIds);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":860,"wires":[["f01f93a073c3df32","1a4a1f559e3bbe94"]]},{"id":"4634e737cd21ec30","type":"mqtt out","z":"3c03bc909ee20230","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1460,"y":520,"wires":[]},{"id":"a5c043a903157332","type":"comment","z":"3c03bc909ee20230","name":"Simulated Gripper action (just wait some time)","info":"","x":1130,"y":800,"wires":[]},{"id":"7178a32c710d115d","type":"comment","z":"3c03bc909ee20230","name":"Display duration / times","info":"","x":1440,"y":800,"wires":[]},{"id":"24ec061b09119d53","type":"comment","z":"3c03bc909ee20230","name":"Gripper Message Handling","info":"","x":190,"y":700,"wires":[]},{"id":"38297cc5b2677e83","type":"http in","z":"3c03bc909ee20230","name":"","url":"/gripperB/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":150,"y":420,"wires":[["f0d97f65f4e2db3b"]]},{"id":"1513d29a6b57a01a","type":"mqtt in","z":"3c03bc909ee20230","name":"Listen to topic given by DF","topic":"","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":190,"y":620,"wires":[["5f3a32115566ce54"]]},{"id":"f0d97f65f4e2db3b","type":"function","z":"3c03bc909ee20230","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":420,"wires":[["1513d29a6b57a01a","f7d5bcae5ca19b22","6a67bbc6b262d462"]]},{"id":"f7d5bcae5ca19b22","type":"http response","z":"3c03bc909ee20230","name":"","statusCode":"","headers":{},"x":590,"y":420,"wires":[]},{"id":"3f0bfc8722285bf0","type":"comment","z":"3c03bc909ee20230","name":"End HTTP request","info":"","x":750,"y":420,"wires":[]},{"id":"e0d3524e053ad480","type":"comment","z":"3c03bc909ee20230","name":"Allow setting MQTT topic","info":"","x":150,"y":360,"wires":[]},{"id":"58d416374ea6bf62","type":"function","z":"3c03bc909ee20230","name":"process results","func":"const wp_length = flow.get(\"wp_length\")\nconst inputs = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"conveyor.end.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"conveyor.end.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"conveyor.end.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\nconst a = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"target.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"target.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"target.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\n\nconst queryResults = msg.payload.results.bindings;\nmsg.payload.allConstraintsFulfilled = queryResults.every(res => {\n    const expressionGoal = res.expGoal.value;\n    const exp = res.exp.value;\n    const type = res.type.value;\n    let fullExpression = \"true\";\n    if(expressionGoal == \"Requirement\") {\n        fullExpression = exp.replace(\"Requirement\", inputs[type]);\n    }\n\n    const evalResult = eval(fullExpression);\n    return evalResult;\n})\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":620,"wires":[["14713e83d1b67d68"]]},{"id":"487a73c1614f7805","type":"http request","z":"3c03bc909ee20230","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":800,"y":620,"wires":[["58d416374ea6bf62"]]},{"id":"3ee5d287afe6dff3","type":"function","z":"3c03bc909ee20230","name":"query","func":"// Query to get all input data elements as expression that can be evaluated\nmsg.payload = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nSELECT ?elem ?type ?expGoal ?exp ?url WHERE {\n    agents:Gripper_A agents:hasCapability ?capability.\n    ?capability VDI3682:hasInput ?elem;\n    \tagents:hasUrl ?url.\n    ?elem DINEN61360:has_Data_Element ?de.\n    ?de DINEN61360:has_Type_Description ?type;\n             DINEN61360:has_Instance_Description ?inst.\n    ?inst DINEN61360:Value ?val;\n                   DINEN61360:Logic_Interpretation ?logInt;\n                   DINEN61360:Expression_Goal ?expGoal.\n    BIND(\n        CONCAT(STR(?expGoal), STR(?logInt), STR(?val)) AS ?exp)\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nnode.warn(\"query set\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":620,"wires":[["487a73c1614f7805"]]},{"id":"6a67bbc6b262d462","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"'Gripper_B listening to: ' & msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"14713e83d1b67d68","type":"switch","z":"3c03bc909ee20230","name":"all constraints true?","property":"payload.allConstraintsFulfilled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":540,"wires":[["39fc25e8bdf68241"],["f2ce079899313f7b"]]},{"id":"f2ce079899313f7b","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Not all constraints fulfilled, cannot make a proposal\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1180,"y":560,"wires":[]},{"id":"5f3a32115566ce54","type":"function","z":"3c03bc909ee20230","name":"store wp_length","func":"flow.set(\"wp_length\", msg.payload.wp_length)\nflow.set(\"sender\", msg.payload.sender)\nflow.set(\"conversation_id\", msg.payload.conversation_id)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":620,"wires":[["18c20243422a50ec"]]},{"id":"1a4a1f559e3bbe94","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":960,"wires":[]},{"id":"b973e06136f1b2cc","type":"mqtt in","z":"3c03bc909ee20230","name":"Listen to Gripper_B","topic":"Gripper_B","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":780,"wires":[["18c20243422a50ec"]]},{"id":"1d862fc0a75fd0aa","type":"function","z":"3c03bc909ee20230","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\n\nconst found = conversation_ids.some(existingId => existingId == conversation_id);\nmsg.payload.indicator = found;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":880,"wires":[["98073362143a0a85"]]},{"id":"4871d583f6b3bb84","type":"comment","z":"3c03bc909ee20230","name":"CFP","info":"","x":710,"y":560,"wires":[]},{"id":"cef88ea114871b5f","type":"comment","z":"3c03bc909ee20230","name":"Accept / Reject Proposal","info":"","x":730,"y":800,"wires":[]},{"id":"f01f93a073c3df32","type":"switch","z":"3c03bc909ee20230","name":"accept / reject","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1140,"y":860,"wires":[["7aa4e1474c7e2007"],[]]},{"id":"7bc43850d95b7bf6","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Gripper_B finished executing\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1480,"y":940,"wires":[]},{"id":"e14789cdf5dc479a","type":"comment","z":"3c03bc909ee20230","name":"If ID doesn't exist","info":"","x":1000,"y":960,"wires":[]},{"id":"b717d941d47e0190","type":"http in","z":"3c03bc909ee20230","name":"","url":"/gripper_B/handling","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":700,"wires":[["7aa4e1474c7e2007"]]},{"id":"edd0c72059bbfd01","type":"function","z":"90aca5cbe97c2335","name":"time_difference","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":100,"wires":[["8da2f87da1c39ee9"]]},{"id":"8da2f87da1c39ee9","type":"http request","z":"90aca5cbe97c2335","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":280,"wires":[["e7245ec2a1de12cd"]]},{"id":"d14dd5d4806f4a2f","type":"comment","z":"90aca5cbe97c2335","name":"Zeitdifferenz speichern","info":"","x":1060,"y":40,"wires":[]},{"id":"b53bf91be5cc13ad","type":"comment","z":"90aca5cbe97c2335","name":"Lnge von Conveyor anfragen","info":"","x":680,"y":220,"wires":[]},{"id":"e7245ec2a1de12cd","type":"function","z":"90aca5cbe97c2335","name":"store product locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":280,"wires":[["a0282b78eeeb22f3"]]},{"id":"90928dbb792e3cfa","type":"comment","z":"90aca5cbe97c2335","name":"simulierte Verzgerung","info":"","x":800,"y":40,"wires":[]},{"id":"a0282b78eeeb22f3","type":"debug","z":"90aca5cbe97c2335","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"6149e68597fbbbd6","type":"function","z":"90aca5cbe97c2335","name":"generate random ID and time","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeDetection = global.get(\"sensorA_timeDetection\");\n\nif (sensorA_timeDetection == undefined) {\n    sensorA_timeDetection = 0;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n} else {\n    sensorA_timeDetection = global.get(\"sensorA_timeDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n}\nmsg.payload.sensorA_timeDetection = sensorA_timeDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[[]]},{"id":"1edadf9670214ccc","type":"comment","z":"90aca5cbe97c2335","name":"simulierte ID-Detektion und Detektions-Dauer ","info":"","x":490,"y":40,"wires":[]},{"id":"7e091d8bfb635a96","type":"comment","z":"90aca5cbe97c2335","name":"Start des Flows: Ankunft eines Teils","info":"","x":160,"y":40,"wires":[]},{"id":"4d0be38dee81ffa6","type":"comment","z":"90aca5cbe97c2335","name":"Lokales Abspeichern des Produkts","info":"","x":980,"y":220,"wires":[]},{"id":"73dfd4bde552a3b1","type":"function","z":"90aca5cbe97c2335","name":"return workpiece length","func":"// Get WP length by ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":480,"wires":[["fc4ca9c4957b7daa"]]},{"id":"fc4ca9c4957b7daa","type":"http response","z":"90aca5cbe97c2335","name":"","statusCode":"","headers":{},"x":810,"y":480,"wires":[]},{"id":"e5d39d291d1fdf85","type":"comment","z":"90aca5cbe97c2335","name":"Zur direkten / lokalen Abfrage der Lnge ohne GraphDB","info":"","x":240,"y":420,"wires":[]},{"id":"43bd8548a0e4cf54","type":"comment","z":"90aca5cbe97c2335","name":"Rckgabe der Werkstck-Lnge","info":"","x":670,"y":420,"wires":[]},{"id":"3440f401a0e8db76","type":"inject","z":"90aca5cbe97c2335","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":170,"y":100,"wires":[["6149e68597fbbbd6"]]},{"id":"15b28f0dbe8c31be","type":"inject","z":"d8ebc49eb5e781e8","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["dd7b35a236b57f8c"]]},{"id":"df97e191e70353f7","type":"http request","z":"d8ebc49eb5e781e8","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":280,"wires":[["752204d69e814edf"]]},{"id":"92f9e64575e693b1","type":"comment","z":"d8ebc49eb5e781e8","name":"Stop anfordern","info":"","x":700,"y":240,"wires":[]},{"id":"2252af3cd2008579","type":"http request","z":"d8ebc49eb5e781e8","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":280,"wires":[[]]},{"id":"7ec17d7223084420","type":"comment","z":"d8ebc49eb5e781e8","name":"Abholung anfordern","info":"","x":1210,"y":240,"wires":[]},{"id":"cd011f850563db19","type":"comment","z":"d8ebc49eb5e781e8","name":"Produkt kommt bei B an und wird detektiert","info":"","x":180,"y":40,"wires":[]},{"id":"752204d69e814edf","type":"function","z":"d8ebc49eb5e781e8","name":"select gripper","func":"//wp_length aus dem payload nutzen","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":280,"wires":[["2252af3cd2008579"]]},{"id":"fd8ef9edb51d99c4","type":"comment","z":"d8ebc49eb5e781e8","name":"Greifer auswhlen","info":"","x":950,"y":240,"wires":[]},{"id":"dd7b35a236b57f8c","type":"function","z":"d8ebc49eb5e781e8","name":"get last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[[]]},{"id":"1ebec5e84d6a587f","type":"comment","z":"d8ebc49eb5e781e8","name":"Lnge direkt von Sensor A anfordern","info":"","x":600,"y":40,"wires":[]},{"id":"a281a34226c9fb98","type":"comment","z":"d8ebc49eb5e781e8","name":"Haltepunkt berechnen","info":"","x":900,"y":40,"wires":[]},{"id":"d2a1a725786150de","type":"function","z":"d8ebc49eb5e781e8","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":100,"wires":[["df97e191e70353f7"]]},{"id":"a8cd34ee93667cb0","type":"http request","z":"d8ebc49eb5e781e8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":100,"wires":[[]]}]