flows/allflows.json
[{"id":"bb830a59.e51268","type":"tab","label":"ConveyorAgent","disabled":false,"info":""},{"id":"3f7cd4b1.32d09c","type":"tab","label":"SensorAgent_B_GraphDB","disabled":false,"info":""},{"id":"6ff77629.399ba8","type":"tab","label":"SmallGripper","disabled":false,"info":""},{"id":"ab6f13e.0011d7","type":"tab","label":"LargeGripper","disabled":false,"info":""},{"id":"24b3fbe2.e5a654","type":"tab","label":"SensorAgent_A_lokal","disabled":false,"info":""},{"id":"6da3eaa9.c3f48c","type":"tab","label":"SensorAgent_B_lokal","disabled":false,"info":""},{"id":"b03b715f.3db3d","type":"tab","label":"SensorAgent_A_Vorlage","disabled":false,"info":""},{"id":"1bfef572.e4fc33","type":"tab","label":"SensorAgent_B_Vorlage","disabled":false,"info":""},{"id":"861c55f7.bd00b8","type":"tab","label":"SensorAgent_A_GraphDB","disabled":false,"info":""},{"id":"72f1a748.a29658","type":"tab","label":"Produkt Agent","disabled":false,"info":""},{"id":"ad82281d.3fc028","type":"tab","label":"M1-Agent","disabled":false,"info":""},{"id":"f893bdac.edb1a","type":"tab","label":"Tutorial_Wettervorhersage_Loesung","disabled":false,"info":""},{"id":"c2ec1a4c.3892c8","type":"tab","label":"M2-Agent","disabled":false,"info":""},{"id":"c39e0e1b.60466","type":"tab","label":"Verzeichnis Agent","disabled":false,"info":""},{"id":"bb52cd91.75c63","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4254980c8d85629c","type":"tab","label":"DF","disabled":false,"info":""},{"id":"55a501915a6e150c","type":"tab","label":"Agent_Transport","disabled":false,"info":""},{"id":"437d1b44.f1211c","type":"mqtt-broker","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49bb3dbb.972124","type":"mqtt-broker","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62227ce6.a892ec","type":"mqtt-broker","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5e860b2a.bec974","type":"mqtt-broker","name":"Test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8451ab06.747148","type":"http response","z":"bb830a59.e51268","name":"","statusCode":"","headers":{},"x":810,"y":160,"wires":[]},{"id":"f64a09f7.25faf","type":"http in","z":"bb830a59.e51268","name":"","url":"distance_travelled_conveyor","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["b438ebd1.f032d8"]]},{"id":"d6736220.4f3248","type":"http in","z":"bb830a59.e51268","name":"","url":"Stop","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["ec2b496b.0bf988"]]},{"id":"dfb53b1d.a26e4","type":"http response","z":"bb830a59.e51268","name":"","statusCode":"","headers":{},"x":990,"y":360,"wires":[]},{"id":"3957f34a.f6ca44","type":"delay","z":"bb830a59.e51268","name":"Wait for stop","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":530,"y":360,"wires":[["5cac7f88.5940f8"]]},{"id":"ebab7105.d9c16","type":"comment","z":"bb830a59.e51268","name":"Funktionalität zum Stoppen des Conveyors","info":"","x":520,"y":300,"wires":[]},{"id":"5860a675.38ce98","type":"comment","z":"bb830a59.e51268","name":"Längenberechnung","info":"","x":530,"y":100,"wires":[]},{"id":"ec2b496b.0bf988","type":"function","z":"bb830a59.e51268","name":"calculate time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\n\n// Add a delay until stop signal is received\nconst delay = 10;\nconst timeStopReceived = sensorB_timeDetection + delay;\n\nconst conveyorSpeed = flow.get(\"conveyorSpeed\");\n\nconst distanceDuringDelay = (delay / 1000) * conveyorSpeed;\nconst distanceToTravel = parseFloat(msg.payload.distance_to_travel)\n\nconst timeToRun = (distanceToTravel - distanceDuringDelay) / conveyorSpeed;\n\nmsg.delay = timeToRun * 1000;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":360,"wires":[["3957f34a.f6ca44"]]},{"id":"5cac7f88.5940f8","type":"function","z":"bb830a59.e51268","name":"store \"conveyor stopped\" time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\nmsg.payload.conveyor_stopped = sensorB_timeDetection + msg.delay;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":360,"wires":[["dfb53b1d.a26e4","1f3f32ed.e4d60d"]]},{"id":"b438ebd1.f032d8","type":"function","z":"bb830a59.e51268","name":"calculate length via timestamps","func":"const conveyorSpeed = 2; // speed in m/s\nflow.set(\"conveyorSpeed\", conveyorSpeed);\n\nconst sensorA_timeEndDetection = parseInt(msg.payload.sensorA_timeEndDetection);\nconst sensorA_timeStartDetection = parseInt(msg.payload.sensorA_timeDetection);\n\nconst timeDiff = (sensorA_timeEndDetection - sensorA_timeStartDetection)  / 1000;\nconst wpLength = conveyorSpeed * timeDiff;\n\nmsg.payload.wp_length = parseFloat(wpLength).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":160,"wires":[["8451ab06.747148"]]},{"id":"f37e98cf.16e9a8","type":"mqtt in","z":"bb830a59.e51268","name":"","topic":"Request","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","inputs":0,"x":150,"y":440,"wires":[["d9f3d12.55329b"]]},{"id":"d9f3d12.55329b","type":"function","z":"bb830a59.e51268","name":"","func":"//extract message content\n\nconversation_id = msg.payload.conversation_id;\n\n\n//check capability\n\n\n//provide information\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["e96537c2.e7e0b8","ec2b496b.0bf988"]]},{"id":"e96537c2.e7e0b8","type":"mqtt out","z":"bb830a59.e51268","name":"","topic":"Agree","qos":"","retain":"","broker":"437d1b44.f1211c","x":570,"y":440,"wires":[]},{"id":"1f3f32ed.e4d60d","type":"mqtt out","z":"bb830a59.e51268","name":"","topic":"Inform","qos":"","retain":"","broker":"437d1b44.f1211c","x":1000,"y":440,"wires":[]},{"id":"40b3267e.e10348","type":"inject","z":"3f7cd4b1.32d09c","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["a7359c6819bb672f"]]},{"id":"7efdbcd4.09c594","type":"function","z":"3f7cd4b1.32d09c","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["b85df4ee.64fd48"]]},{"id":"dcb722d.47f25e","type":"comment","z":"3f7cd4b1.32d09c","name":"Haltepunkt berechnen","info":"","x":480,"y":200,"wires":[]},{"id":"b85df4ee.64fd48","type":"http request","z":"3f7cd4b1.32d09c","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":770,"y":240,"wires":[["25d8450f.06789a","ae603aa7.f49df8","4c40bbdb3161d76a"]]},{"id":"abb0183c.a1d818","type":"comment","z":"3f7cd4b1.32d09c","name":"Stop anfordern","info":"","x":780,"y":200,"wires":[]},{"id":"25d8450f.06789a","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"4bc9c59e.999a5c","type":"comment","z":"3f7cd4b1.32d09c","name":"Produkt kommt an und wird detektiert","info":"","x":210,"y":40,"wires":[]},{"id":"d58574ee.cd28c8","type":"http request","z":"3f7cd4b1.32d09c","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/KI_Agenten_node-red","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":100,"wires":[["6731276f.fc8878"]]},{"id":"bdfc9e1f.66c04","type":"comment","z":"3f7cd4b1.32d09c","name":"Länge in der GraphDB anfragen","info":"","x":670,"y":40,"wires":[]},{"id":"d2f42534.db0e88","type":"function","z":"3f7cd4b1.32d09c","name":"get product length from GraphDB","func":"msg.sensorB_timeDetection = msg.payload.sensorB_timeDetection;\nmsg.barcode = msg.payload.barcode;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nSELECT ?product ?length WHERE {\n    ?product a KI:Product;\n        KI:hasProductId \"${msg.payload.barcode}\";\n        KI:hasLength ?length.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":100,"wires":[["d58574ee.cd28c8"]]},{"id":"6731276f.fc8878","type":"function","z":"3f7cd4b1.32d09c","name":"","func":"msg.payload.wp_length = msg.payload.results.bindings[0][\"length\"].value;\nmsg.payload.sensorB_timeDetection = msg.sensorB_timeDetection;\nmsg.payload.barcode = msg.barcode;\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":100,"wires":[["7efdbcd4.09c594"]]},{"id":"5a6f787e.fb4748","type":"http request","z":"3f7cd4b1.32d09c","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/KI_Agenten_node-red","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":380,"wires":[["27a52734.111448"]]},{"id":"a7de4335.5826f","type":"comment","z":"3f7cd4b1.32d09c","name":"Abholung anfordern","info":"","x":950,"y":320,"wires":[]},{"id":"ae603aa7.f49df8","type":"function","z":"3f7cd4b1.32d09c","name":"gripper select-query","func":"msg.conveyor_stopped = msg.payload.conveyor_stopped;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nSELECT ?gripper ?url WHERE {\n    ?gripper a KI:Agent;\n        KI:hasCapability ?capability.\n    ?capability a KI:PickProduct;\n        KI:allowsMaximumLength ?maxlength;\n        KI:hasPriorityNumber ?prio;\n        KI:hasUrl ?url.\n    FILTER (?maxlength >= ${msg.payload.wp_length})\n}\nORDER BY ?prio\nLIMIT 1\n`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":380,"wires":[["5a6f787e.fb4748"]]},{"id":"10591e34.be6d82","type":"comment","z":"3f7cd4b1.32d09c","name":"Greifer aus GraphDB auswählen","info":"","x":490,"y":320,"wires":[]},{"id":"27a52734.111448","type":"function","z":"3f7cd4b1.32d09c","name":"process result and set url","func":"msg.url = msg.payload.results.bindings[0].url.value\nmsg.payload.conveyor_stopped = msg.conveyor_stopped\ndelete msg.conveyor_stopped;\ndelete msg.payload.head\ndelete msg.payload.results\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":380,"wires":[["2b9bc439.a431cc","aacf3ce9.e4511"]]},{"id":"2b9bc439.a431cc","type":"http request","z":"3f7cd4b1.32d09c","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":380,"wires":[["34fda072.518d3"]]},{"id":"34fda072.518d3","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":380,"wires":[]},{"id":"3a072df6.02b882","type":"comment","z":"3f7cd4b1.32d09c","name":"GraphDB-Antwort verarbeiten ","info":"","x":1160,"y":40,"wires":[]},{"id":"2735d2f.7e7f72e","type":"function","z":"3f7cd4b1.32d09c","name":"detect ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\n\nnode.warn(lastId)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[["d2f42534.db0e88"]]},{"id":"aacf3ce9.e4511","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":420,"wires":[]},{"id":"8f1f926dcd321184","type":"mqtt out","z":"3f7cd4b1.32d09c","name":"send CFP","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":980,"y":740,"wires":[]},{"id":"1d750a3b16581582","type":"inject","z":"3f7cd4b1.32d09c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":110,"y":740,"wires":[["3a41a356f4d3c2a6"]]},{"id":"539c7f112ac4f20e","type":"mqtt in","z":"3f7cd4b1.32d09c","name":"","topic":"SensorAgent_B","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":980,"wires":[["92ee91fd729c4283"]]},{"id":"1d339e3c272a43f6","type":"function","z":"3f7cd4b1.32d09c","name":"save conv id","func":"agentname = msg.payload;\nmsg.payload = {};\nconversation_id = makeID(6);\nmsg.payload.conversation_id = conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\narray.push(conversation_id);\nflow.set(\"conversation_ids\", array);\nmsg.payload.performative = \"CFP\";\nmsg.payload.sender = \"SensorAgent_B\";\nmsg.topic = agentname;\nconst timeout = false;\nflow.set(\"timeout_check\", timeout);\nreturn msg;\n\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":740,"wires":[["9a98fc3a7a1366c9","8f1f926dcd321184","7814075c83391f01"]]},{"id":"872b78141a0bcb96","type":"function","z":"3f7cd4b1.32d09c","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n//array.forEach(element => node.warn(element));\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":980,"wires":[["54c5cfa03574a152"]]},{"id":"54c5cfa03574a152","type":"switch","z":"3f7cd4b1.32d09c","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":980,"wires":[["4ec6f004e0af278a"],["0de77d0c7659bfea"]]},{"id":"4ec6f004e0af278a","type":"function","z":"3f7cd4b1.32d09c","name":"store message","func":"var array = flow.get(\"proposals_received\") || [];\narray.push(msg.payload);\nflow.set(\"proposals_received\", array);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":980,"wires":[["a18d3f513f45e7a8"]]},{"id":"0de77d0c7659bfea","type":"function","z":"3f7cd4b1.32d09c","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1060,"wires":[[]]},{"id":"4c40bbdb3161d76a","type":"function","z":"3f7cd4b1.32d09c","name":"define agents","func":"var array_of_agents = [];\narray_of_agents.push(\"SmallGripper\");\narray_of_agents.push(\"LargeGripper\");\nmsg.payload = array_of_agents;\nvar current_time = Date.now();\nflow.set(\"time\", current_time);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":740,"wires":[["04659bcf3d82a77b"]]},{"id":"04659bcf3d82a77b","type":"split","z":"3f7cd4b1.32d09c","name":"separate agents","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":580,"y":740,"wires":[["1d339e3c272a43f6"]]},{"id":"92ee91fd729c4283","type":"switch","z":"3f7cd4b1.32d09c","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":980,"wires":[["872b78141a0bcb96"]]},{"id":"9a98fc3a7a1366c9","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":800,"wires":[]},{"id":"3a41a356f4d3c2a6","type":"change","z":"3f7cd4b1.32d09c","name":"","rules":[{"t":"delete","p":"conversation_ids","pt":"flow"},{"t":"delete","p":"proposals_received","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":640,"wires":[["4c40bbdb3161d76a"]]},{"id":"2ef2559c2813e127","type":"function","z":"3f7cd4b1.32d09c","name":"determine best offer","func":"\nvar array = flow.get(\"proposals_received\");\nvar price = 99999; \nvar best_proposal;\narray.forEach(element => check(price, element));\nmsg.payload = best_proposal;\nmsg.topic = msg.payload.offeringAgent;\nmsg.payload.performative = \"ACCEPT_PROPOSAL\";\n\n\nreturn msg;\n\nfunction check(price_old, proposal){\n    if(proposal.price < price_old){\n        price = proposal.price;\n        best_proposal = proposal;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":740,"wires":[["80d0bca4151bbe0a","2af3a6b4be86ef00","acadcbf50bdbb9a0"]]},{"id":"80d0bca4151bbe0a","type":"mqtt out","z":"3f7cd4b1.32d09c","name":"send Accept Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":2080,"y":740,"wires":[]},{"id":"2af3a6b4be86ef00","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":700,"wires":[]},{"id":"acadcbf50bdbb9a0","type":"function","z":"3f7cd4b1.32d09c","name":"determine offer to reject","func":"var proposals_received = flow.get(\"proposals_received\");\nif(proposals_received.length > 1){\n    var proposal_to_reject;\nproposals_received.forEach(element => check(msg.payload.conversation_id, element));\nmsg.payload = proposal_to_reject;\nmsg.topic = msg.payload.offeringAgent;\nmsg.payload.performative = \"REJECT_PROPOSAL\";\n}\n\n\n\nreturn msg;\n\nfunction check(best_proposal_id, current_proposal){\n    if(current_proposal.conversation_id != best_proposal_id){\n        proposal_to_reject = current_proposal;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":820,"wires":[["b53816090c7554de"]]},{"id":"b53816090c7554de","type":"mqtt out","z":"3f7cd4b1.32d09c","name":"send Reject Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":2080,"y":820,"wires":[]},{"id":"33211245dbb63aa8","type":"comment","z":"3f7cd4b1.32d09c","name":"reset flow","info":"","x":180,"y":600,"wires":[]},{"id":"13ef34398eac6885","type":"comment","z":"3f7cd4b1.32d09c","name":"this would come from the query","info":"","x":350,"y":700,"wires":[]},{"id":"6e3d979196c612ae","type":"function","z":"3f7cd4b1.32d09c","name":"set timeout","func":"const timeout = false;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":620,"wires":[["eaa1b09d932ea507","ac3d7a5f7ad58275"]]},{"id":"fc47d4f50dbbfb84","type":"function","z":"3f7cd4b1.32d09c","name":"check proposals received","func":"var proposals_received = flow.get(\"proposals_received\") || [];\nvar cfps_sent = flow.get(\"conversation_ids\");\nvar timeout = flow.get(\"timeout\");\nnode.warn(\"proposals-received \"+proposals_received.length+\" cfps sent \"+cfps_sent.length+\" timeout \"+timeout);\n//TBD an die richtige Position!\nif(timeout == true || proposals_received.length >= cfps_sent.length){\n        node.warn(\"Continue\");\n        msg.payload.startSelection = true;\n}\n\n \n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":740,"wires":[["e2e59458119433ab","4db17929147a9487"]]},{"id":"7814075c83391f01","type":"join","z":"3f7cd4b1.32d09c","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":610,"y":620,"wires":[["6e3d979196c612ae","817a129273013c77"]]},{"id":"eaa1b09d932ea507","type":"delay","z":"3f7cd4b1.32d09c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1020,"y":540,"wires":[["37206423d248f9d9"]]},{"id":"37206423d248f9d9","type":"function","z":"3f7cd4b1.32d09c","name":"set timeout true","func":"const timeout = true;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":540,"wires":[[]]},{"id":"ac3d7a5f7ad58275","type":"trigger","z":"3f7cd4b1.32d09c","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1000,"y":620,"wires":[["4052f7796c982ebe"]]},{"id":"4052f7796c982ebe","type":"function","z":"3f7cd4b1.32d09c","name":"check timeout","func":"const timeout = flow.get(\"timeout\");\nmsg.payload.timeout = timeout;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":620,"wires":[["085557a7eea9b927"]]},{"id":"085557a7eea9b927","type":"switch","z":"3f7cd4b1.32d09c","name":"","property":"payload.timeout","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":620,"wires":[["79c243de2ac8c576","afc806789baf654a","2ef2559c2813e127"],["11504f6f4c1e44df","fc47d4f50dbbfb84"]]},{"id":"79c243de2ac8c576","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1670,"y":560,"wires":[]},{"id":"11504f6f4c1e44df","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":600,"wires":[]},{"id":"afc806789baf654a","type":"function","z":"3f7cd4b1.32d09c","name":"reset trigger","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":680,"wires":[["ac3d7a5f7ad58275"]]},{"id":"e2e59458119433ab","type":"switch","z":"3f7cd4b1.32d09c","name":"","property":"payload.startSelection","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":740,"wires":[["2ef2559c2813e127","afc806789baf654a"]]},{"id":"4db17929147a9487","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":800,"wires":[]},{"id":"817a129273013c77","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":540,"wires":[]},{"id":"a18d3f513f45e7a8","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":980,"wires":[]},{"id":"f789073374ba6f89","type":"debug","z":"3f7cd4b1.32d09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1430,"y":540,"wires":[]},{"id":"a7359c6819bb672f","type":"change","z":"3f7cd4b1.32d09c","name":"","rules":[{"t":"delete","p":"conversation_ids","pt":"flow"},{"t":"delete","p":"proposals_received","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":180,"wires":[["2735d2f.7e7f72e"]]},{"id":"60b8f54f.74b6ec","type":"http in","z":"6ff77629.399ba8","name":"","url":"SmallGripper","method":"get","upload":true,"swaggerDoc":"","x":150,"y":120,"wires":[["b5005ef4.a83f2"]]},{"id":"b5005ef4.a83f2","type":"delay","z":"6ff77629.399ba8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":360,"y":120,"wires":[["4e4490d8.54ed2"]]},{"id":"4e4490d8.54ed2","type":"function","z":"6ff77629.399ba8","name":"","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nnode.warn(\"WP picked up\");\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":120,"wires":[["1eeb3f39399af7ea","49e32219.590d8c"]]},{"id":"15aa0a30.2e23c6","type":"comment","z":"6ff77629.399ba8","name":"Rückgabe der Zeiten","info":"Dient dazu, dass Requests korrekt beendet werden können","x":770,"y":40,"wires":[]},{"id":"8be17eaf.33808","type":"comment","z":"6ff77629.399ba8","name":"Anmelden eines kleinen Grippers","info":"","x":190,"y":260,"wires":[]},{"id":"4c0e645f.25394c","type":"http request","z":"6ff77629.399ba8","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/KI_Agenten_node-red/statements","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":320,"wires":[[]]},{"id":"eb776259.44bf3","type":"function","z":"6ff77629.399ba8","name":"Gripper-Update-Request","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nINSERT DATA {\n    KI:SmallGripper2 a KI:GripperAgent;\n        KI:hasCapability KI:SmallGripper2Capability.\n    KI:SmallGripper2Capability a KI:PickProduct;\n        KI:allowsMaximumLength 0.6;\n        KI:hasPriorityNumber 1;\n        KI:hasUrl \"http://localhost:1880/SmallGripper\".\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":320,"wires":[["4c0e645f.25394c"]]},{"id":"2cd2e118.2a963e","type":"inject","z":"6ff77629.399ba8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":320,"wires":[["eb776259.44bf3","d966c166da920e8f"]]},{"id":"cc79acf4.0b7bf","type":"comment","z":"6ff77629.399ba8","name":"Eigentliche Gripper-Logik","info":"","x":170,"y":40,"wires":[]},{"id":"cc54ace.8bcbc5","type":"comment","z":"6ff77629.399ba8","name":"Abmelden eines kleinen Grippers","info":"","x":190,"y":420,"wires":[]},{"id":"78a68b08.a3b8d4","type":"http request","z":"6ff77629.399ba8","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/KI_Agenten_node-red/statements","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":480,"wires":[[]]},{"id":"e528b722.b170d8","type":"function","z":"6ff77629.399ba8","name":"Gripper-Update-Request","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nDELETE WHERE {\n    KI:SmallGripper2 a KI:GripperAgent;\n        KI:hasCapability KI:SmallGripper2Capability.\n    KI:SmallGripper2Capability a KI:PickProduct;\n        KI:allowsMaximumLength 0.6;\n        KI:hasPriorityNumber 1;\n        KI:hasUrl \"http://localhost:1880/SmallGripper\".\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["78a68b08.a3b8d4"]]},{"id":"a4f7f273.4e095","type":"inject","z":"6ff77629.399ba8","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":480,"wires":[["e528b722.b170d8"]]},{"id":"e28a8da5445d9ffe","type":"mqtt in","z":"6ff77629.399ba8","name":"","topic":"SmallGripper","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":580,"wires":[["757a0d66de342ed4"]]},{"id":"03962a088a6783c1","type":"function","z":"6ff77629.399ba8","name":"save conversation id and create proposal","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\narray.push(conversation_id);\nflow.set(\"conversation_ids\", array);\n\nmsg.payload.price = 99;\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = msg.topic; //offering agent is the agent himself\nmsg.topic = msg.payload.sender;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["4aa4a90aa2d12b0c","c1a560e61a16cb4e"]]},{"id":"d966c166da920e8f","type":"function","z":"6ff77629.399ba8","name":"","func":"var items_array = []; \nflow.set(\"conversation_ids\" ,items_array); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":380,"wires":[[]]},{"id":"ba985792598609c0","type":"function","z":"6ff77629.399ba8","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["62db577a59fe4967"]]},{"id":"62db577a59fe4967","type":"switch","z":"6ff77629.399ba8","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":640,"wires":[["4e4490d8.54ed2","6e4e467fbd294591"],["24e614331f79b501"]]},{"id":"24e614331f79b501","type":"function","z":"6ff77629.399ba8","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":720,"wires":[[]]},{"id":"6e4e467fbd294591","type":"function","z":"6ff77629.399ba8","name":"delete id","func":"conversation_id = msg.payload.conversation_id;\nnode.warn(\"id \"+conversation_id+\" deleted.\");\nvar array = flow.get(\"conversation_ids\") || [];\nvar array2 = array.filter(e => e != conversation_id); \nflow.set(\"conversation_ids\", array2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":640,"wires":[[]]},{"id":"757a0d66de342ed4","type":"switch","z":"6ff77629.399ba8","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":580,"wires":[["03962a088a6783c1"],["ba985792598609c0"],["5c54a8e959e937e7"]]},{"id":"4aa4a90aa2d12b0c","type":"mqtt out","z":"6ff77629.399ba8","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1000,"y":540,"wires":[]},{"id":"c1a560e61a16cb4e","type":"debug","z":"6ff77629.399ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"1eeb3f39399af7ea","type":"debug","z":"6ff77629.399ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"5c54a8e959e937e7","type":"function","z":"6ff77629.399ba8","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":780,"wires":[["3d254903c32c0cc8"]]},{"id":"3d254903c32c0cc8","type":"switch","z":"6ff77629.399ba8","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":780,"wires":[["6e4e467fbd294591"],["24e614331f79b501"]]},{"id":"e82cca9f9713ddda","type":"http in","z":"6ff77629.399ba8","name":"","url":"/agent1/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":140,"y":880,"wires":[["d4492bd4fcb7e591"]]},{"id":"d4492bd4fcb7e591","type":"function","z":"6ff77629.399ba8","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":880,"wires":[["a1ac5c71faf2c047"]]},{"id":"a1ac5c71faf2c047","type":"mqtt in","z":"6ff77629.399ba8","name":"topic x","topic":"","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":130,"y":700,"wires":[["757a0d66de342ed4"]]},{"id":"49e32219.590d8c","type":"http response","z":"6ff77629.399ba8","d":true,"name":"","statusCode":"","headers":{},"x":770,"y":120,"wires":[]},{"id":"b8439a53.6d4788","type":"http in","z":"ab6f13e.0011d7","name":"","url":"LargeGripper","method":"get","upload":true,"swaggerDoc":"","x":150,"y":100,"wires":[["2b91c41.33530bc"]]},{"id":"2b91c41.33530bc","type":"delay","z":"ab6f13e.0011d7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":360,"y":100,"wires":[["e02e8640.2b4788"]]},{"id":"e02e8640.2b4788","type":"function","z":"ab6f13e.0011d7","name":"","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["95126fb3.ff8d"]]},{"id":"95126fb3.ff8d","type":"http response","z":"ab6f13e.0011d7","name":"","statusCode":"","headers":{},"x":730,"y":100,"wires":[]},{"id":"3ed2db70.6bbb14","type":"comment","z":"ab6f13e.0011d7","name":"Rückgabe der Zeiten","info":"Dient dazu, dass Requests korrekt beendet werden können","x":730,"y":40,"wires":[]},{"id":"2b82a972.256426","type":"comment","z":"ab6f13e.0011d7","name":"Eigentliche Gripper-Logik","info":"","x":170,"y":40,"wires":[]},{"id":"9a50ee85.7feb2","type":"comment","z":"ab6f13e.0011d7","name":"Anmelden des Grippers","info":"","x":160,"y":240,"wires":[]},{"id":"677af987.111a68","type":"http request","z":"ab6f13e.0011d7","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/KI_Agenten_node-red/statements","tls":"","persist":false,"proxy":"","authType":"","x":596,"y":310,"wires":[[]]},{"id":"be011479.398b78","type":"function","z":"ab6f13e.0011d7","name":"Gripper-Update-Request","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nINSERT DATA {\n    KI:LargeGripper2 a KI:GripperAgent;\n        KI:hasCapability KI:LargeGripperCapability.\n    KI:LargeGripperCapability a KI:PickProduct;\n        KI:allowsMaximumLength 2;\n        KI:hasPriorityNumber 10;\n        KI:hasUrl \"http://localhost:1880/LargeGripper\".\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":356,"y":310,"wires":[["677af987.111a68"]]},{"id":"cc02f42b.26e788","type":"inject","z":"ab6f13e.0011d7","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":136,"y":310,"wires":[["be011479.398b78"]]},{"id":"6c5f907c.0a3a8","type":"comment","z":"ab6f13e.0011d7","name":"Abmelden des Grippers","info":"","x":160,"y":440,"wires":[]},{"id":"a7d1ef80.12eb5","type":"http request","z":"ab6f13e.0011d7","name":"GraphDB-Update","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/KI_Agenten_node-red/statements","tls":"","persist":false,"proxy":"","authType":"","x":606,"y":510,"wires":[[]]},{"id":"d8780e28.13b18","type":"function","z":"ab6f13e.0011d7","name":"Gripper-INSERT-Request","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nDELETE DATA {\n    KI:LargeGripper2 a KI:GripperAgent;\n        KI:hasCapability KI:LargeGripperCapability.\n    KI:LargeGripperCapability a KI:PickProduct;\n        KI:allowsMaximumLength 2;\n        KI:hasPriorityNumber 10;\n        KI:hasUrl \"http://localhost:1880/LargeGripper\".\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":366,"y":510,"wires":[["a7d1ef80.12eb5"]]},{"id":"a1183bbd.c2b1c8","type":"inject","z":"ab6f13e.0011d7","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":146,"y":510,"wires":[["d8780e28.13b18"]]},{"id":"87ab4f85c2e726fd","type":"mqtt in","z":"ab6f13e.0011d7","name":"","topic":"LargeGripper","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":740,"wires":[["5c52c0c4a0197de3"]]},{"id":"c6d21564e82b72e3","type":"function","z":"ab6f13e.0011d7","name":"save conversation id and create proposal","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\narray.push(conversation_id);\nflow.set(\"conversation_ids\", array);\n\nmsg.payload.price = 111;\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = msg.topic;\nmsg.topic = msg.payload.sender;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":740,"wires":[["4944ebda19ecc76c","61ebc3a371ccbbec"]]},{"id":"d9514ca9e8e54e96","type":"function","z":"ab6f13e.0011d7","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":880,"wires":[["f5a8970487de4770"]]},{"id":"f5a8970487de4770","type":"switch","z":"ab6f13e.0011d7","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":800,"wires":[["3e277a46c69967f4","e02e8640.2b4788"],["cfe618102d464c6a"]]},{"id":"cfe618102d464c6a","type":"function","z":"ab6f13e.0011d7","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":880,"wires":[[]]},{"id":"5c52c0c4a0197de3","type":"switch","z":"ab6f13e.0011d7","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":740,"wires":[["c6d21564e82b72e3"],["d9514ca9e8e54e96"],["919cc29aa783152c"]]},{"id":"919cc29aa783152c","type":"function","z":"ab6f13e.0011d7","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nvar array = flow.get(\"conversation_ids\") || [];\nvar found = false; \narray.forEach(element => check(conversation_id, element));\nmsg.payload.indicator = found;\n\n\n\nreturn msg;\n\nfunction check(newNumber, oldNumber){\n    if(newNumber == oldNumber){\n        found = true;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":940,"wires":[["4675844a74031a0b"]]},{"id":"4675844a74031a0b","type":"switch","z":"ab6f13e.0011d7","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":940,"wires":[["3e277a46c69967f4"],["cfe618102d464c6a"]]},{"id":"3e277a46c69967f4","type":"function","z":"ab6f13e.0011d7","name":"delete id","func":"conversation_id = msg.payload.conversation_id;\nnode.warn(\"id \"+conversation_id+\" deleted.\");\nvar array = flow.get(\"conversation_ids\") || [];\nvar array2 = array.filter(e => e != conversation_id); \nflow.set(\"conversation_ids\", array2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":800,"wires":[[]]},{"id":"4944ebda19ecc76c","type":"mqtt out","z":"ab6f13e.0011d7","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":980,"y":700,"wires":[]},{"id":"61ebc3a371ccbbec","type":"debug","z":"ab6f13e.0011d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":640,"wires":[]},{"id":"c3895f6a.894e6","type":"inject","z":"24b3fbe2.e5a654","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":120,"wires":[["dc127b38.68aa18"]]},{"id":"34bf4525.b0d55a","type":"comment","z":"24b3fbe2.e5a654","name":"Start des Flows: Ankunft eines Teils","info":"","x":160,"y":60,"wires":[]},{"id":"864f1ee3.6caf5","type":"delay","z":"24b3fbe2.e5a654","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":120,"wires":[["555433cf.f30e6c"]]},{"id":"555433cf.f30e6c","type":"function","z":"24b3fbe2.e5a654","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":120,"wires":[["29b4e1f6.35959e"]]},{"id":"29b4e1f6.35959e","type":"http request","z":"24b3fbe2.e5a654","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":280,"wires":[["a2228bea.1ae578"]]},{"id":"4a5ab46e.2a559c","type":"comment","z":"24b3fbe2.e5a654","name":"Zeitdifferenz speichern","info":"","x":1080,"y":60,"wires":[]},{"id":"1ca690ff.75426f","type":"comment","z":"24b3fbe2.e5a654","name":"Länge von Conveyor anfragen","info":"","x":620,"y":220,"wires":[]},{"id":"a2228bea.1ae578","type":"function","z":"24b3fbe2.e5a654","name":"store ID locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":280,"wires":[["52df90a3.2471f"]]},{"id":"ce277ae1.7855b8","type":"http in","z":"24b3fbe2.e5a654","name":"","url":"/sensorA/getLength","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["2324dc9f.1f1264"]]},{"id":"2324dc9f.1f1264","type":"function","z":"24b3fbe2.e5a654","name":"return length","func":"// Get WP length by ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":480,"wires":[["6dc13d8.b8aa2c4"]]},{"id":"6dc13d8.b8aa2c4","type":"http response","z":"24b3fbe2.e5a654","name":"","statusCode":"","headers":{},"x":650,"y":480,"wires":[]},{"id":"5382a42.7cb7b5c","type":"comment","z":"24b3fbe2.e5a654","name":"simulierte Verzögerung","info":"","x":820,"y":60,"wires":[]},{"id":"52df90a3.2471f","type":"debug","z":"24b3fbe2.e5a654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"d7e07d00.37f78","type":"comment","z":"24b3fbe2.e5a654","name":"Lokales Abspeichern des Produktes","info":"","x":1020,"y":220,"wires":[]},{"id":"dc127b38.68aa18","type":"function","z":"24b3fbe2.e5a654","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeDetection = global.get(\"sensorA_timeDetection\");\n\nif (sensorA_timeDetection == undefined) {\n    sensorA_timeDetection = 0;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n} else {\n    sensorA_timeDetection = global.get(\"sensorA_timeDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n}\nmsg.payload.sensorA_timeDetection = sensorA_timeDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["864f1ee3.6caf5"]]},{"id":"d5e81fe8.0ec17","type":"comment","z":"24b3fbe2.e5a654","name":"Zur direkten / lokalen Abfrage der Länge ohne GraphDB","info":"","x":220,"y":420,"wires":[]},{"id":"8541237d.42c21","type":"comment","z":"24b3fbe2.e5a654","name":"simulierte ID-Detektion und Detektions-Dauer ","info":"","x":510,"y":60,"wires":[]},{"id":"eb7ecfb3.260b6","type":"comment","z":"24b3fbe2.e5a654","name":"Rückgabe der Werkstück-Länge","info":"","x":650,"y":420,"wires":[]},{"id":"5edcc172.6618b","type":"inject","z":"6da3eaa9.c3f48c","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["4ade2b5e.7ce894"]]},{"id":"1c424562.bb9d73","type":"function","z":"6da3eaa9.c3f48c","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":100,"wires":[["cc360daf.9dede","22158829.e2fc5"]]},{"id":"cc360daf.9dede","type":"debug","z":"6da3eaa9.c3f48c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":100,"wires":[]},{"id":"fd2b5b28.45853","type":"comment","z":"6da3eaa9.c3f48c","name":"Länge direkt von Sensor A anfordern","info":"","x":580,"y":40,"wires":[]},{"id":"9bc8d4d6.c27ea","type":"comment","z":"6da3eaa9.c3f48c","name":"Haltepunkt berechnen","info":"","x":880,"y":40,"wires":[]},{"id":"22158829.e2fc5","type":"http request","z":"6da3eaa9.c3f48c","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":260,"wires":[["386a7fc2.f6995"]]},{"id":"12ea8040.20fc68","type":"comment","z":"6da3eaa9.c3f48c","name":"Stop anfordern","info":"","x":480,"y":200,"wires":[]},{"id":"c4a6ea20.58b1e8","type":"http request","z":"6da3eaa9.c3f48c","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":260,"wires":[["f1723eeb.0e64c"]]},{"id":"e8299f6b.392d4","type":"comment","z":"6da3eaa9.c3f48c","name":"Abholung anfordern","info":"","x":1030,"y":200,"wires":[]},{"id":"386a7fc2.f6995","type":"function","z":"6da3eaa9.c3f48c","name":"select gripper","func":"const length = msg.payload.wp_length;\nif(length > 0.75){\n    gripper = \"LargeGripper\";\n}else{\n    gripper = \"SmallGripper\";\n}\n\nmsg.url = \"http://localhost:1880/\"+gripper;\nmsg.payload.gripper = gripper;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["c4a6ea20.58b1e8"]]},{"id":"5f2018e8.b416e8","type":"comment","z":"6da3eaa9.c3f48c","name":"Greifer auswählen ohne GraphDB","info":"","x":760,"y":200,"wires":[]},{"id":"ad44ff67.359f7","type":"http request","z":"6da3eaa9.c3f48c","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/sensorA/getLength","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":100,"wires":[["1c424562.bb9d73"]]},{"id":"4ade2b5e.7ce894","type":"function","z":"6da3eaa9.c3f48c","name":"get Last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["ad44ff67.359f7"]]},{"id":"f1723eeb.0e64c","type":"debug","z":"6da3eaa9.c3f48c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":260,"wires":[]},{"id":"74fd2b6e.7a93c4","type":"debug","z":"6da3eaa9.c3f48c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":500,"wires":[]},{"id":"4be56626.377968","type":"comment","z":"6da3eaa9.c3f48c","name":"Produkt kommt an und wird detektiert","info":"","x":190,"y":40,"wires":[]},{"id":"714fcbf.ce092b4","type":"function","z":"b03b715f.3db3d","name":"time_difference","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":100,"wires":[["86862438.3c159"]]},{"id":"86862438.3c159","type":"http request","z":"b03b715f.3db3d","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":280,"wires":[["c147cf59.ecbcc"]]},{"id":"1ffc2ec3.25e499","type":"comment","z":"b03b715f.3db3d","name":"Zeitdifferenz speichern","info":"","x":1060,"y":40,"wires":[]},{"id":"bf0df438.8064f8","type":"comment","z":"b03b715f.3db3d","name":"Länge von Conveyor anfragen","info":"","x":680,"y":220,"wires":[]},{"id":"c147cf59.ecbcc","type":"function","z":"b03b715f.3db3d","name":"store product locally","func":"// Store this payload so that we can later (when Sensor B asks) get the length\nconst id = msg.payload.barcode;\nflow.set(id,msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":280,"wires":[["71c4d21.21944ac"]]},{"id":"7432cbb2.7e6214","type":"comment","z":"b03b715f.3db3d","name":"simulierte Verzögerung","info":"","x":800,"y":40,"wires":[]},{"id":"71c4d21.21944ac","type":"debug","z":"b03b715f.3db3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"272463ea.499eac","type":"function","z":"b03b715f.3db3d","name":"generate random ID and time","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeDetection = global.get(\"sensorA_timeDetection\");\n\nif (sensorA_timeDetection == undefined) {\n    sensorA_timeDetection = 0;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n} else {\n    sensorA_timeDetection = global.get(\"sensorA_timeDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n}\nmsg.payload.sensorA_timeDetection = sensorA_timeDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[[]]},{"id":"fd449665.e1cbe8","type":"comment","z":"b03b715f.3db3d","name":"simulierte ID-Detektion und Detektions-Dauer ","info":"","x":490,"y":40,"wires":[]},{"id":"99c1ea59.334cf8","type":"comment","z":"b03b715f.3db3d","name":"Start des Flows: Ankunft eines Teils","info":"","x":160,"y":40,"wires":[]},{"id":"9e2ec794.e6de18","type":"comment","z":"b03b715f.3db3d","name":"Lokales Abspeichern des Produkts","info":"","x":980,"y":220,"wires":[]},{"id":"a46a54f6.cfbae8","type":"function","z":"b03b715f.3db3d","name":"return workpiece length","func":"// Get WP length by ID\nconst requestedWpId = msg.payload.barcode;\nconst storedPayloadOfProduct = flow.get(requestedWpId);\nmsg.payload.wp_length = storedPayloadOfProduct.wp_length\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":480,"wires":[["2e772d8b.e40f32"]]},{"id":"2e772d8b.e40f32","type":"http response","z":"b03b715f.3db3d","name":"","statusCode":"","headers":{},"x":810,"y":480,"wires":[]},{"id":"a9011646.8f5358","type":"comment","z":"b03b715f.3db3d","name":"Zur direkten / lokalen Abfrage der Länge ohne GraphDB","info":"","x":240,"y":420,"wires":[]},{"id":"c3a36489.e69638","type":"comment","z":"b03b715f.3db3d","name":"Rückgabe der Werkstück-Länge","info":"","x":670,"y":420,"wires":[]},{"id":"3b56d140.65bd3e","type":"inject","z":"b03b715f.3db3d","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":170,"y":100,"wires":[["272463ea.499eac"]]},{"id":"f80df3d8.3e9f5","type":"inject","z":"1bfef572.e4fc33","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["58a08f97.18d508"]]},{"id":"9b5214e5.020218","type":"http request","z":"1bfef572.e4fc33","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":280,"wires":[["6adee36b.45d65c"]]},{"id":"dbb0a70a.03867","type":"comment","z":"1bfef572.e4fc33","name":"Stop anfordern","info":"","x":700,"y":240,"wires":[]},{"id":"96037602.e26a9","type":"http request","z":"1bfef572.e4fc33","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1210,"y":280,"wires":[[]]},{"id":"37a11ffe.6d3e5","type":"comment","z":"1bfef572.e4fc33","name":"Abholung anfordern","info":"","x":1210,"y":240,"wires":[]},{"id":"66d61ed2.504bf","type":"comment","z":"1bfef572.e4fc33","name":"Produkt kommt bei B an und wird detektiert","info":"","x":180,"y":40,"wires":[]},{"id":"6adee36b.45d65c","type":"function","z":"1bfef572.e4fc33","name":"select gripper","func":"//wp_length aus dem payload nutzen","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":280,"wires":[["96037602.e26a9"]]},{"id":"5b28d9af.3f06f8","type":"comment","z":"1bfef572.e4fc33","name":"Greifer auswählen","info":"","x":950,"y":240,"wires":[]},{"id":"58a08f97.18d508","type":"function","z":"1bfef572.e4fc33","name":"get last ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":100,"wires":[[]]},{"id":"b2d6a10.4ce8e6","type":"comment","z":"1bfef572.e4fc33","name":"Länge direkt von Sensor A anfordern","info":"","x":600,"y":40,"wires":[]},{"id":"72bfc359.d0040c","type":"comment","z":"1bfef572.e4fc33","name":"Haltepunkt berechnen","info":"","x":900,"y":40,"wires":[]},{"id":"2bdd9d19.777692","type":"function","z":"1bfef572.e4fc33","name":"half the workpiece length","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":100,"wires":[["9b5214e5.020218"]]},{"id":"3c32d29a.fc8c9e","type":"http request","z":"1bfef572.e4fc33","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":100,"wires":[[]]},{"id":"27e3ff91.90b41","type":"inject","z":"861c55f7.bd00b8","name":"Detect piece","props":[{"p":"delay","v":"250 + $random() * 250","vt":"jsonata"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":150,"y":120,"wires":[["76dca3c7.b826cc"]]},{"id":"f57ceb56.d71f68","type":"comment","z":"861c55f7.bd00b8","name":"Start des Flows: Ankunft eines Teils","info":"","x":160,"y":60,"wires":[]},{"id":"3db18fdf.20334","type":"delay","z":"861c55f7.bd00b8","name":"Delay: Object passing sensor","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":120,"wires":[["4b17b508.6a540c"]]},{"id":"4b17b508.6a540c","type":"function","z":"861c55f7.bd00b8","name":"time_difference","func":"const sensorA_timeEndDetection = (msg.payload.sensorA_timeDetection + msg.delay); // time in s\nmsg.payload.sensorA_timeEndDetection = sensorA_timeEndDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":120,"wires":[["ac55ad22.1081e"]]},{"id":"fc039b3c.d88fd8","type":"comment","z":"861c55f7.bd00b8","name":"Zeitdifferenz speichern","info":"","x":1080,"y":60,"wires":[]},{"id":"7499cde0.6ae604","type":"comment","z":"861c55f7.bd00b8","name":"simulierte Verzögerung","info":"","x":820,"y":60,"wires":[]},{"id":"c76529c8.ad47d8","type":"http request","z":"861c55f7.bd00b8","name":"Insert Product Into Graph DB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/KI_Agenten_node-red/statements","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":280,"wires":[[]]},{"id":"522e4106.ba534","type":"function","z":"861c55f7.bd00b8","name":"store product in GraphDB","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>\nINSERT DATA {\n    KI:Product_${msg.payload.barcode} a KI:Product;\n        KI:hasProductId \"${msg.payload.barcode}\";\n        KI:hasLength ${msg.payload.wp_length};\n        KI:timeAdded ${msg.payload.sensorA_timeDetection}.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":280,"wires":[["c76529c8.ad47d8"]]},{"id":"76dca3c7.b826cc","type":"function","z":"861c55f7.bd00b8","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeDetection = global.get(\"sensorA_timeDetection\");\n\nif (sensorA_timeDetection == undefined) {\n    sensorA_timeDetection = 0;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n} else {\n    sensorA_timeDetection = global.get(\"sensorA_timeDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeDetection\", sensorA_timeDetection);\n}\nmsg.payload.sensorA_timeDetection = sensorA_timeDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":120,"wires":[["3db18fdf.20334"]]},{"id":"2936ef03.e4091","type":"comment","z":"861c55f7.bd00b8","name":"Abspeichern des Produktes in GraphDB","info":"","x":990,"y":220,"wires":[]},{"id":"a9c3a0c3.90351","type":"comment","z":"861c55f7.bd00b8","name":"simulierte ID-Detektion und Detektions-Dauer ","info":"","x":510,"y":60,"wires":[]},{"id":"8158a07.52a366","type":"comment","z":"861c55f7.bd00b8","name":"Länge von Conveyor anfragen","info":"","x":620,"y":220,"wires":[]},{"id":"ac55ad22.1081e","type":"http request","z":"861c55f7.bd00b8","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/distance_travelled_conveyor","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":280,"wires":[["522e4106.ba534"]]},{"id":"d0c04e8d.1040b","type":"inject","z":"72f1a748.a29658","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Auftragseingang","payloadType":"str","x":120,"y":120,"wires":[["7e384fb8.95b65","c6281973.95acc8"]]},{"id":"7e384fb8.95b65","type":"function","z":"72f1a748.a29658","name":"Zufallszahlengenerator","func":"var min = 1;\nvar max = 100;\nmsg.payload = Math.round(Math.random() * (max - min)) + min;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":120,"wires":[["972f4f7.52937b","c96ef70c.6e2148"]]},{"id":"c6281973.95acc8","type":"debug","z":"72f1a748.a29658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":110,"y":200,"wires":[]},{"id":"972f4f7.52937b","type":"switch","z":"72f1a748.a29658","name":"Auftragsbewertung","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"},{"t":"lt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":220,"wires":[["d3e75413.8725c8","262eae5b.530c72"],["8f008f89.2f66f"]]},{"id":"8f008f89.2f66f","type":"change","z":"72f1a748.a29658","name":"Auftragsablehnung","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wird abgelehnt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":380,"wires":[["f1b747a9.6a4728"]],"info":"Ausgabe, um die Abläufe im Debugg-Bereich zu erklären."},{"id":"f1b747a9.6a4728","type":"debug","z":"72f1a748.a29658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":150,"y":480,"wires":[]},{"id":"c96ef70c.6e2148","type":"debug","z":"72f1a748.a29658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"262eae5b.530c72","type":"delay","z":"72f1a748.a29658","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":700,"y":360,"wires":[["22da1819.e5f648"]]},{"id":"d3e75413.8725c8","type":"change","z":"72f1a748.a29658","name":"Agentensuche","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Welche Agenten kann ich ansprechen?\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":220,"wires":[["351f4a24.a918b6"]]},{"id":"351f4a24.a918b6","type":"debug","z":"72f1a748.a29658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"d517fdad.f9a2e","type":"mqtt out","z":"72f1a748.a29658","name":"","topic":"Request","qos":"","retain":"","broker":"5e860b2a.bec974","x":880,"y":560,"wires":[]},{"id":"22da1819.e5f648","type":"change","z":"72f1a748.a29658","name":"Agent-Fähigkeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":560,"wires":[["d517fdad.f9a2e"]]},{"id":"f14c707c.d4f23","type":"mqtt in","z":"72f1a748.a29658","name":"","topic":"Answer","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":370,"y":700,"wires":[["33b6e7ab.6e85e8"]]},{"id":"97eece15.2997","type":"mqtt out","z":"72f1a748.a29658","name":"","topic":"","qos":"","retain":"","broker":"5e860b2a.bec974","x":790,"y":700,"wires":[]},{"id":"33b6e7ab.6e85e8","type":"function","z":"72f1a748.a29658","name":"","func":"msg.topic = msg.payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":700,"wires":[["97eece15.2997","e98da603.a14ce8"]]},{"id":"acbe5e2e.44072","type":"comment","z":"72f1a748.a29658","name":"Zufallsgenerator","info":"Hier wird eine Bedingung an den Auftrag gestellt. Es soll geprüft werden, ob der Produktionsprozess den Wünschen des Kunden überhaupt entsprechen kann.\nDazu wird vereinfachend ein Zufallsgenerator verwendet, der Zahlen von 1-100 ausgeben kann.\nIst der Wert der Zahl über 50 werden die Wünsche des Kunden als machbar eingestuft und bearbeitet.\nIst der Wert der Zahl unter 50 wird der Auftrag abgelehnt.","x":380,"y":80,"wires":[]},{"id":"b5dbfb71.dc7088","type":"comment","z":"72f1a748.a29658","name":"Agent-Fähigkeit","info":"Hier wird die benötigte Fähigkeit eingesetzt. Da dies ein vereinfachtes Modell darstellt, wird ein Agent gesucht, der die Fähigkeit (ind diesem Fall als Platzhalter x oder y) für die Erfüllung des Kundenwunnsches besitzt.","x":500,"y":600,"wires":[]},{"id":"34726add.375136","type":"comment","z":"72f1a748.a29658","name":"Request","info":"Anfrage an den Verzeichnisagenten über eine MQTT-Verbindung, welcher Agent für die in \"Agent-Fähigkeit\" benötigte Fähigkeit eingesetzt werden kann.\nVerbindung zu \"Request\" im Verzeichnisagent","x":880,"y":520,"wires":[]},{"id":"cc4eee3e.00333","type":"comment","z":"72f1a748.a29658","name":"Dauer für die Auftragsbewertung","info":"Einsetzen eines Platzhalters für die benötigte Überprüfung, wie ein Kundenwunsch erfüllt werden kann.","x":750,"y":320,"wires":[]},{"id":"236b723a.3d254e","type":"comment","z":"72f1a748.a29658","name":"","info":"Ausgabe, um die Abläufe im Debugg-Bereich zu erklären.","x":890,"y":180,"wires":[]},{"id":"356f273c.a15898","type":"comment","z":"72f1a748.a29658","name":"","info":"Ausgabe, um die Abläufe im Debugg-Bereich zu erklären.","x":270,"y":340,"wires":[]},{"id":"a771e089.0c5b6","type":"comment","z":"72f1a748.a29658","name":"Funktion","info":"Funktion, die die Ausgbabe von \"Answer\" zu einem Topic macht, damit die MQTT-Verbindung abhängig von der Ausgabe zu den verschiedenen Maschinenagenten weitergeleitet werden kann.","x":580,"y":660,"wires":[]},{"id":"eea82a05.d0e298","type":"comment","z":"72f1a748.a29658","name":"MQTT","info":"Verbindung zum M1-Agent oder zum M2-Agent (theoretisch bis M_n-Agent)basierend auf dem übergebenen Topic.","x":790,"y":660,"wires":[]},{"id":"2957ce5a.53da12","type":"inject","z":"72f1a748.a29658","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":940,"wires":[["17596c24.b96ef4"]]},{"id":"33d417a8.0826a8","type":"mqtt out","z":"72f1a748.a29658","name":"","topic":"test","qos":"","retain":"","broker":"5e860b2a.bec974","x":780,"y":940,"wires":[]},{"id":"9b3c1f03.e45b4","type":"mqtt in","z":"72f1a748.a29658","name":"","topic":"test","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":510,"y":1060,"wires":[["9d8d146b.2d0418"]]},{"id":"9d8d146b.2d0418","type":"debug","z":"72f1a748.a29658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"id","targetType":"msg","statusVal":"id","statusType":"auto","x":730,"y":1060,"wires":[]},{"id":"17596c24.b96ef4","type":"change","z":"72f1a748.a29658","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":940,"wires":[["dcc4e43e.3eae58"]]},{"id":"dcc4e43e.3eae58","type":"function","z":"72f1a748.a29658","name":"","func":"msg.topic = msg.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":940,"wires":[["33d417a8.0826a8"]]},{"id":"fd47e105.715bc","type":"comment","z":"72f1a748.a29658","name":"Answer","info":"Antwort des Verzeichnisagenten, welche Agenten die gewünschte Fähigkeit zur Erfüllung des Auftrags besitzen.","x":370,"y":660,"wires":[]},{"id":"277e5c5f.01a9d4","type":"aedes broker","z":"72f1a748.a29658","name":"Aedes","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":1050,"y":420,"wires":[[]]},{"id":"e98da603.a14ce8","type":"debug","z":"72f1a748.a29658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":800,"wires":[]},{"id":"f1c12617.508168","type":"inject","z":"ad82281d.3fc028","name":"Initialisierung M1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"M1,x","payloadType":"str","x":300,"y":100,"wires":[["12be462e.b33ada"]]},{"id":"12be462e.b33ada","type":"mqtt out","z":"ad82281d.3fc028","name":"","topic":"Agent","qos":"","retain":"","broker":"5e860b2a.bec974","x":510,"y":100,"wires":[]},{"id":"247687b6.944408","type":"mqtt in","z":"ad82281d.3fc028","name":"","topic":"M1","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":70,"y":240,"wires":[["730da4ef.bed28c"]]},{"id":"dbb84b7d.753738","type":"comment","z":"ad82281d.3fc028","name":"Werden zusätzliche Fähigkeiten benötigt?","info":"Hier steht der Zufallsgenerator wieder vereinfachend für das Herausfinden, ob noch weitere Fähigkeiten gebraucht werden. Ist der numerische Wert gleich oder größer 75 wird keine weitere Fähigkeit benötigt. Ist der Wert kleiner als 75 wird der Verzeichnisagent nach den benötigten Fähigkeiten befragt.","x":200,"y":180,"wires":[]},{"id":"78bd9ddd.ab11f4","type":"change","z":"ad82281d.3fc028","name":"Durchführung des Auftrags","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wird bearbeitet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":240,"wires":[["99d6f04d.7b514","e0f09391.f9692"]]},{"id":"99d6f04d.7b514","type":"delay","z":"ad82281d.3fc028","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":300,"wires":[["6082865d.b882c8"]]},{"id":"6082865d.b882c8","type":"change","z":"ad82281d.3fc028","name":"Der Auftrag wurde durchgeführt","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wurde durchgeführt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":240,"wires":[["9fcaf245.1eca8"]]},{"id":"f53e6621.9ad128","type":"change","z":"ad82281d.3fc028","name":"Fähigkeitensuche","rules":[{"t":"set","p":"payload","pt":"msg","to":"Welche Agenten werden zusätzlich benötigt?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":440,"wires":[["f4024f9d.76e35","654520f.caa1ce"]]},{"id":"f4024f9d.76e35","type":"debug","z":"ad82281d.3fc028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":230,"y":540,"wires":[]},{"id":"654520f.caa1ce","type":"delay","z":"ad82281d.3fc028","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":460,"y":460,"wires":[["f13bc81e.aed4c8"]]},{"id":"5cf2a06b.5ed5b","type":"comment","z":"ad82281d.3fc028","name":"Initialisierung M1","info":"Der Maschinenagent M1 registriert sich und seine Fähigkeit im Verzeichnisagent über eine MQTT-Verbindung.\nVerbindung zu \"Agent\" im Verzeichnisagent.","x":400,"y":60,"wires":[]},{"id":"f13bc81e.aed4c8","type":"change","z":"ad82281d.3fc028","name":"Agent-Fähigkeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":520,"wires":[["d4b82c8b.87c27"]]},{"id":"d4b82c8b.87c27","type":"mqtt out","z":"ad82281d.3fc028","name":"","topic":"Request/M1","qos":"","retain":"","broker":"5e860b2a.bec974","x":730,"y":520,"wires":[]},{"id":"e0dd664d.000e98","type":"mqtt in","z":"ad82281d.3fc028","name":"","topic":"Answer/M1","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":100,"y":680,"wires":[["9e995c44.a9375"]]},{"id":"cad75952.38d998","type":"debug","z":"ad82281d.3fc028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":700,"wires":[]},{"id":"af09b565.e44298","type":"change","z":"ad82281d.3fc028","name":"Durchführung des Auftrags","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wird bearbeitet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":680,"wires":[["4adf1d27.874624","bfbe2715.3e48f8"]]},{"id":"4adf1d27.874624","type":"delay","z":"ad82281d.3fc028","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":660,"y":740,"wires":[["7c2ca334.78c66c"]]},{"id":"7c2ca334.78c66c","type":"change","z":"ad82281d.3fc028","name":"Der Auftrag wurde durchgeführt","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wurde durchgeführt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":700,"wires":[["cad75952.38d998"]]},{"id":"bfbe2715.3e48f8","type":"debug","z":"ad82281d.3fc028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":640,"wires":[]},{"id":"9fcaf245.1eca8","type":"debug","z":"ad82281d.3fc028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":320,"wires":[]},{"id":"e0f09391.f9692","type":"debug","z":"ad82281d.3fc028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"730da4ef.bed28c","type":"function","z":"ad82281d.3fc028","name":"Zufallszahlengenerator","func":"var min = 50;\nvar max = 100;\nmsg.payload = Math.round(Math.random() * (max - min)) + min;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":240,"wires":[["69be90ba.5ced6"]]},{"id":"69be90ba.5ced6","type":"switch","z":"ad82281d.3fc028","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"75","vt":"num"},{"t":"lt","v":"75","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":240,"wires":[["78bd9ddd.ab11f4"],["f53e6621.9ad128"]]},{"id":"9e995c44.a9375","type":"function","z":"ad82281d.3fc028","name":"","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":680,"wires":[["af09b565.e44298"]]},{"id":"b43d15c8.fbf058","type":"comment","z":"ad82281d.3fc028","name":"Alle Fähigkeiten sind vorhanden","info":"Es wird keine neue Fähigkeit gebraucht und der M1-Agent kann den Auftrag ausführen.","x":1010,"y":180,"wires":[]},{"id":"fd275cc7.ef747","type":"comment","z":"ad82281d.3fc028","name":"Es fehlen Fähigkeiten","info":"Der M1-Agent fragt im Register nach den fehlenden Fähigkeiten.","x":380,"y":400,"wires":[]},{"id":"f7b8da74.1cc608","type":"comment","z":"ad82281d.3fc028","name":"Auftragserfüllung","info":"Der Auftrag wird mit der neuen Fähigkeit abgeschlossen.","x":480,"y":640,"wires":[]},{"id":"95e56f04.e4e8a","type":"inject","z":"f893bdac.edb1a","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":200,"wires":[["58d7939f.69df6c"]]},{"id":"1b9f331a.96ad6d","type":"function","z":"f893bdac.edb1a","name":"","func":"const tempToday = parseFloat(msg.payload.temperature);\nconst tempTomorrow = parseFloat(msg.payload.forecast[0].temperature);\nmsg.payload.tempToday = parseFloat(msg.payload.temperature);\n\nif (tempToday < tempTomorrow) {\n    msg.payload.weatherWarning = \"Morgen wird es wärmer als heute!\"\n} else {\n    msg.payload.weatherWarning = \"Morgen wird es kälter als heute!\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["ed5c2a5.5e1b7d8"]]},{"id":"58d7939f.69df6c","type":"http request","z":"f893bdac.edb1a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://goweather.herokuapp.com/weather/Hamburg","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":200,"wires":[["1b9f331a.96ad6d"]]},{"id":"ed5c2a5.5e1b7d8","type":"debug","z":"f893bdac.edb1a","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.weatherWarning","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"b929695b.e8cfe8","type":"inject","z":"c2ec1a4c.3892c8","name":"Initialisierung M2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"M2,y","payloadType":"str","x":320,"y":100,"wires":[["12811253.8d24be"]]},{"id":"12811253.8d24be","type":"mqtt out","z":"c2ec1a4c.3892c8","name":"","topic":"Agent","qos":"","retain":"","broker":"5e860b2a.bec974","x":530,"y":100,"wires":[]},{"id":"fe04d94e.f4f758","type":"comment","z":"c2ec1a4c.3892c8","name":"Initialisierung M2","info":"Der Maschinenagent M2 registriert sich und seine Fähigkeit im Verzeichnisagent über eine MQTT-Verbindung.\nVerbindung zu \"Agent\" im Verzeichnisagent","x":420,"y":60,"wires":[]},{"id":"26ff1739.7243f8","type":"mqtt in","z":"c2ec1a4c.3892c8","name":"","topic":"M2","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":70,"y":260,"wires":[["a83db520.7e1588"]]},{"id":"1620085.f5b52f8","type":"comment","z":"c2ec1a4c.3892c8","name":"Werden zusätzliche Fähigkeiten benötigt?","info":"Hier steht der Zufallsgenerator wieder vereinfachend für das Herausfinden, ob noch weitere Fähigkeiten gebraucht werden. Ist der numerische Wert gleich oder größer 75 wird keine weitere Fähigkeit benötigt. Ist der Wert kleiner als 75 wird der Verzeichnisagent nach den benötigten Fähigkeiten befragt.","x":180,"y":220,"wires":[]},{"id":"4b99b2d8.bdd39c","type":"change","z":"c2ec1a4c.3892c8","name":"Durchführung des Auftrags","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wird bearbeitet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["1ee790a9.19279f","262957aa.730e28"]]},{"id":"1ee790a9.19279f","type":"delay","z":"c2ec1a4c.3892c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":320,"wires":[["b28cb9d0.32d548"]]},{"id":"b28cb9d0.32d548","type":"change","z":"c2ec1a4c.3892c8","name":"Der Auftrag wurde durchgeführt","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wurde durchgeführt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":240,"wires":[["1e07d737.0e69b9"]]},{"id":"198b416c.a6f0df","type":"change","z":"c2ec1a4c.3892c8","name":"Fähigkeitensuche","rules":[{"t":"set","p":"payload","pt":"msg","to":"Welche Agenten werden zusätzlich benötigt?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["966cc27b.4071f","81207c1e.0e513"]]},{"id":"966cc27b.4071f","type":"debug","z":"c2ec1a4c.3892c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":210,"y":480,"wires":[]},{"id":"81207c1e.0e513","type":"delay","z":"c2ec1a4c.3892c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":460,"y":380,"wires":[["cf8a55b1.be3648"]]},{"id":"cf8a55b1.be3648","type":"change","z":"c2ec1a4c.3892c8","name":"Agent-Fähigkeit","rules":[{"t":"set","p":"payload","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["693a6e4f.b7869"]]},{"id":"693a6e4f.b7869","type":"mqtt out","z":"c2ec1a4c.3892c8","name":"","topic":"Request/M2","qos":"","retain":"","broker":"5e860b2a.bec974","x":890,"y":480,"wires":[]},{"id":"ec518a95.d772c8","type":"mqtt in","z":"c2ec1a4c.3892c8","name":"","topic":"Answer/M2","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":120,"y":640,"wires":[["c94440cd.6d8de"]]},{"id":"d4c5c0a3.88082","type":"debug","z":"c2ec1a4c.3892c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":660,"wires":[]},{"id":"49fef8e3.8b5e58","type":"change","z":"c2ec1a4c.3892c8","name":"Durchführung des Auftrags","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wird bearbeitet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":640,"wires":[["938dd21d.d9bbd","ece2622d.4b228"]]},{"id":"938dd21d.d9bbd","type":"delay","z":"c2ec1a4c.3892c8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":680,"y":700,"wires":[["69f3cf67.971d3"]]},{"id":"69f3cf67.971d3","type":"change","z":"c2ec1a4c.3892c8","name":"Der Auftrag wurde durchgeführt","rules":[{"t":"set","p":"payload","pt":"msg","to":"Der Auftrag wurde durchgeführt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["d4c5c0a3.88082"]]},{"id":"ece2622d.4b228","type":"debug","z":"c2ec1a4c.3892c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":600,"wires":[]},{"id":"1e07d737.0e69b9","type":"debug","z":"c2ec1a4c.3892c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1150,"y":340,"wires":[]},{"id":"262957aa.730e28","type":"debug","z":"c2ec1a4c.3892c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"a83db520.7e1588","type":"function","z":"c2ec1a4c.3892c8","name":"Zufallszahlengenerator","func":"var min = 50;\nvar max = 100;\nmsg.payload = Math.round(Math.random() * (max - min)) + min;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":260,"wires":[["7e2cb14.e4faa5"]]},{"id":"7e2cb14.e4faa5","type":"switch","z":"c2ec1a4c.3892c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"75","vt":"num"},{"t":"lt","v":"75","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":260,"wires":[["4b99b2d8.bdd39c"],["198b416c.a6f0df"]]},{"id":"c94440cd.6d8de","type":"function","z":"c2ec1a4c.3892c8","name":"","func":"msg.topic = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":640,"wires":[["49fef8e3.8b5e58"]]},{"id":"2c36f23c.904bae","type":"comment","z":"c2ec1a4c.3892c8","name":"Auftragserfüllung","info":"Der Auftrag wird mit der neuen Fähigkeit abgeschlossen.","x":500,"y":580,"wires":[]},{"id":"9aa96665.1ba788","type":"mqtt in","z":"c39e0e1b.60466","name":"","topic":"Agent","qos":"0","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":170,"y":80,"wires":[["51cfa360.452e0c","efc97a01.2b8748"]]},{"id":"51cfa360.452e0c","type":"file","z":"c39e0e1b.60466","name":"","filename":"D:\\Agenten.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":400,"y":160,"wires":[["bf4f7cc1.3d165"]]},{"id":"bf4f7cc1.3d165","type":"debug","z":"c39e0e1b.60466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":160,"wires":[]},{"id":"b3c41efc.d10f1","type":"mqtt in","z":"c39e0e1b.60466","name":"","topic":"Request","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":160,"y":300,"wires":[["3f2c3d7e.649522"]]},{"id":"3f2c3d7e.649522","type":"function","z":"c39e0e1b.60466","name":"","func":"var i = flow.get(msg.payload);\nmsg.payload = i;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":300,"wires":[["f4f21ebe.2b2b4","e36c64e7.f9b818"]]},{"id":"f4f21ebe.2b2b4","type":"debug","z":"c39e0e1b.60466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"efc97a01.2b8748","type":"function","z":"c39e0e1b.60466","name":"","func":"var i = msg.payload.split(\",\");\nnode.warn(\"Test\"+i[1]+\" \"+i[0]);\nflow.set(i[1],i[0]);\nmsg.payload = flow.get('x');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":80,"wires":[["389f9042.10ce6"]]},{"id":"389f9042.10ce6","type":"debug","z":"c39e0e1b.60466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"e36c64e7.f9b818","type":"mqtt out","z":"c39e0e1b.60466","name":"","topic":"Answer","qos":"","retain":"","broker":"5e860b2a.bec974","x":600,"y":300,"wires":[]},{"id":"28f6c2f0.73885e","type":"comment","z":"c39e0e1b.60466","name":"Request","info":"Anfrage des Produkt-Agenten nach möglichen Agenten.\n","x":160,"y":260,"wires":[]},{"id":"c455f661.55cee8","type":"comment","z":"c39e0e1b.60466","name":"Funktion","info":"Funktion zur Bestimmung des gebrauchten Agenten.","x":380,"y":260,"wires":[]},{"id":"a118a5c.98db258","type":"mqtt in","z":"c39e0e1b.60466","name":"","topic":"Request/M1","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":150,"y":480,"wires":[["c916b59d.804998"]]},{"id":"c916b59d.804998","type":"function","z":"c39e0e1b.60466","name":"","func":"var j = flow.get(msg.payload);\nmsg.payload = j;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":480,"wires":[["79eb5376.5e2eac","aa83a156.a9293"]]},{"id":"79eb5376.5e2eac","type":"debug","z":"c39e0e1b.60466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"aa83a156.a9293","type":"mqtt out","z":"c39e0e1b.60466","name":"AnswerM1","topic":"Answer/M1","qos":"","retain":"","broker":"5e860b2a.bec974","x":630,"y":540,"wires":[]},{"id":"de038d29.baead","type":"mqtt in","z":"c39e0e1b.60466","name":"","topic":"Request/M2","qos":"2","datatype":"auto","broker":"5e860b2a.bec974","inputs":0,"x":150,"y":640,"wires":[["d0c5d065.04829"]]},{"id":"d0c5d065.04829","type":"function","z":"c39e0e1b.60466","name":"","func":"var j = flow.get(msg.payload);\nmsg.payload = j;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":640,"wires":[["cd89b586.d25578","caba8bb0.230728"]]},{"id":"cd89b586.d25578","type":"debug","z":"c39e0e1b.60466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":640,"wires":[]},{"id":"caba8bb0.230728","type":"mqtt out","z":"c39e0e1b.60466","name":"AnswerM1","topic":"Answer/M2","qos":"","retain":"","broker":"5e860b2a.bec974","x":650,"y":720,"wires":[]},{"id":"a25b5afd.305078","type":"comment","z":"c39e0e1b.60466","name":"Antwort","info":"Die Anfrage der Maschinenagenten wird beantwortet.","x":350,"y":560,"wires":[]},{"id":"7e2c365c.0b9138","type":"comment","z":"c39e0e1b.60466","name":"Initialisierung","info":"Die sich anmeldenden Agenten und ihre Fähigkeiten werden im Verzeichnisagent gespeichert, damit sie für notwendige Schritte zur Verfügung stehen.","x":410,"y":120,"wires":[]},{"id":"bcd4236f3e24ed8b","type":"http in","z":"4254980c8d85629c","name":"","url":"df/register-agent","method":"get","upload":false,"swaggerDoc":"","x":220,"y":180,"wires":[["0ce236e11d41bc72"]]},{"id":"d8310e60df3f8533","type":"http request","z":"4254980c8d85629c","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:1880/agent1/mqtt-topic","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":180,"wires":[[]]},{"id":"0ce236e11d41bc72","type":"function","z":"4254980c8d85629c","name":"","func":"msg.payload.topic = msg.payload.capability + \"_topic123\"\nmsg.payload.action = \"subscribe\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["d8310e60df3f8533","0827329d9d04b49a"]]},{"id":"0827329d9d04b49a","type":"http response","z":"4254980c8d85629c","name":"","statusCode":"","headers":{},"x":670,"y":260,"wires":[]},{"id":"88fe041101f480c0","type":"aedes broker","z":"4254980c8d85629c","d":true,"name":"Aedes","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":90,"y":720,"wires":[[]]},{"id":"df2e012b9cc52ce6","type":"mqtt out","z":"4254980c8d85629c","name":"","topic":"transport_topic123","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":470,"y":460,"wires":[]},{"id":"07cd7b749f6b8753","type":"inject","z":"4254980c8d85629c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":440,"wires":[["df2e012b9cc52ce6"]]},{"id":"b28a23e72d2db29a","type":"comment","z":"4254980c8d85629c","name":"For testing: Send a simple MQTT message","info":"","x":320,"y":360,"wires":[]},{"id":"c615f1e54ad0cdf2","type":"inject","z":"55a501915a6e150c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"capability\": \"transport\"}","payloadType":"jsonata","x":150,"y":120,"wires":[["d3256668a09809d3"]]},{"id":"d3256668a09809d3","type":"http request","z":"55a501915a6e150c","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":120,"wires":[["391631e5b2aac3c8"]]},{"id":"d370bf4c2674d6c3","type":"http in","z":"55a501915a6e150c","name":"","url":"/agent1/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["885edd7c52e0ae34"]]},{"id":"04b65ed321c673b1","type":"debug","z":"55a501915a6e150c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Subscribed to topic: \" & msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"391631e5b2aac3c8","type":"debug","z":"55a501915a6e150c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"agent registered\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":740,"y":120,"wires":[]},{"id":"885edd7c52e0ae34","type":"function","z":"55a501915a6e150c","name":"","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":360,"wires":[["04b65ed321c673b1","597620411347f7cc","0c305b21cc1fe6fc"]]},{"id":"597620411347f7cc","type":"http response","z":"55a501915a6e150c","d":true,"name":"","statusCode":"","headers":{},"x":570,"y":480,"wires":[]},{"id":"07ef4fcacb66f312","type":"comment","z":"55a501915a6e150c","name":"Register this agent with its transport capability","info":"","x":290,"y":40,"wires":[]},{"id":"004129cbc008f488","type":"comment","z":"55a501915a6e150c","name":"Accept a message from the DF with an MQTT topic to subscribe to","info":"","x":300,"y":220,"wires":[]},{"id":"a75647245a93ed26","type":"comment","z":"55a501915a6e150c","name":"Extract topic and action","info":"","x":400,"y":300,"wires":[]},{"id":"077392524eaa9ffc","type":"comment","z":"55a501915a6e150c","name":"Setup MQTT and wait for messages","info":"","x":740,"y":340,"wires":[]},{"id":"0c305b21cc1fe6fc","type":"mqtt in","z":"55a501915a6e150c","name":"","topic":"","qos":"2","datatype":"auto","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":750,"y":480,"wires":[["9f7218ca3f313d98"]]},{"id":"9f7218ca3f313d98","type":"debug","z":"55a501915a6e150c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]}]