flows/conveyor.json
[{"id":"53e0fc02291083bd","type":"tab","label":"Conveyor","disabled":false,"info":""},{"id":"41dbf35b52264575","type":"http response","z":"53e0fc02291083bd","name":"","statusCode":"","headers":{},"x":750,"y":140,"wires":[]},{"id":"5d9be5bd4899668b","type":"http in","z":"53e0fc02291083bd","name":"","url":"conveyor/distance-travelled","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["0ad72fe0e3ab5122"]]},{"id":"c406eac5dc766943","type":"http in","z":"53e0fc02291083bd","name":"","url":"Stop","method":"get","upload":false,"swaggerDoc":"","x":80,"y":320,"wires":[["6fe09a7949c2cb41"]]},{"id":"63483911cb5b9e1b","type":"http response","z":"53e0fc02291083bd","name":"","statusCode":"","headers":{},"x":930,"y":320,"wires":[]},{"id":"46dd216575e94134","type":"delay","z":"53e0fc02291083bd","name":"Wait for stop","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":470,"y":320,"wires":[["55dbd0a2c34abbb6"]]},{"id":"69892e82c6cc0455","type":"comment","z":"53e0fc02291083bd","name":"Stop the conveyor","info":"","x":470,"y":260,"wires":[]},{"id":"ce0462f3b315936d","type":"comment","z":"53e0fc02291083bd","name":"Wait for incoming request","info":"","x":130,"y":80,"wires":[]},{"id":"6fe09a7949c2cb41","type":"function","z":"53e0fc02291083bd","name":"calculate time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\n\n// Add a delay until stop signal is received\nconst delay = 10;\nconst timeStopReceived = sensorB_timeDetection + delay;\n\nconst conveyorSpeed = flow.get(\"conveyorSpeed\");\n\nconst distanceDuringDelay = (delay / 1000) * conveyorSpeed;\nconst distanceToTravel = parseFloat(msg.payload.distance_to_travel)\n\nconst timeToRun = (distanceToTravel - distanceDuringDelay) / conveyorSpeed;\n\nmsg.delay = timeToRun * 1000;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":320,"wires":[["46dd216575e94134"]]},{"id":"55dbd0a2c34abbb6","type":"function","z":"53e0fc02291083bd","name":"store \"conveyor stopped\" time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\nmsg.payload.conveyor_stopped = sensorB_timeDetection + msg.delay;\nnode.warn(\"conveyor stopped at \"+msg.payload.conveyor_stopped);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":320,"wires":[["63483911cb5b9e1b"]]},{"id":"0ad72fe0e3ab5122","type":"function","z":"53e0fc02291083bd","name":"calculate length","func":"const conveyorSpeed = 2; // speed in m/s\nflow.set(\"conveyorSpeed\", conveyorSpeed);\n\nconst sensorA_timeEndDetection = parseInt(msg.payload.sensorA_timeEndDetection);\nconst sensorA_timeStartDetection = parseInt(msg.payload.sensorA_timeStartDetection);\n\nconst timeDiff = (sensorA_timeEndDetection - sensorA_timeStartDetection)  / 1000;\nconst wpLength = conveyorSpeed * timeDiff;\n\nmsg.payload.wp_length = parseFloat(wpLength).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["41dbf35b52264575"]]},{"id":"54d9d73c5594b551","type":"comment","z":"53e0fc02291083bd","name":"Calculate length","info":"","x":480,"y":80,"wires":[]},{"id":"2b49ca979b030a7c","type":"comment","z":"53e0fc02291083bd","name":"Return length","info":"","x":730,"y":80,"wires":[]}]