flows/DF.json
[{"id":"b00343857663da7b","type":"tab","label":"DF","disabled":false,"info":""},{"id":"081fe5ee774028e1","type":"http in","z":"b00343857663da7b","name":"","url":"df/register-agent","method":"post","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["ee6401437d31a35c"]]},{"id":"465dea694e6ea041","type":"http request","z":"b00343857663da7b","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1310,"y":140,"wires":[[]]},{"id":"ee6401437d31a35c","type":"function","z":"b00343857663da7b","name":"setup query","func":"//store sender for later\nflow.set(\"sender\", msg.payload.sender);\n// prepare insertQuery\nmsg.payload = msg.payload.query;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["8eca61d2751afb31"]]},{"id":"227e56d5733e514d","type":"http response","z":"b00343857663da7b","name":"","statusCode":"","headers":{},"x":1290,"y":60,"wires":[]},{"id":"2cc4797964f39e9a","type":"aedes broker","z":"b00343857663da7b","name":"Aedes","mqtt_port":1883,"mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":90,"y":860,"wires":[[],[]]},{"id":"0bf23ccd1eb4f7ed","type":"comment","z":"b00343857663da7b","name":"web service used by agents to register","info":"","x":190,"y":60,"wires":[]},{"id":"8eca61d2751afb31","type":"http request","z":"b00343857663da7b","name":"Add agent","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":490,"y":140,"wires":[["ca274369bc304fa6"]]},{"id":"e94d03788b076874","type":"http in","z":"b00343857663da7b","name":"","url":"df/delete-agent","method":"post","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["d729208ac3c4188b"]]},{"id":"7ca1ee57fa1ab24a","type":"function","z":"b00343857663da7b","name":"setup query","func":"// delete URL as it is set in the HTTP node\ndelete msg.url\nmsg.payload =flow.get(\"delete-query\");\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":300,"wires":[["5b5ffe6e489351b7"]]},{"id":"5b5ffe6e489351b7","type":"http request","z":"b00343857663da7b","name":"remove agent","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1400,"y":300,"wires":[[]]},{"id":"1fb55af0511304d1","type":"comment","z":"b00343857663da7b","name":"get topic (capability type) and pass it to agent","info":"","x":650,"y":60,"wires":[]},{"id":"754f7879af9f9e86","type":"http request","z":"b00343857663da7b","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":540,"y":300,"wires":[["93f1d94b23f0265f"]]},{"id":"951fb47b691eb715","type":"function","z":"b00343857663da7b","name":"Set topic to subscribe","func":"msg.payload.topic = msg.payload.results.bindings[0].topic.value;\nmsg.payload.action = \"subscribe\";\n\nconst agentPath = msg.payload.results.bindings[0].url.value;\nagentPath.replace(/\\/$/, \"\");\nmsg.url = `http://localhost:1880${agentPath}/mqtt-topic`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":140,"wires":[["465dea694e6ea041","227e56d5733e514d"]]},{"id":"af34361db2231e6f","type":"http in","z":"b00343857663da7b","name":"","url":"df/get-topics","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["4e8269d1ae9506cc"]]},{"id":"4e8269d1ae9506cc","type":"function","z":"b00343857663da7b","name":"","func":"const capabilityType = msg.payload.capabilityType;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    BIND(<${capabilityType}> AS ?capabilityType)\n    ?agent a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":440,"wires":[["9c9ce4019996463b"]]},{"id":"dff2f75553dbe292","type":"function","z":"b00343857663da7b","name":"Return topics","func":"const rawTopics = msg.payload.results.bindings.map(b => b.topic.value);\nmsg.payload.topics = [...new Set(rawTopics)];\nmsg.payload.numberOfAgents = rawTopics.length;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":440,"wires":[["c6fbfe72c7d31df3"]]},{"id":"9c9ce4019996463b","type":"http request","z":"b00343857663da7b","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":440,"wires":[["dff2f75553dbe292"]]},{"id":"c6fbfe72c7d31df3","type":"http response","z":"b00343857663da7b","name":"","statusCode":"","headers":{},"x":910,"y":440,"wires":[]},{"id":"35a24ad5edb19399","type":"comment","z":"b00343857663da7b","name":"web service used by agents to delete","info":"","x":180,"y":260,"wires":[]},{"id":"0422aa2468a07af0","type":"comment","z":"b00343857663da7b","name":"web service used by agents to get topics for a certain capability","info":"","x":270,"y":380,"wires":[]},{"id":"93f1d94b23f0265f","type":"function","z":"b00343857663da7b","name":"Set topic to unsubscribe","func":"msg.payload.topic = msg.payload.results.bindings[0].topic.value;\nmsg.payload.action = \"unsubscribe\";\nconst agentPath = msg.payload.results.bindings[0].url.value;\nagentPath.replace(/\\/$/, \"\");\nmsg.url = `http://localhost:1880${agentPath}/mqtt-topic`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":300,"wires":[["24832847c0871451"]]},{"id":"24832847c0871451","type":"http request","z":"b00343857663da7b","name":"Tell agent to unsubscribe","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":990,"y":300,"wires":[["b3060ed33302c791","7ca1ee57fa1ab24a"]]},{"id":"ca274369bc304fa6","type":"function","z":"b00343857663da7b","name":"query to get topic","func":"const sender = flow.get(\"sender\");\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    <${sender}> a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":140,"wires":[["4d7c2689aad79ab7"]]},{"id":"4d7c2689aad79ab7","type":"http request","z":"b00343857663da7b","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":880,"y":140,"wires":[["951fb47b691eb715"]]},{"id":"d729208ac3c4188b","type":"function","z":"b00343857663da7b","name":"query to get topic","func":"// store delete query\nflow.set(\"delete-query\", msg.payload.query)\n\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX sesame: <http://www.openrdf.org/schema/sesame#>\nPREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\nSELECT ?capabilityType ?topic ?url WHERE {\n    <${msg.payload.sender}> a agents:Agent;\n        agents:hasCapability ?capability.\n    ?capability a ?capabilityType;\n        agents:hasUrl ?url.\n    ?capabilityType sesame:directSubClassOf agents:Capability.\n    BIND(STRAFTER(STR(?capabilityType), \"#\") as ?topic).\n    FILTER(STRSTARTS(STR(?capabilityType), \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school\"))\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["754f7879af9f9e86"]]},{"id":"b3060ed33302c791","type":"http response","z":"b00343857663da7b","name":"","statusCode":"","headers":{},"x":1190,"y":360,"wires":[]}]