flows/GripperB.json
[{"id":"3c03bc909ee20230","type":"tab","label":"GripperB (small)","disabled":false,"info":""},{"id":"fd00d580957e2823","type":"comment","z":"3c03bc909ee20230","name":"Register Gripper B","info":"","x":130,"y":40,"wires":[]},{"id":"b30b75cb5745dfe5","type":"http request","z":"3c03bc909ee20230","name":"Register via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":100,"wires":[[]]},{"id":"e16af5e063c05eeb","type":"function","z":"3c03bc909ee20230","name":"Insert-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_B\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nINSERT DATA {\n\tagents:Gripper_B rdf:type agents:GripperAgent ;\n\t\tagents:hasCapability agents:Gripper_B_Handling .\n\n\tagents:Gripper_B_Handling VDI3682:hasInput agents:Gripper_B_Handling_PIn;\n\t\tVDI3682:hasOutput agents:Gripper_B_Handling_POut;\n  \t\trdf:type agents:Handling;\n    \tagents:hasUrl \"/gripperB\".\n\n\tagents:Gripper_B_Handling_PIn rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_B_Handling_PIn_Length ,\n            agents:Gripper_B_Handling_PIn_PosXMax ,\n            agents:Gripper_B_Handling_PIn_PosXMin ,\n            agents:Gripper_B_Handling_PIn_PosYMax ,\n            agents:Gripper_B_Handling_PIn_PosYMin ,\n            agents:Gripper_B_Handling_PIn_PosZMax ,\n            agents:Gripper_B_Handling_PIn_PosZMin .\n\n\tagents:Gripper_B_Handling_PIn_Length rdf:type DINEN61360:Data_Element,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n\t\tDINEN61360:Value 0.75 .\n\n\tagents:Gripper_B_Handling_PIn_PosXMax rdf:type owl:NamedIndividual ,\n            DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosXMax ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 110 .\n\n    agents:Gripper_B_Handling_PIn_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosXMin ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 90 .\n\n\tagents:Gripper_B_Handling_PIn_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 20 .\n\n\tagents:Gripper_B_Handling_PIn_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -10 .\n\n\tagents:Gripper_B_Handling_PIn_PosZMax rdf:type DINEN61360:Data_Element ,\n    \tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 6 .\n\n\tagents:Gripper_B_Handling_PIn_PosZMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_PIn_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n\n\tagents:Gripper_B_Handling_POut rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_B_Handling_POut_Length ,\n        agents:Gripper_B_Handling_POut_PosXMax ,\n        agents:Gripper_B_Handling_POut_PosXMin ,\n        agents:Gripper_B_Handling_POut_PosYMax ,\n        agents:Gripper_B_Handling_POut_PosYMin ,\n        agents:Gripper_B_Handling_POut_PosZMax ,\n        agents:Gripper_B_Handling_POut_PosZMin .\n\n\n\tagents:Gripper_B_Handling_POut_Length rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 0.5 .\n\n\tagents:Gripper_B_Handling_POut_PosXMax rdf:type DINEN61360:Data_Element ,\n        \tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosXMax ;\n\t\tDINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 110 .\n\n\tagents:Gripper_B_Handling_POut_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n            DINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosXMin ;\n            DINEN61360:has_Type_Description agents:Position_X ;\n            DINEN61360:Expression_Goal \"Assurance\" ;\n            DINEN61360:Logic_Interpretation \">=\" ;\n            DINEN61360:Value 90 .\n\n\tagents:Gripper_B_Handling_POut_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 20 .\n\n\n\tagents:Gripper_B_Handling_POut_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -10 .\n\n\tagents:Gripper_B_Handling_POut_PosZMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 6 .\n\n\tagents:Gripper_B_Handling_POut_PosZMin rdf:type DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_B_Handling_POut_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["b30b75cb5745dfe5"]]},{"id":"5db8f806b7834d42","type":"inject","z":"3c03bc909ee20230","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["e16af5e063c05eeb"]]},{"id":"5beeccebe1fe40c6","type":"comment","z":"3c03bc909ee20230","name":"Delete GripperB","info":"","x":120,"y":180,"wires":[]},{"id":"900194d4624cbd6f","type":"function","z":"3c03bc909ee20230","name":"Delete-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_B\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nDELETE {\n    ?agent rdf:type agents:GripperAgent;\n\t\tagents:hasCapability ?cap.\n    ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n    ?capInput rdf:type ?inputType.\n    ?capOutput rdf:type ?outputType.\n    ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n    ?inputDataElement a DINEN61360:Data_Element;\n                      DINEN61360:has_Type_Description ?typeIn;\n                      DINEN61360:has_Instance_Description ?inputInstanceDesc.\n    ?inputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?inEx;\n                       DINEN61360:Logic_Interpretation ?inLogic;\n                       DINEN61360:Value ?inValue.\n    ?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Type_Description ?typeOut;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n     ?outputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?outEx;\n                       DINEN61360:Logic_Interpretation ?outLogic;\n                       DINEN61360:Value ?outValue.\n    ?outputDataElement a DINEN61360:Data_Element.\n} \nWHERE {\n    BIND(agents:Gripper_B AS ?agent)\n    OPTIONAL {\n        ?agent agents:hasCapability ?cap.\n    }\n    OPTIONAL {\n        ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n        ?capInput rdf:type ?inputType.\n    \t?capOutput rdf:type ?outputType.\n    }\n    OPTIONAL {\n         ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n        ?inputDataElement a DINEN61360:Data_Element;\n                          DINEN61360:has_Instance_Description ?inputInstanceDesc.\n        ?inputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?inEx;\n                           DINEN61360:Logic_Interpretation ?inLogic;\n                           DINEN61360:Value ?inValue.\n    }\n    OPTIONAL {\n    \t?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n         ?outputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?outEx;\n                           DINEN61360:Logic_Interpretation ?outLogic;\n                           DINEN61360:Value ?outValue.\n        ?outputDataElement a DINEN61360:Data_Element.\n    }\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":240,"wires":[["e53a4153bd678177"]]},{"id":"e53a4153bd678177","type":"http request","z":"3c03bc909ee20230","name":"Delete via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/delete-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":480,"y":240,"wires":[[]]},{"id":"0ba6fca43f836069","type":"inject","z":"3c03bc909ee20230","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":240,"wires":[["900194d4624cbd6f"]]},{"id":"7aa4e1474c7e2007","type":"delay","z":"3c03bc909ee20230","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1280,"y":860,"wires":[["e345f2db62a719d3"]]},{"id":"e345f2db62a719d3","type":"function","z":"3c03bc909ee20230","name":"Set finished","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":860,"wires":[["7bc43850d95b7bf6"]]},{"id":"39fc25e8bdf68241","type":"function","z":"3c03bc909ee20230","name":"save id and create proposal","func":"conversation_id = flow.get(\"conversation_id\");\nvar conversation_ids = flow.get(\"conversation_ids\") || [];\nconversation_ids.push(conversation_id);\nflow.set(\"conversation_ids\", conversation_ids);\n\n// Query here\n\nmsg.payload.price = 99;\nmsg.payload.conversation_id = conversation_id\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = \"Gripper_B\";\nmsg.topic = flow.get(\"sender\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":520,"wires":[["4634e737cd21ec30"]]},{"id":"98073362143a0a85","type":"switch","z":"3c03bc909ee20230","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":900,"wires":[["6de6bb8a3696b22e"],["45ccc64f67b61130"]]},{"id":"45ccc64f67b61130","type":"function","z":"3c03bc909ee20230","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":980,"wires":[[]]},{"id":"18c20243422a50ec","type":"switch","z":"3c03bc909ee20230","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":720,"wires":[["3ee5d287afe6dff3"],["1d862fc0a75fd0aa"],["1d862fc0a75fd0aa"]]},{"id":"6de6bb8a3696b22e","type":"function","z":"3c03bc909ee20230","name":"delete id","func":"currentId = msg.payload.conversation_id;\nnode.warn(\"id \" + currentId + \" deleted.\");\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\nconst filteredIds = conversation_ids.filter(id => id != currentId); \nflow.set(\"conversation_ids\", filteredIds);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":880,"wires":[["f01f93a073c3df32"]]},{"id":"4634e737cd21ec30","type":"mqtt out","z":"3c03bc909ee20230","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1460,"y":520,"wires":[]},{"id":"a5c043a903157332","type":"comment","z":"3c03bc909ee20230","name":"Simulated Gripper action (just wait some time)","info":"","x":1130,"y":800,"wires":[]},{"id":"7178a32c710d115d","type":"comment","z":"3c03bc909ee20230","name":"Display duration / times","info":"","x":1440,"y":800,"wires":[]},{"id":"24ec061b09119d53","type":"comment","z":"3c03bc909ee20230","name":"Gripper Message Handling","info":"","x":190,"y":700,"wires":[]},{"id":"38297cc5b2677e83","type":"http in","z":"3c03bc909ee20230","name":"","url":"/gripperB/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":150,"y":420,"wires":[["f0d97f65f4e2db3b"]]},{"id":"1513d29a6b57a01a","type":"mqtt in","z":"3c03bc909ee20230","name":"Listen to topic given by DF","topic":"","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":190,"y":620,"wires":[["5f3a32115566ce54"]]},{"id":"f0d97f65f4e2db3b","type":"function","z":"3c03bc909ee20230","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":420,"wires":[["1513d29a6b57a01a","f7d5bcae5ca19b22","6a67bbc6b262d462"]]},{"id":"f7d5bcae5ca19b22","type":"http response","z":"3c03bc909ee20230","name":"","statusCode":"","headers":{},"x":590,"y":420,"wires":[]},{"id":"3f0bfc8722285bf0","type":"comment","z":"3c03bc909ee20230","name":"End HTTP request","info":"","x":750,"y":420,"wires":[]},{"id":"e0d3524e053ad480","type":"comment","z":"3c03bc909ee20230","name":"Allow setting MQTT topic","info":"","x":150,"y":360,"wires":[]},{"id":"58d416374ea6bf62","type":"function","z":"3c03bc909ee20230","name":"process results","func":"const wp_length = flow.get(\"wp_length\")\nconst inputs = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"conveyor.end.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"conveyor.end.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"conveyor.end.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\nconst a = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"target.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"target.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"target.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\n\nconst queryResults = msg.payload.results.bindings;\nmsg.payload.allConstraintsFulfilled = queryResults.every(res => {\n    const expressionGoal = res.expGoal.value;\n    const exp = res.exp.value;\n    const type = res.type.value;\n    let fullExpression = \"true\";\n    if(expressionGoal == \"Requirement\") {\n        fullExpression = exp.replace(\"Requirement\", inputs[type]);\n    }\n\n    const evalResult = eval(fullExpression);\n    return evalResult;\n})\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":620,"wires":[["14713e83d1b67d68"]]},{"id":"487a73c1614f7805","type":"http request","z":"3c03bc909ee20230","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":800,"y":620,"wires":[["58d416374ea6bf62"]]},{"id":"3ee5d287afe6dff3","type":"function","z":"3c03bc909ee20230","name":"query","func":"// Query to get all input data elements as expression that can be evaluated\nmsg.payload = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nSELECT ?elem ?type ?expGoal ?exp ?url WHERE {\n    agents:Gripper_A agents:hasCapability ?capability.\n    ?capability VDI3682:hasInput ?elem;\n    \tagents:hasUrl ?url.\n    ?elem DINEN61360:has_Data_Element ?de.\n    ?de DINEN61360:has_Type_Description ?type;\n             DINEN61360:has_Instance_Description ?inst.\n    ?inst DINEN61360:Value ?val;\n                   DINEN61360:Logic_Interpretation ?logInt;\n                   DINEN61360:Expression_Goal ?expGoal.\n    BIND(\n        CONCAT(STR(?expGoal), STR(?logInt), STR(?val)) AS ?exp)\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nnode.warn(\"query set\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":620,"wires":[["487a73c1614f7805"]]},{"id":"6a67bbc6b262d462","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"'Gripper_B ' & msg.action & ' to: ' & msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"14713e83d1b67d68","type":"switch","z":"3c03bc909ee20230","name":"all constraints true?","property":"payload.allConstraintsFulfilled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":540,"wires":[["39fc25e8bdf68241"],["f2ce079899313f7b"]]},{"id":"f2ce079899313f7b","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Not all constraints fulfilled, cannot make a proposal\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1180,"y":560,"wires":[]},{"id":"5f3a32115566ce54","type":"function","z":"3c03bc909ee20230","name":"store wp_length","func":"flow.set(\"wp_length\", msg.payload.wp_length)\nflow.set(\"sender\", msg.payload.sender)\nflow.set(\"conversation_id\", msg.payload.conversation_id)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":620,"wires":[["18c20243422a50ec"]]},{"id":"b973e06136f1b2cc","type":"mqtt in","z":"3c03bc909ee20230","name":"Listen to Gripper_B","topic":"Gripper_B","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":780,"wires":[["18c20243422a50ec"]]},{"id":"1d862fc0a75fd0aa","type":"function","z":"3c03bc909ee20230","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\n\nconst found = conversation_ids.some(existingId => existingId == conversation_id);\nmsg.payload.indicator = found;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":900,"wires":[["98073362143a0a85"]]},{"id":"4871d583f6b3bb84","type":"comment","z":"3c03bc909ee20230","name":"CFP","info":"","x":710,"y":560,"wires":[]},{"id":"cef88ea114871b5f","type":"comment","z":"3c03bc909ee20230","name":"Accept / Reject Proposal","info":"","x":730,"y":800,"wires":[]},{"id":"f01f93a073c3df32","type":"switch","z":"3c03bc909ee20230","name":"accept / reject","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":880,"wires":[["7aa4e1474c7e2007"],[]]},{"id":"7bc43850d95b7bf6","type":"debug","z":"3c03bc909ee20230","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Gripper_B finished executing\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1500,"y":920,"wires":[]},{"id":"e14789cdf5dc479a","type":"comment","z":"3c03bc909ee20230","name":"If ID doesn't exist","info":"","x":980,"y":940,"wires":[]},{"id":"437d1b44.f1211c","type":"mqtt-broker","name":"Aedes","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]