flows/GripperA.json
[{"id":"f6807a34b2bccbe8","type":"tab","label":"GripperA (large)","disabled":false,"info":""},{"id":"207409dddf7262c4","type":"delay","z":"f6807a34b2bccbe8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1300,"y":880,"wires":[["c2ebb3d9d14b0f01"]]},{"id":"c2ebb3d9d14b0f01","type":"function","z":"f6807a34b2bccbe8","name":"Set finished","func":"msg.payload.finished = true;\nmsg.payload.conveyor_stopped = parseFloat(msg.payload.conveyor_stopped);\nmsg.payload.wp_picked_up = msg.payload.conveyor_stopped + 1000;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":880,"wires":[["e7a3730770944b64","72f349c7f2955d9c"]]},{"id":"7c5036b98088503b","type":"http request","z":"f6807a34b2bccbe8","name":"Register via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/register-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":540,"y":100,"wires":[[]]},{"id":"dad3db829303cf66","type":"function","z":"f6807a34b2bccbe8","name":"Insert-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_A\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX owl: <http://www.w3.org/2002/07/owl#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nINSERT DATA {\n\tagents:Gripper_A rdf:type agents:GripperAgent ;\n\t\tagents:hasCapability agents:Gripper_A_Handling .\n\n\tagents:Gripper_A_Handling VDI3682:hasInput agents:Gripper_A_Handling_PIn;\n\t\tVDI3682:hasOutput agents:Gripper_A_Handling_POut;\n  \t\trdf:type agents:Handling;\n    agents:hasUrl \"/gripperA\".\n\n\tagents:Gripper_A_Handling_PIn rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_Handling_PIn_Length ,\n            agents:Gripper_A_Handling_PIn_PosXMax ,\n            agents:Gripper_A_Handling_PIn_PosXMin ,\n            agents:Gripper_A_Handling_PIn_PosYMax ,\n            agents:Gripper_A_Handling_PIn_PosYMin ,\n            agents:Gripper_A_Handling_PIn_PosZMax ,\n            agents:Gripper_A_Handling_PIn_PosZMin .\n\n\tagents:Gripper_A_Handling_PIn_Length rdf:type DINEN61360:Data_Element,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n\t\tDINEN61360:Value 1 .\n\n\tagents:Gripper_A_Handling_PIn_PosXMax rdf:type owl:NamedIndividual ,\n            DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosXMax ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n    agents:Gripper_A_Handling_PIn_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosXMin ;\n        DINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 75 .\n\n\tagents:Gripper_A_Handling_PIn_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\tagents:Gripper_A_Handling_PIn_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_Handling_PIn_PosZMax rdf:type DINEN61360:Data_Element ,\n    \tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_Handling_PIn_PosZMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_PIn_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Requirement\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n\n\tagents:Gripper_A_Handling_POut rdf:type agents:Product ;\n\t\tDINEN61360:has_Data_Element agents:Gripper_A_Handling_POut_Length ,\n        agents:Gripper_A_Handling_POut_PosXMax ,\n        agents:Gripper_A_Handling_POut_PosXMin ,\n        agents:Gripper_A_Handling_POut_PosYMax ,\n        agents:Gripper_A_Handling_POut_PosYMin ,\n        agents:Gripper_A_Handling_POut_PosZMax ,\n        agents:Gripper_A_Handling_POut_PosZMin .\n\n\n\tagents:Gripper_A_Handling_POut_Length rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_Length ;\n        DINEN61360:has_Type_Description agents:Length ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 1 .\n\n\tagents:Gripper_A_Handling_POut_PosXMax rdf:type DINEN61360:Data_Element ,\n        \tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosXMax ;\n\t\tDINEN61360:has_Type_Description agents:Position_X ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 125 .\n\n\tagents:Gripper_A_Handling_POut_PosXMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n            DINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosXMin ;\n            DINEN61360:has_Type_Description agents:Position_X ;\n            DINEN61360:Expression_Goal \"Assurance\" ;\n            DINEN61360:Logic_Interpretation \">=\" ;\n            DINEN61360:Value 75 .\n\n\tagents:Gripper_A_Handling_POut_PosYMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosYMax ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 30 .\n\n\n\tagents:Gripper_A_Handling_POut_PosYMin rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosYMin ;\n        DINEN61360:has_Type_Description agents:Position_Y ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value -20 .\n\n\tagents:Gripper_A_Handling_POut_PosZMax rdf:type DINEN61360:Data_Element ,\n\t\t\tDINEN61360:Instance_Description ;\n        DINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosZMax ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \"<=\" ;\n        DINEN61360:Value 10 .\n\n\tagents:Gripper_A_Handling_POut_PosZMin rdf:type DINEN61360:Data_Element ,\n            DINEN61360:Instance_Description ;\n\t\tDINEN61360:has_Instance_Description agents:Gripper_A_Handling_POut_PosZMin ;\n        DINEN61360:has_Type_Description agents:Position_Z ;\n        DINEN61360:Expression_Goal \"Assurance\" ;\n        DINEN61360:Logic_Interpretation \">=\" ;\n        DINEN61360:Value 0 .\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["7c5036b98088503b"]]},{"id":"305cf610818d653f","type":"inject","z":"f6807a34b2bccbe8","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["dad3db829303cf66"]]},{"id":"972a670903733040","type":"comment","z":"f6807a34b2bccbe8","name":"Delete Gripper A","info":"","x":120,"y":180,"wires":[]},{"id":"6ce853aa78a7ab23","type":"function","z":"f6807a34b2bccbe8","name":"Delete-Query","func":"msg.payload.sender = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Gripper_A\";\nmsg.payload.query = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nDELETE {\n    ?agent rdf:type agents:GripperAgent;\n\t\tagents:hasCapability ?cap.\n    ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n    ?capInput rdf:type ?inputType.\n    ?capOutput rdf:type ?outputType.\n    ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n    ?inputDataElement a DINEN61360:Data_Element;\n                      DINEN61360:has_Instance_Description ?inputInstanceDesc.\n    ?inputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?inEx;\n                       DINEN61360:Logic_Interpretation ?inLogic;\n                       DINEN61360:Value ?inValue.\n    ?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n     ?outputInstanceDesc a DINEN61360:Instance_Description;\n                       DINEN61360:Expression_Goal ?outEx;\n                       DINEN61360:Logic_Interpretation ?outLogic;\n                       DINEN61360:Value ?outValue.\n    ?outputDataElement a DINEN61360:Data_Element.\n} \nWHERE {\n    BIND(agents:Gripper_A AS ?agent)\n    OPTIONAL {\n        ?agent agents:hasCapability ?cap.\n    }\n    OPTIONAL {\n        ?cap agents:hasInput ?capInput;\n         agents:hasOutput ?capOutput.\n        ?capInput rdf:type ?inputType.\n    \t?capOutput rdf:type ?outputType.\n    }\n    OPTIONAL {\n         ?capInput DINEN61360:has_Data_Element ?inputDataElement.\n        ?inputDataElement a DINEN61360:Data_Element;\n                          DINEN61360:has_Instance_Description ?inputInstanceDesc.\n        ?inputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?inEx;\n                           DINEN61360:Logic_Interpretation ?inLogic;\n                           DINEN61360:Value ?inValue.\n    }\n    OPTIONAL {\n    \t?capOutput DINEN61360:has_Data_Element ?outputDataElement;\n               DINEN61360:has_Instance_Description ?outputInstanceDesc.\n         ?outputInstanceDesc a DINEN61360:Instance_Description;\n                           DINEN61360:Expression_Goal ?outEx;\n                           DINEN61360:Logic_Interpretation ?outLogic;\n                           DINEN61360:Value ?outValue.\n        ?outputDataElement a DINEN61360:Data_Element.\n    }\n}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":326,"y":230,"wires":[["88fc650305dee921"]]},{"id":"ebfbf7c95cdd561f","type":"inject","z":"f6807a34b2bccbe8","name":"empty object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":126,"y":230,"wires":[["6ce853aa78a7ab23"]]},{"id":"cf6a8fb436a57ef4","type":"function","z":"f6807a34b2bccbe8","name":"save id and create proposal","func":"conversation_id = flow.get(\"conversation_id\");\nvar conversation_ids = flow.get(\"conversation_ids\") || [];\nconversation_ids.push(conversation_id);\nflow.set(\"conversation_ids\", conversation_ids);\n\n// Query here\n\nmsg.payload.price = 111;\nmsg.payload.conversation_id = conversation_id\nmsg.payload.performative = \"PROPOSAL\";\nmsg.payload.offeringAgent = \"Gripper_A\";\nmsg.topic = flow.get(\"sender\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":540,"wires":[["c12f5af9df38cce1"]]},{"id":"384e27059a248280","type":"switch","z":"f6807a34b2bccbe8","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":920,"wires":[["6b66931030c7d323"],["11b0402e8dd3c0bb"]]},{"id":"11b0402e8dd3c0bb","type":"function","z":"f6807a34b2bccbe8","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1000,"wires":[[]]},{"id":"cebb4b6b8e608163","type":"switch","z":"f6807a34b2bccbe8","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"CFP","vt":"str"},{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":740,"wires":[["bc26638d4d891ddf"],["28e1f21052a010c1"],["28e1f21052a010c1"]]},{"id":"6b66931030c7d323","type":"function","z":"f6807a34b2bccbe8","name":"delete id","func":"currentId = msg.payload.conversation_id;\nnode.warn(\"id \" + currentId + \" deleted.\");\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\nconst filteredIds = conversation_ids.filter(id => id != currentId); \nflow.set(\"conversation_ids\", filteredIds);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":900,"wires":[["b55f2503c06ece9a"]]},{"id":"c12f5af9df38cce1","type":"mqtt out","z":"f6807a34b2bccbe8","name":"send Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1440,"y":540,"wires":[]},{"id":"55b083afe045fc68","type":"comment","z":"f6807a34b2bccbe8","name":"Simulated Gripper action (just wait some time)","info":"","x":1110,"y":820,"wires":[]},{"id":"2e8baf13c645af7e","type":"comment","z":"f6807a34b2bccbe8","name":"Display duration / times","info":"","x":1420,"y":820,"wires":[]},{"id":"6851d631d954f2dd","type":"comment","z":"f6807a34b2bccbe8","name":"Register Gripper A","info":"","x":130,"y":40,"wires":[]},{"id":"c3373646ef156a76","type":"comment","z":"f6807a34b2bccbe8","name":"Gripper Message Handling","info":"","x":170,"y":720,"wires":[]},{"id":"88fc650305dee921","type":"http request","z":"f6807a34b2bccbe8","name":"Delete via DF","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/df/delete-agent","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":536,"y":230,"wires":[[]]},{"id":"a9ed85f0c468f2dd","type":"http in","z":"f6807a34b2bccbe8","name":"","url":"/gripperA/mqtt-topic","method":"get","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["543f74e8a4c1c18a"]]},{"id":"ae6d6ec55fe65c93","type":"mqtt in","z":"f6807a34b2bccbe8","name":"Listen to topic given by DF","topic":"","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":1,"x":170,"y":640,"wires":[["bcfe03673226cf12"]]},{"id":"543f74e8a4c1c18a","type":"function","z":"f6807a34b2bccbe8","name":"extract content","func":"//Extract action and topic from payload\nmsg.topic = msg.payload.topic;\nmsg.action = msg.payload.action;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["ae6d6ec55fe65c93","50e5b263aa84a97a","8d60d6c40015ba22"]]},{"id":"50e5b263aa84a97a","type":"http response","z":"f6807a34b2bccbe8","name":"","statusCode":"","headers":{},"x":570,"y":440,"wires":[]},{"id":"84b5d683ddb72ba9","type":"comment","z":"f6807a34b2bccbe8","name":"End HTTP request","info":"","x":730,"y":440,"wires":[]},{"id":"8fc037fdf12526bf","type":"comment","z":"f6807a34b2bccbe8","name":"Allow setting MQTT topic","info":"","x":130,"y":380,"wires":[]},{"id":"f2d8ea1dcbd5e652","type":"function","z":"f6807a34b2bccbe8","name":"process results","func":"const wp_length = flow.get(\"wp_length\")\nconst inputs = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"conveyor.end.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"conveyor.end.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"conveyor.end.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\nconst outputs = {\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_X\": global.get(\"target.x\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Y\": global.get(\"target.y\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Position_Z\": global.get(\"target.z\"),\n    \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Length\": wp_length\n};\n\nconst queryResults = msg.payload.results.bindings;\nmsg.payload.allConstraintsFulfilled = queryResults.every(res => {\n    const expressionGoal = res.expGoal.value;\n    const exp = res.exp.value;\n    const type = res.type.value;\n    let fullExpression = \"true\";\n    if(expressionGoal == \"Requirement\") {\n        fullExpression = exp.replace(\"Requirement\", inputs[type]);\n    }\n    const evalResult = eval(fullExpression);\n    return evalResult;\n})\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":640,"wires":[["dad50952088fab21"]]},{"id":"04ad7d1836a55613","type":"http request","z":"f6807a34b2bccbe8","name":"GraphDB Query","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":780,"y":640,"wires":[["f2d8ea1dcbd5e652"]]},{"id":"bc26638d4d891ddf","type":"function","z":"f6807a34b2bccbe8","name":"query","func":"// Query to get all inputs\nmsg.payload = `\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nPREFIX VDI3682: <http://www.hsu-ifa.de/ontologies/VDI3682#>\nPREFIX DINEN61360: <http://www.hsu-ifa.de/ontologies/DINEN61360#>\nSELECT ?elem ?type ?expGoal ?exp ?url WHERE {\n    agents:Gripper_A agents:hasCapability ?capability.\n    ?capability VDI3682:hasInput ?elem;\n    \tagents:hasUrl ?url.\n    ?elem DINEN61360:has_Data_Element ?de.\n    ?de DINEN61360:has_Type_Description ?type;\n             DINEN61360:has_Instance_Description ?inst.\n    ?inst DINEN61360:Value ?val;\n                   DINEN61360:Logic_Interpretation ?logInt;\n                   DINEN61360:Expression_Goal ?expGoal.\n    BIND(\n        CONCAT(STR(?expGoal), STR(?logInt), STR(?val)) AS ?exp)\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\n\nnode.warn(\"query set\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":640,"wires":[["04ad7d1836a55613"]]},{"id":"8d60d6c40015ba22","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"'Gripper_A ' & msg.action & ' to: ' & msg.topic","targetType":"jsonata","statusVal":"","statusType":"auto","x":560,"y":380,"wires":[]},{"id":"dad50952088fab21","type":"switch","z":"f6807a34b2bccbe8","name":"all constraints true?","property":"payload.allConstraintsFulfilled","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":560,"wires":[["cf6a8fb436a57ef4"],["a5196d3d274a9bbc"]]},{"id":"a5196d3d274a9bbc","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Not all constraints fulfilled, cannot make a proposal\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1160,"y":580,"wires":[]},{"id":"bcfe03673226cf12","type":"function","z":"f6807a34b2bccbe8","name":"store wp_length","func":"flow.set(\"wp_length\", msg.payload.wp_length)\nflow.set(\"sender\", msg.payload.sender)\nflow.set(\"conversation_id\", msg.payload.conversation_id)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["cebb4b6b8e608163"]]},{"id":"e7a3730770944b64","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":940,"wires":[]},{"id":"566d7969efad5a44","type":"mqtt in","z":"f6807a34b2bccbe8","name":"Listen to Gripper_A","topic":"Gripper_A","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":800,"wires":[["cebb4b6b8e608163"]]},{"id":"28e1f21052a010c1","type":"function","z":"f6807a34b2bccbe8","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\n\nconst found = conversation_ids.some(existingId => existingId == conversation_id);\nmsg.payload.indicator = found;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":920,"wires":[["384e27059a248280"]]},{"id":"7cf7b39994c4035f","type":"comment","z":"f6807a34b2bccbe8","name":"CFP","info":"","x":690,"y":580,"wires":[]},{"id":"613073fd08d4787f","type":"comment","z":"f6807a34b2bccbe8","name":"Accept / Reject Proposal","info":"","x":670,"y":840,"wires":[]},{"id":"b55f2503c06ece9a","type":"switch","z":"f6807a34b2bccbe8","name":"accept / reject","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"ACCEPT_PROPOSAL","vt":"str"},{"t":"eq","v":"REJECT_PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":900,"wires":[["207409dddf7262c4"],[]]},{"id":"72f349c7f2955d9c","type":"debug","z":"f6807a34b2bccbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Gripper_A finished executing\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1480,"y":980,"wires":[]},{"id":"437d1b44.f1211c","type":"mqtt-broker","name":"Aedes","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]