flows/SensorB.json
[{"id":"cc47f38a995a1772","type":"tab","label":"Sensor B (GraphDB)","disabled":false,"info":""},{"id":"bb239b4c61a45fd2","type":"inject","z":"cc47f38a995a1772","name":"Object arrives at B","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":130,"y":100,"wires":[["fbf60d6a5334d579"]]},{"id":"f2c2f5fc2f8e8bc6","type":"function","z":"cc47f38a995a1772","name":"Calculate stop point","func":"const distance = 0.5 * msg.payload.wp_length;\nmsg.payload.distance_to_travel = distance;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":280,"wires":[["75df7f15e78bd6c4"]]},{"id":"963cae6b0b59cbb5","type":"comment","z":"cc47f38a995a1772","name":"stop at half the workpiece length","info":"","x":170,"y":200,"wires":[]},{"id":"75df7f15e78bd6c4","type":"http request","z":"cc47f38a995a1772","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/Stop","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":280,"wires":[["165e8af214991924"]]},{"id":"9fa99db28da4dfd2","type":"comment","z":"cc47f38a995a1772","name":"Request stop","info":"","x":450,"y":240,"wires":[]},{"id":"93615aa5ac718714","type":"comment","z":"cc47f38a995a1772","name":"Product is detected","info":"","x":170,"y":40,"wires":[]},{"id":"2f3ec556bcc52c9f","type":"http request","z":"cc47f38a995a1772","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"http://localhost:7200/repositories/AgentSummerSchool","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":930,"y":100,"wires":[["1bedf5d4be3e148c"]]},{"id":"92d70a490658045d","type":"comment","z":"cc47f38a995a1772","name":"Get length from GraphDB","info":"","x":650,"y":40,"wires":[]},{"id":"65fbef69b29592d2","type":"function","z":"cc47f38a995a1772","name":"get product length from GraphDB","func":"msg.sensorB_timeDetection = msg.payload.sensorB_timeDetection;\nmsg.barcode = msg.payload.barcode;\nmsg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agent-summer-school: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nSELECT ?product ?length WHERE {\n    ?product a agent-summer-school:Product;\n        agent-summer-school:hasProductId \"${msg.barcode}\";\n        agent-summer-school:hasLength ?length.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-query';\nmsg.headers['Accept'] = 'application/json';\nreturn msg;\n\n//PREFIX KI: <http://www.hsu-hh.de/aut/ontologies/KI1/agents#>","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":100,"wires":[["2f3ec556bcc52c9f"]]},{"id":"1bedf5d4be3e148c","type":"function","z":"cc47f38a995a1772","name":"extract content","func":"msg.payload.wp_length = msg.payload.results.bindings[0][\"length\"].value;\nnode.warn(\"wp length from GraphDB = \"+msg.payload.wp_length);\nmsg.payload.sensorB_timeDetection = msg.sensorB_timeDetection;\nmsg.payload.barcode = msg.barcode;\n\n// store wp_length to not lose it when doing HTTP requests\nflow.set(\"wp_length\", msg.payload.wp_length)\n\ndelete msg.payload.head;\ndelete msg.payload.results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":100,"wires":[["f2c2f5fc2f8e8bc6"]]},{"id":"3a1fa1ba1a014e94","type":"http request","z":"cc47f38a995a1772","name":"get topics from DF","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/df/get-topics","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":910,"y":280,"wires":[["a3f7c180b3681c64"]]},{"id":"165e8af214991924","type":"function","z":"cc47f38a995a1772","name":"gripper select-query","func":"msg.conveyor_stopped = msg.payload.conveyor_stopped;\nmsg.payload.capabilityType = \"http://www.hsu-hh.de/aut/ontologies/agent-summer-school#Handling\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":280,"wires":[["3a1fa1ba1a014e94"]]},{"id":"25638174a300b69b","type":"comment","z":"cc47f38a995a1772","name":"Pre-selection: Get topics for evey agent with capability \"Handling\"","info":"","x":890,"y":240,"wires":[]},{"id":"8dfcb2812fc0c8c4","type":"comment","z":"cc47f38a995a1772","name":"Handle GraphDB request","info":"","x":970,"y":40,"wires":[]},{"id":"fbf60d6a5334d579","type":"function","z":"cc47f38a995a1772","name":"detect ID","func":"// Get sensorA_timeEndDetection and simulate a delay until the workpiece arrives at sensor B\nconst sensorA_timeDetection = parseInt(global.get(\"sensorA_timeStartDetection\"));\nmsg.payload.sensorB_timeDetection =  sensorA_timeDetection + (500 + Math.random() * 500);\n\n// Get the last ID of the global ID list -> Simulates order: First I\nconst lastId = global.get(\"wpId\");\nmsg.payload.barcode = lastId;\n\nnode.warn(\"ID \"+lastId+\" detected by Sensor B\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["65fbef69b29592d2"]]},{"id":"c3d7483935170406","type":"mqtt out","z":"cc47f38a995a1772","name":"send CFP","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":500,"y":480,"wires":[]},{"id":"da8cb4e5e5c64427","type":"mqtt in","z":"cc47f38a995a1772","name":"","topic":"SensorAgent_B","qos":"2","datatype":"json","broker":"437d1b44.f1211c","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":1080,"wires":[["d45abfda790d8664","46adeceee049616f"]]},{"id":"92258b4bf21e18b5","type":"function","z":"cc47f38a995a1772","name":"save conv id","func":"agentname = msg.payload;\nmsg.payload = {};\nconversation_id = makeID(6);\nmsg.payload.conversation_id = conversation_id;\nvar conversation_ids = [];\nconversation_ids.push(conversation_id);\nflow.set(\"conversation_ids\", conversation_ids);\nmsg.payload.performative = \"CFP\";\nmsg.payload.sender = \"SensorAgent_B\";\nmsg.topic = agentname;\nmsg.payload.wp_length = flow.get(\"wp_length\");\nconst timeout = false;\nflow.set(\"timeout_check\", timeout);\nreturn msg;\n\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":520,"wires":[["c3d7483935170406","c3913619a6a2fb53"]]},{"id":"601ecf38f9d8ee80","type":"function","z":"cc47f38a995a1772","name":"check existing ids","func":"conversation_id = msg.payload.conversation_id;\nconst conversation_ids = flow.get(\"conversation_ids\") || [];\nnode.warn(\"conv ids\")\nnode.warn(conversation_ids)\nconst idFound = conversation_ids.some(existingId => conversation_id == existingId);\nmsg.payload.indicator = idFound;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1080,"wires":[["894c2a574bf6409d"]]},{"id":"894c2a574bf6409d","type":"switch","z":"cc47f38a995a1772","name":"id exists","property":"payload.indicator","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":1080,"wires":[["1c9b6f4905fe242d"],["591a8b04c91e0571"]]},{"id":"1c9b6f4905fe242d","type":"function","z":"cc47f38a995a1772","name":"store message","func":"const proposals_received = [];\nproposals_received.push(msg.payload);\nflow.set(\"proposals_received\", proposals_received);\n\nnode.warn(\"added\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1060,"wires":[[]]},{"id":"591a8b04c91e0571","type":"function","z":"cc47f38a995a1772","name":"give out error message","func":"node.warn(\"id unkown\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1100,"wires":[[]]},{"id":"a3f7c180b3681c64","type":"function","z":"cc47f38a995a1772","name":"set agents / topics","func":"flow.set(\"numberOfAgents\", msg.payload.numberOfAgents);\nmsg.payload = msg.payload.topics;\nconst current_time = Date.now();\nflow.set(\"time\", current_time);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":280,"wires":[["e637fdcc30f2770d"]]},{"id":"e637fdcc30f2770d","type":"split","z":"cc47f38a995a1772","name":"separate agents","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":140,"y":520,"wires":[["92258b4bf21e18b5"]]},{"id":"d45abfda790d8664","type":"switch","z":"cc47f38a995a1772","name":"check performative","property":"payload.performative","propertyType":"msg","rules":[{"t":"eq","v":"PROPOSAL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1080,"wires":[["601ecf38f9d8ee80"]]},{"id":"acbe5b7b6191fe1e","type":"function","z":"cc47f38a995a1772","name":"determine best proposal","func":"// Sort proposals received so that cheapest one is at [0]\nconst proposals_received = flow.get(\"proposals_received\");\nconst sortedProposals = proposals_received.sort((a,b) => a.price - b.price);\n\nconst bestProposal = sortedProposals[0];\nmsg.payload = bestProposal;\nmsg.topic = bestProposal.offeringAgent;\nmsg.payload.performative = \"ACCEPT_PROPOSAL\";\n\n// Remove the first (best) proposal - everything else can be rejected\nsortedProposals.shift()\nconst toReject = sortedProposals;\nflow.set(\"proposalsToReject\", toReject)\nnode.warn(\"reject\")\nnode.warn(toReject)\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":700,"wires":[["0ff86698b889ecbe","601a629789a1778d"]]},{"id":"0ff86698b889ecbe","type":"mqtt out","z":"cc47f38a995a1772","name":"send Accept Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1200,"y":660,"wires":[]},{"id":"601a629789a1778d","type":"function","z":"cc47f38a995a1772","name":"determine offers to reject","func":"const toReject = flow.get(\"proposalsToReject\");\nif(toReject.length > 0) {\n    msg.payload = toReject[0];\n    msg.topic = msg.payload.offeringAgent;\n    msg.payload.performative = \"REJECT_PROPOSAL\";\n    \n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":760,"wires":[["38171289f3c71bc1"]]},{"id":"38171289f3c71bc1","type":"mqtt out","z":"cc47f38a995a1772","name":"send Reject Proposal","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"437d1b44.f1211c","x":1420,"y":760,"wires":[]},{"id":"ac34e6eeabe783c8","type":"function","z":"cc47f38a995a1772","name":"set timeout","func":"const timeout = false;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":660,"wires":[["b904d3c887aa7908","46775d4d50fd7807"]]},{"id":"5557a21207a97137","type":"function","z":"cc47f38a995a1772","name":"check proposals received","func":"const proposals_received = flow.get(\"proposals_received\") || [];\nconst numberOfAgents = flow.get(\"numberOfAgents\");\nconst timeout = flow.get(\"timeout\");\nnode.warn(\"proposals-received \" + proposals_received.length + \" waiting for agents \"+ numberOfAgents + \" timeout \" + timeout);\n\nif(timeout == true || proposals_received.length >= numberOfAgents){\n        node.warn(\"Continue\");\n        msg.payload.startSelection = true;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":820,"wires":[["bffc829a505de5c0"]]},{"id":"c3913619a6a2fb53","type":"join","z":"cc47f38a995a1772","name":"","mode":"custom","build":"string","property":"topic","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":110,"y":660,"wires":[["ac34e6eeabe783c8"]]},{"id":"b904d3c887aa7908","type":"delay","z":"cc47f38a995a1772","name":"Wait 5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":620,"wires":[["67b1a2e249f941d1"]]},{"id":"67b1a2e249f941d1","type":"function","z":"cc47f38a995a1772","name":"set timeout true","func":"const timeout = true;\nflow.set(\"timeout\", timeout);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":620,"wires":[[]]},{"id":"46775d4d50fd7807","type":"trigger","z":"cc47f38a995a1772","name":"Check every 1s","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":720,"wires":[["f7958d69edf76988"]]},{"id":"f7958d69edf76988","type":"switch","z":"cc47f38a995a1772","name":"Check timeout","property":"timeout","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":720,"wires":[["18aa6cb1e2e4553a","acbe5b7b6191fe1e"],["5557a21207a97137"]]},{"id":"18aa6cb1e2e4553a","type":"function","z":"cc47f38a995a1772","name":"reset trigger","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":840,"wires":[["46775d4d50fd7807"]]},{"id":"bffc829a505de5c0","type":"switch","z":"cc47f38a995a1772","name":"If enough proposal received","property":"payload.startSelection","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":920,"wires":[["acbe5b7b6191fe1e","18aa6cb1e2e4553a"]]},{"id":"21f882730d151bae","type":"comment","z":"cc47f38a995a1772","name":"Receive and store proposals","info":"","x":160,"y":1000,"wires":[]},{"id":"46adeceee049616f","type":"debug","z":"cc47f38a995a1772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":1140,"wires":[]},{"id":"1c4be82a54a9abc3","type":"comment","z":"cc47f38a995a1772","name":"Wait for proposals","info":"","x":190,"y":720,"wires":[]},{"id":"92f8cdb9b2e6aced","type":"comment","z":"cc47f38a995a1772","name":"Continue if timeout or all agents answered","info":"","x":820,"y":660,"wires":[]},{"id":"437d1b44.f1211c","type":"mqtt-broker","name":"Aedes","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]