templates/Conveyor-Template.json
[{"id":"56fe18c9aa386d0a","type":"tab","label":"Conveyor Template","disabled":false,"info":"","env":[]},{"id":"275f1df26c4c03d0","type":"http response","z":"56fe18c9aa386d0a","name":"","statusCode":"","headers":{},"x":770,"y":120,"wires":[]},{"id":"cd4e86a6946cf7da","type":"http in","z":"56fe18c9aa386d0a","name":"","url":"conveyor/distance-travelled","method":"get","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["848567b5202d5c6e"]]},{"id":"b007b007bc01b783","type":"http in","z":"56fe18c9aa386d0a","name":"","url":"Stop","method":"get","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["804d6b6814a46190"]]},{"id":"7ce4ce672eb9727c","type":"http response","z":"56fe18c9aa386d0a","name":"","statusCode":"","headers":{},"x":950,"y":300,"wires":[]},{"id":"85f3726cb863f881","type":"delay","z":"56fe18c9aa386d0a","name":"Wait for stop","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":490,"y":300,"wires":[["ed5d3df7e63a41cb"]]},{"id":"e78601417712c096","type":"comment","z":"56fe18c9aa386d0a","name":"Stop the conveyor","info":"","x":490,"y":240,"wires":[]},{"id":"6964c65a020a2f66","type":"comment","z":"56fe18c9aa386d0a","name":"Wait for incoming request","info":"","x":150,"y":60,"wires":[]},{"id":"804d6b6814a46190","type":"function","z":"56fe18c9aa386d0a","name":"calculate time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\n\n// Add a delay until stop signal is received\nconst delay = 10;\nconst timeStopReceived = sensorB_timeDetection + delay;\n\nconst conveyorSpeed = flow.get(\"conveyorSpeed\");\n\nconst distanceDuringDelay = (delay / 1000) * conveyorSpeed;\nconst distanceToTravel = parseFloat(msg.payload.distance_to_travel)\n\nconst timeToRun = (distanceToTravel - distanceDuringDelay) / conveyorSpeed;\n\nmsg.delay = timeToRun * 1000;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":300,"wires":[["85f3726cb863f881"]]},{"id":"ed5d3df7e63a41cb","type":"function","z":"56fe18c9aa386d0a","name":"store \"conveyor stopped\" time","func":"const sensorB_timeDetection = parseInt(msg.payload.sensorB_timeDetection);\nmsg.payload.conveyor_stopped = sensorB_timeDetection + msg.delay;\nnode.warn(\"conveyor stopped at \"+msg.payload.conveyor_stopped);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":300,"wires":[["7ce4ce672eb9727c"]]},{"id":"848567b5202d5c6e","type":"function","z":"56fe18c9aa386d0a","name":"calculate length","func":"const conveyorSpeed = 2; // speed in m/s\nflow.set(\"conveyorSpeed\", conveyorSpeed);\n\n// Get the start and end times from the msg.payload passed via HTTP\n// -> Insert into parseInt\nconst sensorA_timeEndDetection = parseInt();\nconst sensorA_timeStartDetection = parseInt();\n\n// Calculate the wpLength using time difference and conveyor speed\n// const wpLength = ;\n\nmsg.payload.wp_length = parseFloat(wpLength).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["275f1df26c4c03d0"]]},{"id":"10cb7f927d3cbbe3","type":"comment","z":"56fe18c9aa386d0a","name":"Calculate length","info":"","x":500,"y":60,"wires":[]},{"id":"0b95e77b7b8479d6","type":"comment","z":"56fe18c9aa386d0a","name":"Return length","info":"","x":750,"y":60,"wires":[]}]