templates/SensorA-Template.json
[{"id":"14f6cfb57c7f3421","type":"tab","label":"Sensor A Template","disabled":false,"info":"","env":[]},{"id":"a565c66fa339c4d5","type":"comment","z":"14f6cfb57c7f3421","name":"Overall start: Workpiece at A","info":"","x":140,"y":40,"wires":[]},{"id":"aaf336da5129ced0","type":"function","z":"14f6cfb57c7f3421","name":"time_difference","func":"// Calculate the end-timestamp of detection by \n// adding the start time and the delay\n\n// Make sure to store it as \"sensorA_timeStartDetection\" \n// in the msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":100,"wires":[["0a5044b031cebeb1"]]},{"id":"0a5044b031cebeb1","type":"http request","z":"14f6cfb57c7f3421","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:1880/conveyor/distance-travelled","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":470,"y":260,"wires":[["5a228441c3ca1bda"]]},{"id":"186ee6fceaa55e20","type":"comment","z":"14f6cfb57c7f3421","name":"Store duration","info":"","x":1110,"y":40,"wires":[]},{"id":"39bffd3e7002fb20","type":"comment","z":"14f6cfb57c7f3421","name":"Get length from conveyor","info":"","x":470,"y":200,"wires":[]},{"id":"0d80f149204430f4","type":"comment","z":"14f6cfb57c7f3421","name":"delay by simulated duration","info":"","x":830,"y":40,"wires":[]},{"id":"84021e29fc4b1dfb","type":"function","z":"14f6cfb57c7f3421","name":"Generate random ID and travel duration","func":"// Creates a new random ID\nfunction makeID(length) {\n    const result           = [];\n    const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';\n    const charactersLength = characters.length;\n    for (let i = 0; i < length; i++ ) {\n      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));\n   }\n   return result.join('');\n}\n\nmsg.payload.barcode = makeID(6);\n\n// Set the current ID globally so that we can simulate detection on Sensor B\nglobal.set(\"wpId\", msg.payload.barcode);\n\n// Get the last sensorA_timeDetection from the global store (so that next product will start at a later time)\n// Note that when starting the flow the first time, this time will be undefined -> set to 0\nlet sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\");\n\nif (sensorA_timeStartDetection == undefined) {\n    sensorA_timeStartDetection = 0;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n} else {\n    sensorA_timeStartDetection = global.get(\"sensorA_timeStartDetection\") + Math.random() * 1000;\n    global.set(\"sensorA_timeStartDetection\", sensorA_timeStartDetection);\n}\nmsg.payload.sensorA_timeStartDetection = sensorA_timeStartDetection;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[[]]},{"id":"edecc218b3bf2eac","type":"comment","z":"14f6cfb57c7f3421","name":"Simulate ID detection and pass-through duration","info":"","x":500,"y":40,"wires":[]},{"id":"99d17354f06d5658","type":"http request","z":"14f6cfb57c7f3421","name":"Insert Product Into Graph DB","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:7200/repositories/AgentSummerSchool/statements","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1180,"y":260,"wires":[[]]},{"id":"3840a9fa24d54375","type":"function","z":"14f6cfb57c7f3421","name":"store product in GraphDB","func":"msg.payload = `\nPREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX agents: <http://www.hsu-hh.de/aut/ontologies/agent-summer-school#>\nINSERT DATA {\n    agents:Product_${msg.payload.barcode} a agents:Product;\n        agents:hasProductId \"${msg.payload.barcode}\";\n        agents:hasLength ${msg.payload.wp_length};\n        agents:timeAdded ${msg.payload.sensorA_timeStartDetection}.\n}`;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/sparql-update';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":260,"wires":[["99d17354f06d5658"]]},{"id":"451ddde194d824cb","type":"comment","z":"14f6cfb57c7f3421","name":"Store product with length in GraphDB","info":"","x":1030,"y":200,"wires":[]},{"id":"5a228441c3ca1bda","type":"debug","z":"14f6cfb57c7f3421","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]}]